
<div class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item pointer"><a class="breadcrumb-item" [routerLink]="['/inicio']">Inicio</a></li>
            <li class="breadcrumb-item pointer"><a class="breadcrumb-item" (click)="regresar()">Regresar</a></li>
            <li class="breadcrumb-item active">Historial de vehículo</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

<div class="card">
  <div class="card-body">
    <div class="row m-1">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <h2>Cotizaciones de vehículo</h2>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <!-- <input  (keyup)="applyFilter($event)" placeholder="Busqueda cualquier criterio" #input class="form-control form-control-sm"> -->
            </div>
    </div>
    <div class="mat-elevation-z8 table-responsive">
            <table #Cotizaciones="matSort" mat-table [dataSource]="dataSourceCotizaciones" matSort multiTemplateDataRows>
              <ng-container matColumnDef="no_cotizacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> # Cotizacion </th>
                <td mat-cell *matCellDef="let row" class="text-uppercase">
                  {{row.no_cotizacion }}
                </td>
              </ng-container>
            <ng-container matColumnDef="searchPlacas">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Placas </th>
              <td mat-cell *matCellDef="let row" class="text-uppercase">
                <!-- {{row.total | monedas}} -->
                {{row.vehiculo.placas }}
              </td>
            </ng-container>
              <!-- Fruit Column -->
              <ng-container matColumnDef="opciones">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp; </th>
                <td mat-cell *matCellDef="let row"> 
                </td>
              </ng-container>
              <ng-container matColumnDef="expand">
                <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                <td mat-cell *matCellDef="let element"  >
                  <!-- indexPosicionamiento -->
                    <button mat-icon-button aria-label="expand row" (click)="(expandedElementCotizaciones = expandedElementCotizaciones === element ? null : element); $event.stopPropagation();" >
                      <mat-icon *ngIf="expandedElementCotizaciones !== element">keyboard_arrow_down</mat-icon>
                      <mat-icon *ngIf="expandedElementCotizaciones === element">keyboard_arrow_up</mat-icon>
                    </button>
                </td>
              </ng-container>
              <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let row" [attr.colspan]="columnsToDisplayWithExpandCotizaciones.length">
                  <div class="example-element-detail row"
                      [@detailExpand]="row == expandedElementCotizaciones ? 'expanded' : 'collapsed'">
                      <div class="row m-1">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                          <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
                            <mat-tab label="Elementos">
                              <div class="table-responsive">
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th class="text-center" scope="col">#</th>
                                      <th class="text-start" scope="col">Nombre</th>
                                      <th class="text-center" scope="col">Cantidad</th>
                                      <th class="text-end" scope="col">Costo</th>
                                      <th class="text-end" scope="col">Precio</th>
                                      <th class="text-end" scope="col">Total</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let item of row.elementos; let i = index">
                                      <th class="text-center" scope="row">{{i +  1 }}</th>
                                      <td class="text-start" [ngClass]="{'tipo-paquete': item.tipo === paquete,'tipo-mo': item.tipo === mo,'tipo-refaccion': item.tipo === refaccion}">
                                        {{item.nombre | capitalizarUno}}
                                      </td>
                                      <td class="text-center">{{item.cantidad}} </td>
                                      <td class="text-end"> {{item.costo}} </td>
                                      <td class="text-end"> {{item.precio | monedas}}</td>
                                      <td class="text-end"> {{item.total | monedas}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-12 col-12" *ngIf="row.reporte">
                                <div class="card border-success mb-3">
                                  <div class="card-header text-center">
                                    Flotilla  
                                    <!-- <strong class="text-success" [ngClass]="{'text-danger': row.reporte['ub'] <55}">
                                        U.B estimada {{ row.reporte['ub']  | monedas:' % ' }}
                                      </strong> -->
                                    </div>
                                  <div class="card-body text-success ">
                                    <h5 class="card-title"></h5>
                                    <div class="row">
                                      <ng-container *ngFor="let campo of camposDesgloce">
                                        <ng-container *ngIf="row.reporte[campo['valor']] !== 0">
                                          <div class="col-lg-8 col-md-8 col-sm-6 col-6">{{campo['show'] | capitalizarUno}}</div>
                                          <div class="col-lg-4 col-md-4 col-sm-6 col-6 text-end"><strong>{{row.reporte[campo.valor]  | monedas}}</strong></div>
                                        </ng-container>
                                        
                                      </ng-container>
                                      <!-- <ng-container *ngIf="row.reporte['meses'] !== 0"> -->
                                        <!-- <div class="col-lg-8 col-md-8 col-sm-6 col-6">Total a {{meses}} meses</div> -->
                                        <!-- <div class="col-lg-4 col-md-4 col-sm-6 col-6 text-end"><strong>{{row.reporte['meses'] | monedas}}</strong></div> -->
                                      <!-- </ng-container> -->
                                      <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center"><strong>{{row.reporte['total']  | numerosLetras}}</strong></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </mat-tab>
                            <mat-tab label="Vehiculo">
                              <div class="card border-dark">
                                <div class="card-body">
                                  <h1>Informacion de vehiculo</h1>
                                  <div class="row">
                                    <ng-container *ngFor="let item of camposVehiculo">
                                      <div class="col-lg-4 col-md-4 col-sm-6 col-12 text-uppercase" *ngIf="row.vehiculo[item.valor]">
                                        <strong class="text-uppercase">{{item.show}} </strong>: {{row.vehiculo[item.valor]}}
                                      </div>
                                    </ng-container>
                                  </div>
                                </div>
                              </div>
                            </mat-tab>
                          </mat-tab-group>
                        </div>
                      </div>
                  </div>
                </td>
              </ng-container>
            
        
              <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpandCotizaciones"></tr>
              <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpandCotizaciones;"
                  class="example-element-row"
                  [class.example-expanded-row]="expandedElementCotizaciones === element"
                  (click)=" expandedElementCotizaciones = expandedElementCotizaciones === element ? null : element;">
                  <!--  -->
                  <!-- indexPosicionamiento -->
              </tr>
              <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row" ></tr>
        
              <!-- Row shown when there is no matching data. -->
              <!-- <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr> -->
            </table>
            <mat-paginator #CotizacionesPaginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
          <h2>Servicios vehículo</h2>
          <div class="row m-1">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                  <!-- <input  (keyup)="applyFilter($event)" placeholder="Busqueda cualquier criterio" #input class="form-control form-control-sm"> -->
              </div>
          </div>
          <div class="mat-elevation-z8 table-responsive">
              <table #Recepciones="matSort" mat-table [dataSource]="dataSourceRecepciones" matSort multiTemplateDataRows>
          
                
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
                  <td mat-cell *matCellDef="let row">
                    <strong>{{row.index  }}</strong>  
                </td>
                </ng-container>
          
                <ng-container matColumnDef="no_os">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> # Cotizacion </th>
                  <td mat-cell *matCellDef="let row" class="text-uppercase"> {{row.no_os }}</td>
                </ng-container>
              <ng-container matColumnDef="searchPlacas">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Placas </th>
                <td mat-cell *matCellDef="let row" class="text-uppercase">{{row.vehiculo.placas }}</td>
              </ng-container>
              <ng-container matColumnDef="fechaRecibido">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha recibido </th>
                <td mat-cell *matCellDef="let row" class="text-uppercase">{{row.fecha_recibido }}</td>
              </ng-container>
              <ng-container matColumnDef="fechaEntregado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha entregado </th>
                <td mat-cell *matCellDef="let row" class="text-uppercase">{{row.fecha_entregado}}</td>
              </ng-container>
                <!-- Fruit Column -->
                <ng-container matColumnDef="opciones">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp; </th>
                  <td mat-cell *matCellDef="let row"> 
                  </td>
                </ng-container>
              
          
                <ng-container matColumnDef="expand">
                  <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                  <td mat-cell *matCellDef="let element"  >
                    <!-- indexPosicionamiento -->
                      <button mat-icon-button aria-label="expand row" (click)="(expandedElementRecepciones = expandedElementRecepciones === element ? null : element); $event.stopPropagation();" >
                        <mat-icon *ngIf="expandedElementRecepciones !== element">keyboard_arrow_down</mat-icon>
                        <mat-icon *ngIf="expandedElementRecepciones === element">keyboard_arrow_up</mat-icon>
                      </button>
                  </td>
                </ng-container>
                <ng-container matColumnDef="expandedDetail">
                  <td mat-cell *matCellDef="let row" [attr.colspan]="columnsToDisplayWithExpandRecepciones.length">
                    <div class="example-element-detail row"
                        [@detailExpand]="row == expandedElementRecepciones ? 'expanded' : 'collapsed'">
                        <div class="row">
                          <!-- aqui la informacion del servicio -->
                          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                              <p> Dias en sucursal: <strong class="text-uppercase"> {{row.diasSucursal}}</strong></p>
                              <p> Fecha recibido: <strong class="text-uppercase"> {{row.fecha_recibido}} {{row.hora_recibido}}</strong></p>
                              <p> Fecha entregado: <strong class="text-uppercase"> {{row.fecha_entregado}} {{row.hora_entregado}}</strong></p>
                          </div>
                          <div class="row">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-12 m-1">
                                <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
                                  <mat-tab label="Elementos">
                                    <div class="row m-1">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-12" *ngIf="row.reporte">
                                      <div class="card border-success mb-3">
                                        <!-- <div class="card-header text-center">Desgloce
                                          <strong [ngClass]="{'text-danger': row.reporte['ub'] < 55,'text-success': row.reporte['ub'] >= 55}">
                                            U.B: {{row.reporte['ub'] | monedas:'%'}}
                                            <br>
                                            
                                          </strong>
                                          Cantidad: 
                                          <strong [ngClass]="{'text-danger': row.reporte['ub'] < 55,'text-success': row.reporte['ub'] >= 55}">
                                            {{(row.reporte['ub'] * row.reporte['total'] ) / 100 | monedas }}
                                          </strong>
                                          
                                        </div> -->
                                        <div class="card-body text-success ">
                                          <h5 class="card-title"></h5>
                                          <div class="row">
                                            <ng-container *ngFor="let campo of camposDesgloce">
                                              <ng-container *ngIf="row.reporte[campo['valor']] > 0">
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">{{campo['show'] | capitalizarUno}}</div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-end"><strong>{{row.reporte[campo.valor]  | monedas}}</strong></div>
                                              </ng-container>
                                            </ng-container>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center"><strong>{{row.reporte['total']  | numerosLetras}}</strong></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                      <h2>Total de gastos de orden: {{row.totalGastos | monedas}}</h2>
                                      <h2>Total de pagos de orden: {{row.totalPagos | monedas}}</h2>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                      <div class="table-responsive">
                                        <table class="table">
                                          <thead>
                                            <tr>
                                              <th class="text-center" scope="col">#</th>
                                              <th class="text-start" scope="col">Nombre</th>
                                              <th class="text-center" scope="col">Cantidad</th>
                                              <th class="text-end" scope="col">Precio sobrescrito</th>
                                              <th class="text-end" scope="col">Precio normal</th>
                                              <th class="text-end" scope="col">Total</th>
                                              <th class="text-end" scope="col">&nbsp;</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr *ngFor="let item of row.servicios; let i = index">
                                              <th class="text-center" scope="row">{{i +  1 }}</th>
                                              <td class="text-start" 
                                              [ngClass]="{'tipo-paquete': item.tipo === paquete,'tipo-mo': item.tipo === mo || item.tipo === 'mo','tipo-refaccion': item.tipo === refaccion}">
                                                {{item.nombre | capitalizarUno}}
                                              </td>
                                              <td class="text-center">{{item.cantidad}} </td>
                                              <td class="text-end"> {{item.costo | monedas}} </td>
                                              <td class="text-end"> {{item.precio | monedas}}</td>
                                              <td class="text-end"> {{item.total | monedas}}</td>
                                              <td class="text-end">
                                                {{item.showStatus}}
                                              <strong class="m-1" [ngClass]="{'text-success': item.aprobado, 'text-danger': !item.aprobado}">
                                                <i class="fa" [ngClass]="{'fa-check-double': item.aprobado,'fa-times': !item.aprobado }"></i>                          
                                              </strong>
                                                <!-- <button mat-button > -->
                                                  <!-- <i class="fa fa-tasks pointer m-1" [matMenuTriggerFor]="menu" *ngIf="row.status !== 'entregado' && row.status !== 'cancelado'"></i> -->
                                                <!-- </button> -->
                                                <!-- <mat-menu #menu="matMenu">
                                                  <button mat-menu-item *ngFor="let itemMenu of estatusServicioUnico"
                                                  (click)="accionServicio(row,item,itemMenu.valor)" >{{itemMenu.show}}</button>
                                                </mat-menu> -->
                                                <!-- {{item.showStatus}} || {{item.status}} -->
                      
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>  
                                    </div>
                                  </div>
                                  
                                    
                                    
                                  </mat-tab>
                                  
                                  <mat-tab label="Vehiculo">
                                    <div class="card border-dark">
                                      <div class="card-body">
                                        <h1>Informacion de vehiculo</h1>
                                        <div class="row">
                                          <ng-container *ngFor="let item of camposVehiculo">
                                            <div class="col-lg-4 col-md-4 col-sm-6 col-12 text-uppercase" *ngIf="row.vehiculo[item.valor]">
                                              <strong class="text-uppercase">{{item.show}} </strong>: {{row.vehiculo[item.valor]}}
                                            </div>
                                          </ng-container>
                                        </div>
                                      </div>
                                    </div>
                                  </mat-tab>
                                  <mat-tab label="Historial de pagos y gastos" *ngIf="row.hitorial_gastos && row.historial_pagos ">
                                      
                                      <div class="row m-1">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                                         

                                          <ng-container *ngIf="!row.hitorial_gastos; else elseGastos">
                                            <h2>Sin gastos</h2>
                                          </ng-container>
                                          <ng-template #elseGastos>
                                            <h2>Historial de gastos, Total de gastos: {{row.totalGastos | monedas}}</h2>
                                            <div class="table-responsive">
                                              <table class="table">
                                                <thead>
                                                  <tr>
                                                    <th scope="col">#</th>
                                                    <th [ngStyle]="{'min-width':(miniColumnas)*1+'px'}" class="text-start" *ngFor="let item of camposGastos_show">{{item | capitalizarUno}}</th>
                                                    <th [ngStyle]="{'min-width':(miniColumnas)*1+'px'}" class="text-start">Status</th> 
                                                    <th class="text-center"></th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr *ngFor="let item of row.hitorial_gastos; let i = index">
                                                    <th scope="row">{{i +1 }}</th>
                                                    <td class="text-start" *ngFor="let gasto of camposGastos">{{item[gasto] | capitalizarUno}}</td>
                                                    <td class="text-start fw-bold" [ngClass]="{'text-success': item.status, 'text-danger': !item.status}">
                                                      <ng-container *ngIf="item.status; else elseTemplate">
                                                        Aprobado
                                                      </ng-container>
                                                      <ng-template #elseTemplate>
                                                        Eliminado
                                                      </ng-template>
                                                    </td>
                                                    <!-- <td class="text-center">
                                                      <i class="fa fa-trash text-danger pointer"></i>
                                                    </td> -->
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </div>
                                          </ng-template>
                                          
                                          
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                                          <ng-container *ngIf="!row.historial_pagos; else elseGastos">
                                            <h2>Sin Pagos</h2>
                                          </ng-container>
                                          <ng-template #elseGastos>
                                            <h2>Historial de Pagos, Total de pagos: {{row.totalPagos | monedas}}</h2>
                                            <div class="table-responsive">
                                              <table class="table">
                                                <thead>
                                                  <tr>
                                                    <th scope="col">#</th>
                                                    <th [ngStyle]="{'min-width':(miniColumnas)*1+'px'}" class="text-start" *ngFor="let item of camposPagos_show">{{item}}</th>
                                                    <!-- <th [ngStyle]="{'min-width':(miniColumnas)*1+'px'}" class="text-start">Fecha registro</th>
                                                    <th [ngStyle]="{'min-width':(miniColumnas)*1+'px'}" class="text-start">Metodo</th>
                                                    <th [ngStyle]="{'min-width':(miniColumnas)*1+'px'}" class="text-end">Monto</th> -->
                                                    <th [ngStyle]="{'min-width':(miniColumnas)*1+'px'}" class="text-start">Status</th>
                                                    <th class="text-center">&nbsp;</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr *ngFor="let item of row.historial_pagos; let i = index">
                                                    <th scope="row">{{i +1 }}</th>
                                                    <td class="text-start" *ngFor="let campo of camposPagos">{{item[campo] | capitalizarUno}}</td>
                                                    <!-- <td class="text-start">{{item.fecha_registro}}</td>
                                                    <td class="text-start">{{item.metodoShow | capitalizarUno}}</td>
                                                    <td class="text-end">{{item.monto | monedas}}</td> -->
                                                    <td class="text-start fw-bold" [ngClass]="{'text-success': item.status, 'text-danger': !item.status}">
                                                      <ng-container *ngIf="item.status; else elseTemplate">
                                                        Aprobado
                                                      </ng-container>
                                                      <ng-template #elseTemplate>
                                                        Eliminado
                                                      </ng-template>
                                                    </td>
                                                    <!-- <td class="text-center">
                                                      <i class="fa fa-trash text-danger pointer" (click)="EliminaPago(row.id,item.id,'pago')"></i>
                                                    </td> -->
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </div>
                                          </ng-template>
                                          
                                        </div>
                                      </div>
                                  </mat-tab>
                                  <mat-tab label="Detalles" *ngIf="row.personalizados">
                                    <div class="row m-1">
                                      <ng-container *ngFor="let per of row.personalizados">
                                        <div class="col-lg-3 col-md-3 col-sm-4 col-12">
                                          <img [src]="per.data64" class="img-thumbnail" [alt]="per.nombre" style="max-width: 150px; max-height: 150px;">
                                        </div>
                                      </ng-container>
                                      <ng-container *ngIf="!row.personalizados">
                                          <div class="row">
                                              <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                                                  <h2>Sin detalles, imagenes, fotografias, etc.</h2>
                                              </div>
                                          </div>
                                      </ng-container>
                                    </div>
                                  </mat-tab>
                                </mat-tab-group>
                              </div>
                           </div>
                        </div>
                    </div>
                  </td>
                </ng-container>
              
          
                <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpandRecepciones"></tr>
                <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpandRecepciones;"
                    class="example-element-row"
                    [class.example-expanded-row]="expandedElementRecepciones === element"
                    (click)=" expandedElementRecepciones = expandedElementRecepciones === element ? null : element;">
                    <!--  -->
                    <!-- indexPosicionamiento -->
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row" ></tr>
          
                <!-- Row shown when there is no matching data. -->
                <!-- <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr> -->
              </table>
          
              <mat-paginator #RecepcionesPaginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
          </div>
  </div>
</div>