.nueva{
    color: #3574FA;
    color: #FF8623;
    color: #5ca04a;
    color: #7aa3e5;
    color: #a8385d;
    color: #aae3f5;
}

/* Estilo para el span */
span.etiqueta {
    font-size: 12px;
    background-color: rgb(50, 146, 202);
    color: white; /* Cambia el color del texto según tus preferencias */
    padding: 4px 8px; /* Ajusta el espaciado según tus preferencias */
    border-radius: 4px; /* Agrega esquinas redondeadas */
    margin-right: 8px; /* Agrega un margen derecho para separar etiquetas */
    margin-top: 4px; /* Agrega un margen arribas */
    display: inline-block; /* Hace que las etiquetas ocupen solo el ancho necesario */
  }
.pointer{
    cursor: pointer;
}