<app-template-navegacion></app-template-navegacion>

<div class="row">
<div class="col">
    <select aria-label="Search" class="form-control form-control-sm" #valJ (change)="obtener_informacion_cache(valJ.value)">
        <option value="">....</option>
        <option *ngFor="let item of campos" [value]="item.ruta_observacion">{{item.ruta_observacion}}</option>
    </select>
</div>

</div>
    

<input aria-label="Search" type="file" (change)="handleFileInput($event.target['files'])" accept=".xlsx" />
<div *ngIf="jsonData">
  <h2>Datos JSON generados:</h2>
  <pre>{{ jsonData | json }}</pre>
</div>