<app-template-navegacion></app-template-navegacion>

<div class="row">
  <div class="col">
      <select aria-label="Search" class="form-control form-control-sm" #valJ (change)="obtener_informacion_cache(valJ.value)">
          <option value="">....</option>
          <option *ngFor="let item of campos" [value]="item.ruta_observacion">{{item.ruta_observacion}}</option>
      </select>
  </div>
</div>
<div class="alert alert-info text-center">
  Asiganar cliente, vehiculo, elementos, reporte a la orden de servicio
  <br>
  <button class="btn btn-sm btn-danger m-2" (click)="asigancion_clientes_ordenes()">Generar Ordenes</button>
  <br>
  <strong class="text-danger">Cuando ambos contadores de clientes y vehiculos sean 0 se podra realizar el registro de la nuevas ordenes de servicio </strong>
</div>

<ng-container *ngIf="contador_nuevas_ordenes">
  Nuevas ordenes a registrar : <strong>{{contador_nuevas_ordenes}}</strong>
</ng-container>

<!-- <div class="row">
  <div class="col-lg-6 col-md-6 text-center">
    <button class="btn btn-sm btn-primary m-1" type="button">Registra clientes faltantes</button>
  </div>
  <div class="col-lg-6 col-md-6 text-center">
    <button class="btn btn-sm btn-primary m-1" type="button">Registra vehiculos faltantes</button>
  </div>
</div> -->

<!-- <button class="btn btn-sm btn-danger" (click)="Limpiar()"">Limpiar</button> -->

<div class="row">
  <div class="col-lg-6 col-md-6">
    <h1>ordenes_mes</h1>
    <input aria-label="Search" type="file" (change)="handleFileInput($event.target['files'])" #fileInput accept=".xlsx" placeholder="ordenes_mes"/>
   
  </div>
  <div class="col-lg-6 col-md-6">
    <h1>morefacciones_ordenes</h1>
    <input aria-label="Search" type="file" (change)="handleFileInput2($event.target['files'])" #fileInput2 accept=".xlsx" placeholder="morefacciones_ordenes"/>
    
  </div>
  <div class="col-lg-6 col-md-6">
    <h1>Clientes faltantes</h1>
    <p>cuantosClientes: {{cuantosClientes}}</p>
    <pre>
      {{faltantes_cliente | json}}
    </pre>
  </div>
  <div class="col-lg-6 col-md-6">
    <h1>Vehiculos faltantes</h1>
    <p>cuantosVehiculos: {{cuantosVehiculos}}</p>
    <pre>
      {{faltantes_vehiculos | json}}
    </pre>
  </div>
  <div class="col-lg-12 col-md-12">
    <!-- <button class="btn btn-block btn-warning" type="button" (click)="limpiar()">Limpia inputs</button> -->
    <h1>Informacion de ordenes a registrar</h1>
    <ng-container *ngIf="cuantosClientes === 0 && cuantosVehiculos === 0 && contador_nuevas_ordenes > 0">
      <button class="btn btn-block btn-warning" type="button" (click)="registra_nuevas()"> registra las ordenes??</button>
    </ng-container>
    <ng-container *ngIf="contador_nuevas_ordenes">
      <p>Nuevas ordenes a registrar : <strong>{{contador_nuevas_ordenes}}</strong></p>
    </ng-container>
    <pre>
      {{save_ordenes  | json}}
    </pre>
  </div>
</div>