


<div class="card">
    <div class="card-body">
        <div class="card-text">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-end fs-5">
                    <button type="button" (click)="inicioDetenerCita(false)" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center   text-body">
                    <h2 class="text-capitalize fs-5"> Tiempo restante: &nbsp; <span id="temporizador">00:00</span> </h2>
                    <ng-container *ngIf="!startProceso; else elseTemplate">
                        <button class="btn btn-sm btn-primary text-uppercase" (click)="inicioDetenerCita(true)">
                            <i class="far fa-play-circle"></i> Comenzar
                        </button>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <!-- <button class="btn btn-sm btn-danger text-uppercase" (click)="inicioDetenerCita(false)">
                            <i class="far fa-stop-circle"></i> Iniciar otra cita
                        </button> -->
                        <ng-container *ngIf="!confirmar; else elseConfirmar" >
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center text-uppercase fs-5 text-body ">
                                    <ng-container *ngIf="info_cita; else elseID">
                                        <h2> Reagendar cita </h2>
                                        <p>Fecha anterior de cita {{info_cita['dia']}} {{info_cita['horario']}}</p>
                                    </ng-container>
                                    <ng-template #elseID>
                                        <h2> Registro de Citas </h2>
                                    </ng-template>
                                </div>
                                <app-clientes-list [tituloshow]="false" (dataCliente)="infoCliente ( $event )"  class="m-1" ></app-clientes-list>

                                <app-cliente-tarjeta [cliente]="data_cliente" [editar]="false"></app-cliente-tarjeta>
                                <ng-container *ngIf="data_cliente && data_cliente['id']">
                                    <div class="card border-dark">
                                      <div class="card-body">
                                          <label for="vehiculos-lista">Placas de vehiculos disponibles</label>
                                          <div class="input-group mb-3">
                                            <select id="vehiculos-lista" class=" form-select  form-select-sm text-uppercase"  [ngModel]="extra" #valV (change)="vehiculo( valV.value )">
                                              <option  value="">Selecciona placas</option>
                                              <option [value]="v.id" *ngFor="let v of arr_vehiculos">{{v.placas}}</option>
                                            </select>
                                            <button aria-label="modalVehiculo" class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#modalNewVehiculo" #tooltip="matTooltip" matTooltip="Registra nuevo vehiculo">
                                              <i class="fa fa-car"></i>
                                            </button>
                                          </div>
                                        
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-1 mb-1">
                                          <app-vehiculo-tarjeta [vehiculo]="data_vehiculo"></app-vehiculo-tarjeta>
                                        </div>
                                      </div>
                                    </div>
                                  </ng-container>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                    
                                    <form [formGroup]="citaForm" (ngSubmit)="guardarCita()">
                                        <div class="row text-start">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="mb-1 row">
                                            <label for="servicio" class="text-end col-sm-3 col-md-4 col-lg-3 col-form-label">Servicio </label>
                                            <div class="col-sm-9 col-md-8 col-lg-9 ">
                                                <select class=" form-select  form-select-sm" formControlName="servicio" required 
                                                [class.is-invalid]="validarCampo('servicio')" id="servicio">
                                                <option value="" >selecciona</option>
                                                <option [value]="item.valor" *ngFor="let item of camposServicios">{{item.nombre | uppercase}}</option>
                                                </select>
                                                <small *ngIf="validarCampo('servicio')" class="text-danger">campo requerido</small>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="mb-1 row">
                                            <label for="dia" class="text-end col-sm-3 col-md-4 col-lg-3 col-form-label">Dia</label>
                                            <div class="col-sm-9 col-md-8 col-lg-9 ">
                                                <div class="input-group mb-3">
                                                    <input class="form-control form-control-sm" (click)="picker.open()" id="dia"
                                                     [matDatepickerFilter]="myFilter" (dateChange)="addEvent('change', $event)" [formControl]="dateControl" [matDatepicker]="picker" >
                                                    <mat-datepicker #picker ></mat-datepicker>
                                                  </div>
                                                <small *ngIf="validarCampo('dia')" class="text-danger">campo requerido</small>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="mb-1 row">
                                            <label for="horario" class="text-end col-sm-3 col-md-4 col-lg-3 col-form-label">Hora</label>
                                            <div class="col-sm-9 col-md-8 col-lg-9 ">
                                                <select class=" form-select  form-select-sm" formControlName="horario" required 
                                                [class.is-invalid]="validarCampo('horario')" id="horario">
                                                    <option value="" >selecciona</option>
                                                    <option [value]="hora" *ngFor="let hora of horarios_show">{{hora }}</option>
                                                </select>
                                                <small *ngIf="validarCampo('horario')" class="text-danger">campo requerido</small>
                                            </div>
                                            </div>
                                        </div>
                                        
                                        
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="mb-1 row">
                                                <!-- <label for="cotizacion_utiliza" class="text-end col-sm-3 col-md-4 col-lg-3 col-form-label"></label> -->
                                                <strong class="text-end col-sm-3 col-md-4 col-lg-3">Utilizar cotización</strong>
                                                <div class="col-sm-9 col-md-8 col-lg-9 ">
                                                    <mat-radio-group formControlName="cotizacion_utiliza" id="cotizacion_utiliza">
                                                        <mat-radio-button  class="m-1" [value]="false" >Sin cotizacion</mat-radio-button>
                                                        <mat-radio-button  class="m-1" [value]="true">Usar cotizacion</mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                                </div>
                                        </div>
                                        <ng-container *ngIf="citaForm.get('cotizacion_utiliza').value">
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="mb-1 row">
                                                    <strong  class="text-end col-sm-3 col-md-4 col-lg-3 col-form-label">id_cotizacion</strong>
                                                    <div class="col-sm-9 col-md-8 col-lg-9 ">
                                                        <select formControlName="id_cotizacion" class="form-select  form-select-sm" id="id_cotizacion">
                                                            <option value="" >Selecciona</option>
                                                            <option [value]="item.id" *ngFor="let item of cotizacionesRealizadas">{{item.no_cotizacion}}</option>
                                                        </select>
                                                    </div>
                                                    </div>
                                            </div>
                                        </ng-container>
                                        
                                        <!-- <pre>
                                            {{ citaForm.value | json}}
                                        </pre> -->
                                        
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="mb-1 row">
                                            <label for="comentario" class="text-end col-sm-3 col-md-4 col-lg-3 col-form-label">Comentario</label>
                                            <div class="col-sm-9 col-md-8 col-lg-9 ">
                                                <textarea  style="width: 100%;" formControlName="comentario" id="comentario"></textarea>
                                                <small *ngIf="validarCampo('comentario')" class="text-danger">campo requerido</small>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="mb-1 row">
                                            <strong  class="text-end col-sm-3 col-md-4 col-lg-3 col-form-label">Recoleccion a domicilio</strong>
                                            <div class="col-sm-9 col-md-8 col-lg-9 ">
                                                <mat-radio-group formControlName="recoleccion" id="recoleccion">
                                                    <mat-radio-button  class="m-1" [value]="false" >NO</mat-radio-button>
                                                    <mat-radio-button  class="m-1" [value]="true">SI</mat-radio-button>
                                                </mat-radio-group>
                                                <small *ngIf="validarCampo('recoleccion')" class="text-danger">campo requerido</small>
                                            </div>
                                            </div>
                                        </div>
                                        <ng-container *ngIf="citaForm.get('recoleccion').value">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                                <span class="text-danger">
                                                    La citas a domicilio son a reserva de confirmación dependiendo horarios y distancias, pero se estaría confirmando vía correo o bien un ejecutivo se estaría poniendo en contacto para mas detalles.
                                                </span>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="mb-1 row">
                                                <label for="direccion" class="text-end col-sm-3 col-md-4 col-lg-3 col-form-label">Link de dirección</label>
                                                <div class="col-sm-9 col-md-8 col-lg-9 ">
                                                    <textarea  style="width: 100%;" formControlName="direccion" id="direccion"></textarea>
                                                    <!-- <input type="text"  formControlName="direccion"> -->
                                                    <small *ngIf="validarCampo('direccion')" class="text-danger">campo requerido</small>
                                                </div>
                                                </div>
                                            </div>
                                        </ng-container>
                                        </div>
                                        <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                                            <button type="submit" class="btn btn-primary btn-sm text-uppercase m-1" [ngStyle]="{'min-width':(miniColumnas)*1+'px'}">
                                                <i class="fas fa-file-alt"></i> Genera cita
                                            </button>
                                            
                                            <button type="button" class="btn btn-sm btn-danger text-uppercase" (click)="iniciarOtraCita()">
                                                <i class="far fa-stop-circle"></i> Reiniciar
                                            </button>
                                            <button type="button" (click)="inicioDetenerCita(false)" class="btn btn-sm btn-danger text-uppercase m-1" [ngStyle]="{'min-width':(miniColumnas)*1+'px'}" data-bs-dismiss="modal" aria-label="Close">
                                                <i class="fa fa-ban"></i> salir
                                            </button>
                                        </div>
                                        </div>
                                        <app-tarjeta-faltantes [faltante_s]="faltante_s"></app-tarjeta-faltantes>
                                    </form>
                                </div>
                            </div>
                        </ng-container>
                        <ng-template #elseConfirmar>
                            <!-- {{infoCita | json}} -->
                            <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <ul class="list-group">
                                <div class="row">
                                    <li class="list-group-item col-lg-12 col-md-12 col-sm-12 col-12 text-center text-uppercase fs-5 text-body">Confirma información</li>
                                    <ng-container *ngFor="let campo of camposInfoCita">
                                        <ng-container *ngIf="infoCita[campo.valor]">
                                            <li class="col-lg-4 col-md-4 col-sm-12 col-12 list-group-item text-end">{{campo.show | capitalizarUno}}</li>
                                            <ng-container *ngIf="campo.valor === 'cotizacionCosto'">
                                                <li class="col-lg-8 col-md-8 col-sm-12 col-12 list-group-item text-start" >{{infoCita[campo.valor] | monedas}}</li>
                                            </ng-container>
                                            <ng-container *ngIf="campo.valor === 'direccion'">
                                                <li class="col-lg-8 col-md-8 col-sm-12 col-12 list-group-item text-start direccion" >
                                                    <a [href]="infoCita[campo.valor]" target="_blank">{{infoCita[campo.valor] }}</a>
                                                </li>
                                            </ng-container>
                                            <ng-container *ngIf="campo.valor !== 'cotizacionCosto' && campo.valor !== 'direccion' ">
                                                <li class="col-lg-8 col-md-8 col-sm-12 col-12 list-group-item text-start">{{infoCita[campo.valor] | uppercase}}</li>
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>
                                </div>
                                </ul>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                                <button (click)="ConfirmaCita()" class="btn btn-sm btn-danger text-uppercase m-1" [ngStyle]="{'min-width':(miniColumnas)*1+'px'}">
                                    <i class="fa fa-save"></i> Confirmar 
                                </button>
                                <button (click)="confirmar = false" 
                                class="btn-close" 
                                class="btn btn-sm btn-primary text-uppercase m-1" [ngStyle]="{'min-width':(miniColumnas)*1+'px'}">
                                    <i class="fa fa-ban"></i> Cancelar
                                </button>
                            </div>
                            </div>
                        </ng-template>
                    </ng-template>
                    
                </div>
            </div>
            
        </div>
    </div>
  </div>

