<app-template-navegacion></app-template-navegacion>
<div class="card">
    <div class="card-body">
        <div class="row m-1">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Estadisticas
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <ng-container *ngFor="let campo of tabla_promedios">
                        <div class="row">
                          <div class="col-lg-8 col-md-8 col-sm-6 col-6">{{ campo.show | capitalizarUno}}</div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-6 text-end">
                            <ng-container *ngIf="campo.valor === 'servicios_totales'; else elseTotales">
                              {{ valores_promedios[campo.valor] }}
                            </ng-container>
                            <ng-template #elseTotales>
                              {{valores_promedios[campo.valor] | monedas }}
                            </ng-template>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Más altas
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                          Inversion mas alta: <strong>{{valores_tabla_maximos['maximo'] | monedas}}</strong>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                          Contador altas: <strong>{{valores_tabla_maximos['contadorMaximo']}}</strong>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                          <!-- {{valores_tabla_maximos['similitudesMaximo']}} -->
                          Cotizaciones maximas: <br><strong>{{valores_tabla_maximos['similitudesMaximo']}} </strong>
                          <!-- <p>
                            <button class="btn btn-primary btn-sm" type="button"  (click)="asing_muestra(!collapse_maximo_b,'maximas') ">
                              {{ collapse_maximo_b ? 'Ocultar Cotizaciones maximas' : 'Ver Cotizaciones maximas' }}
                            </button>
                          </p>
                          <ng-container *ngIf="collapse_maximo_b">
                            <div class="card card-body">
                              {{valores_tabla_maximos['similitudesMaximo']}}
                            </div>
                          </ng-container> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Más bajas
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            Inversion mas alta: <strong>{{valores_tabla_minimos['minimo'] | monedas}}</strong>
                          </div>
                          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            Contador minimas: <strong>{{valores_tabla_minimos['contadorMinimo']}}</strong>
                          </div>
                          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            Cotizaciones minimas: <br><strong>{{valores_tabla_minimos['similitudesMinimo']}}</strong>
                            <!-- <p>
                              <button class="btn btn-primary btn-sm" type="button"  (click)="asing_muestra(!collapse_minimas_b,'minimas') ">
                                {{ collapse_minimas_b ? 'Ocultar Cotizaciones minimas' : 'Ver Cotizaciones minimas' }}
                              </button>
                            </p>
                            <ng-container *ngIf="collapse_minimas_b">
                              <div class="card card-body">
                                {{valores_tabla_minimos['similitudesMinimo']}}
                              </div>
                            </ng-container> -->
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              
              
              <!-- <ngx-charts-pie-chart
              [view]="view_comparativa"
              [scheme]="colorScheme"
              [results]="single"
              [gradient]="gradient"
              

              [labels]="showLabels"
              [doughnut]="isDoughnut"
              >
            </ngx-charts-pie-chart> -->
            </div>

        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-1 mb-1 mt-2">
          <app-template-tabla-cotizaciones [cotizaciones_arr]="cotizaciones_arr" [muestra_desgloce]="false"></app-template-tabla-cotizaciones>
        </div>
    </div>
</div>