<div class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a class="breadcrumb-item" [routerLink]="['/inicio']">Inicio</a></li>
            <!-- <li class="breadcrumb-item"><a class="breadcrumb-item" (click)="regresar()">Regresar</a></li> -->
            <li class="breadcrumb-item active">Mi cotizaciones</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
<div class="card">
    <div class="card-body">
        <div class="row m-1">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="card-body text-success ">
                <h5 class="card-title"></h5>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                      <div class="card-body">
                        <ng-container *ngFor="let campo of tabla_promedios">
                          <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-6 col-6">{{ campo.show | capitalizarUno}}</div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-6 text-end">
                              <ng-container *ngIf="campo.valor === 'servicios_totales'; else elseTotales">
                                {{ valores_promedios[campo.valor] }}
                              </ng-container>
                              <ng-template #elseTotales>
                                {{valores_promedios[campo.valor] | monedas }}
                              </ng-template>
                            </div>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                    
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                      <div class="card-body">
                        <ng-container *ngFor="let campo of tabla_maximos">
                          <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">{{ campo.show | capitalizarUno}}</div>
                            <ng-container *ngIf="['arreglo_maximo'].includes(campo.valor); else arreglo_maximo">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-start">
                                {{valores_tabla_maximos[campo.valor]}}
                              </div>
                            </ng-container>
                            <ng-template #arreglo_maximo>
                              <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-end">
                                <ng-container *ngIf="['maximo'].includes(campo.valor); else elseMinimas">
                                  {{ valores_tabla_maximos[campo.valor] | monedas }}
                                </ng-container>
                                <ng-template #elseMinimas>
                                  {{valores_tabla_maximos[campo.valor]  }}
                                </ng-template>
                              </div>
                            </ng-template>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                      <div class="card-body">
                        <ng-container *ngFor="let campo of tabla_minimos">
                          <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">{{ campo.show | capitalizarUno}}</div>

                            <ng-container *ngIf="['arreglo_minimo'].includes(campo.valor); else arreglo_minimo">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-start">
                                {{valores_tabla_minimos[campo.valor]  }}
                              </div>
                            </ng-container>
                            <ng-template #arreglo_minimo>
                              <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-end">
                                <ng-container *ngIf="['minimo'].includes(campo.valor); else elseMinimas">
                                  {{ valores_tabla_minimos[campo.valor] | monedas }}
                                </ng-container>
                                <ng-template #elseMinimas>
                                  {{valores_tabla_minimos[campo.valor]  }}
                                </ng-template>
                              </div>
                            </ng-template>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
              
              <!-- <ngx-charts-pie-chart
              [view]="view_comparativa"
              [scheme]="colorScheme"
              [results]="single"
              [gradient]="gradient"
              

              [labels]="showLabels"
              [doughnut]="isDoughnut"
              >
            </ngx-charts-pie-chart> -->
            </div>

        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-1 mb-1 mt-2">
          <app-template-tabla-cotizaciones [cotizaciones_arr]="cotizaciones_arr" [muestra_desgloce]="false"></app-template-tabla-cotizaciones>
        </div>
    </div>
</div>