
<div class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <ol class="breadcrumb float-sm-right">
          <!-- <li class="breadcrumb-item"><a class="breadcrumb-item" [routerLink]="['/cotizacion']">Regresar</a></li> -->
          <li class="breadcrumb-item"><a class="breadcrumb-item pointer" (click)="regresar()">Regresar</a></li>
          <li class="breadcrumb-item active">Nueva cotización</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<app-clientes-list (dataCliente)="infoCliente ( $event )" ></app-clientes-list>


<div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-1 mb-1" >
  <app-cliente-tarjeta [cliente]="infoConfirmar.data_cliente" [editar]="editar_cliente"></app-cliente-tarjeta>
</div>








<div class="card border-dark">
  <div class="card-body">
    <ng-container *ngIf="infoConfirmar.cliente">
      <label for="exampleInputEmail1">Placas de vehiculos disponibles </label>
      <div class="input-group mb-3">
        <select class=" form-select  form-select-sm text-uppercase" [ngModel]="extra" #valV  (change)="vehiculo( valV.value )">
          <option [selected]="extra" value="" >Seleccionar vehiculo</option>
          <option [value]="v.id" *ngFor="let v of infoConfirmar.vehiculos">{{v.placas}}</option>
        </select>
        <button class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#modalNewVehiculo" #tooltip="matTooltip" matTooltip="Registra nuevo vehiculo">
          <i class="fa fa-car"></i>
          </button>
      </div>
    </ng-container>
    <h1>Informacion de vehiculo</h1>
    <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-1 mb-1"> -->
      <app-vehiculo-tarjeta [vehiculo]="infoConfirmar.data_vehiculo"></app-vehiculo-tarjeta>
    <!-- </div> -->
  </div>
</div>

<mat-vertical-stepper [linear]="false" #stepper >
  <mat-step class="border-1">
    <ng-template matStepLabel>Servicios a realizar</ng-template>
    <br>
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-end">
      <button  data-bs-toggle="modal" data-bs-target="#modalPaquetes" class="btn btn-sm btn-primary m-1" [ngStyle]="{'min-width':(miniColumnas)*1.5+'px'}">Agregar paquete</button>
      <button  data-bs-toggle="modal" data-bs-target="#modalElemento" class="btn btn-sm btn-primary m-1" [ngStyle]="{'min-width':(miniColumnas)*1.5+'px'}" >Agregar elemento</button>
    </div>
    <br>
    <div class="mat-elevation-z8 table-responsive">
      <table #elements="matSort" mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
    
        <!-- ID Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let row" 
          [ngClass]="{'tipo-mo': row.tipo === mo,'tipo-refaccion': row.tipo === refaccion,'tipo-paquete': row.tipo === paquete}">
            <strong>{{row.nombre | capitalizarUno}}</strong>  
        </td>
        </ng-container>
    
        <!-- Progress Column -->
        <ng-container matColumnDef="cantidad">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
          <td mat-cell *matCellDef="let row"> 
          <input type="number" min="1"  maxlength="5" onkeypress="soloNumeros(event)" [value]="row.cantidad" 
          (change)="editar('cantidad',row, cantidadEle.value)" #cantidadEle class="smallInput">
          </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="sobrescrito">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Costo sobrescrito </th>
          <td mat-cell *matCellDef="let row"> 
    
            <input  type="number" min="0" [value]="row.costo" maxlength="5" onkeypress="validarDecimal(event)" 
          (change)="editar('costo',row, costoSobre.value)" #costoSobre class="smallInput">
          <!-- {{row.sobrescrito | monedas}} -->
             </td>
        </ng-container>
      <!-- Fruit Column -->
      <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Costo </th>
        <td mat-cell *matCellDef="let row">
          {{row.total | monedas}}
        </td>
      </ng-container>
        <!-- Fruit Column -->
        <ng-container matColumnDef="opciones">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp; </th>
          <td mat-cell *matCellDef="let row"> 
          <!-- aqui el btn para eliminar -->
          <i class="fa fa-trash pointer btn btn-sm btn-danger" (click)="eliminaElemento(row)"></i>
          <button  data-bs-toggle="modal" data-bs-target="#modalElemento" class="btn btn-sm btn-primary m-1" 
                  (click)="idPaqueteEditar = row.index; idPaqueteEditarBoolean = true" *ngIf="row.tipo === paquete">
                  <i class="fa fa-plus"></i>
                </button>
          </td>
        </ng-container>
       
    
        <ng-container matColumnDef="expand">
          <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.tipo === paquete">
              <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
              </button>
            </ng-container>
          </td>
        </ng-container>
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let row" [attr.colspan]="columnsToDisplayWithExpand.length">
            <div class="example-element-detail"
                 [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Cantidad</th>
                      <th scope="col">Costo</th>
                      <th scope="col">Precio</th>
                      <th scope="col">Total</th>
                      <th scope="col">&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of row.elementos; let i = index">
                      <th scope="row">{{i +  1 }}</th>
                      <td class="text-start" [ngClass]="{'tipo-mo': item.tipo === mo,'tipo-refaccion': item.tipo === refaccion}">
                        {{item.nombre | capitalizarUno}}
                      </td>
                      <td class="text-center">
                        <input  type="number"  min="1" [value]="item.cantidad" maxlength="5" onkeypress="soloNumeros(event)" class="smallInput"
                                (change)="editar_subelemento_paquete('cantidad',row,item, cantidadSub.value)" #cantidadSub>
                        <!-- {{item.cantidad}} -->
                      </td>
                      <td class="text-end">
                        <input  type="number"  min="0" [value]="item.costo" maxlength="5" onkeypress="validarDecimal(event)" class="smallInput"
                                (change)="editar_subelemento_paquete('costo',row,item, cantidadCosto.value)" #cantidadCosto>
                              <!-- {{item.costo | monedas}} -->
                      </td>
                      <td class="text-end">{{item.precio | monedas}}</td>
                      <td class="text-end">{{item.total | monedas}}</td>
                      <td class="text-end">
                        <!-- (click)="eliminaElemento(row)" -->
                        <i class="fa fa-trash pointer btn btn-sm btn-danger" (click)="eliminar_subelemento_paquete(row,item)" ></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
            </div>
          </td>
        </ng-container>
      
    
        <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
            class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            >
            <!-- (click)="expandedElement = expandedElement === element ? null : element" -->
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    
        <!-- Row shown when there is no matching data. -->
        <!-- <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr> -->
      </table>
    
      <mat-paginator #elementsPaginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
    <br>
    <div class="row">
      
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="card border-success mb-3">
          <div class="card-header text-center">
            Desgloce 
            <mat-checkbox class="example-margin" [(ngModel)]="infoConfirmar.iva" (click)="realizaOperaciones()">IVA</mat-checkbox>
          </div>
          <div class="card-body text-success ">
            <h5 class="card-title"></h5>
            <div class="row">
              <ng-container *ngFor="let campo of camposDesgloce">
                <ng-container *ngIf="infoConfirmar.reporte[campo['valor']] > 0">
                  <div class="col-lg-8 col-md-8 col-sm-6 col-6">{{campo['show'] | capitalizarUno}}</div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-6 text-end"><strong>{{infoConfirmar.reporte[campo.valor]  | monedas}}</strong></div>
                </ng-container>
                
              </ng-container>
              <ng-container *ngIf="infoConfirmar.reporte['meses'] > 0">
                <!-- <div class="col-lg-8 col-md-8 col-sm-6 col-6">Total a {{meses}} meses</div> -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-6 text-end"><strong>{{infoConfirmar.reporte['meses'] | monedas}}</strong></div>
              </ng-container>
              <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center"><strong>{{infoConfirmar.reporte['total']  | numerosLetras}}</strong></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <label for="observaciones" >Observaciones: </label>
        <textarea name="observaciones" id="observaciones" cols="10" rows="4" style="width: 100%;" [(ngModel)]="observaciones"></textarea>
      </div>
    </div>
    
    
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
      <button class="btn btn-sm btn-primary m-1"  [ngStyle]="{'min-width':(miniColumnas)*1.5+'px'}" matStepperNext>Siguiente</button>
    </div>
  </mat-step>
  
  <mat-step>
    <ng-template matStepLabel>Rayar detalles de vehiculo</ng-template>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
        <mat-tab-group animationDuration="0ms">
          <mat-tab label="Check detalles">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-end">
                <mat-checkbox type="checkbox" class="example-margin" (click)="cambiaTodosCheckA(sinDetalles)" [(ngModel)]="sinDetalles">Sin detalles</mat-checkbox>
              </div>
              <ng-container *ngIf="!sinDetalles">
                <div class="card col-lg-3 col-md-3 col-sm-6 col-xs-6 col-4" *ngFor="let item of infoConfirmar.detalles; let i = index">
                  <img [src]="'../../../assets/imagenes_detalles/'+item.valor+'.jpg'" class="card-img-top  rayar" [alt]="item.show" width="150px" height="150px">
                  <div class="card-body">
                    <ng-container class="card-text">
                      <mat-checkbox type="checkbox" [checked]="item.status" class="example-margin" [id]="item.valor" (click)=" cambiarCheck( i, !item.status )">
                        {{item.show}}
                      </mat-checkbox>
                    </ng-container>
                  </div>
                </div>
              </ng-container>
              
              
            </div>
          </mat-tab>
          <mat-tab label="Personalizado">
            <br>
            <div class="row">
              <div class="col">
                <button class="btn btn-sm btn-primary m-1" (click)="principal()">Reiniciar</button>
                <!--  -->
                <button class="btn btn-sm btn-success m-1" (click)="primeraAccion()" >Guardar</button>
                            <!-- [disabled]="disableBtnGuardarIMG || !contieneIMG" -->
                            <!--  -->
              </div>
              
              <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="mb-3 row">
                  <label for="" class="col-sm-4 col-form-label">Color de pluma</label>
                  <div class="col-sm-8">
                    <select class="form-select form-select-sm" (change)="colorPluma = plumaColor.value" aria-label=".form-select-sm example" #plumaColor>
                      <option [value]="item.color" *ngFor="let item of coloresPluma">{{item.show}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <main class="main-container">
              <canvas #detalles id="main-canvas" width="500" height="500"></canvas>
            </main>
            <br>
          </mat-tab>
          <mat-tab label="Fotografias o imagenes">
            <br>
            <!--  -->
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-end">
                <ng-container *ngIf="cameraStart; else elseCameraStart">
                  <i class="fa fa-sync text-primary fa-2x m-1" (click)="getCamera(!camaraVuelta)" ></i>
                  <i class="fa fa-toggle-on fa-2x m-1 text-danger" (click)="cameraOFF()" #tooltip="matTooltip"
                  matTooltip="Apagar camara"></i>
                  <i class="fa fa-camera-retro fa-2x m-1 text-success m-1" (click)="sacarFoto()" #tooltip="matTooltip"
                    matTooltip="Tomar foto"></i>
                </ng-container>
                <ng-template #elseCameraStart>
                  <i class="fa fa-camera fa-2x m-1 text-success" (click)="dimensiones()" #tooltip="matTooltip"
                  matTooltip="Encender camara"></i>
                </ng-template>                    
                <ng-container *ngIf="foto_tomada; else elseFotoCancela">
                    <i class="fa fa-trash fa-2x text-danger m-1" (click)="cancelarFoto()" #tooltip="matTooltip"
                    matTooltip="Eliminar foto"></i>
                    <i class="fa fa-save fa-2x text-primary m-1" (click)="guardaImagen()" #tooltip="matTooltip"
                    matTooltip="Guardar foto"></i>
                </ng-container>
                <ng-template #elseFotoCancela>
                    
                </ng-template>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center" id="divCamera" [hidden]="!cameraStart" 
                      style="width: 100%;" >
                        <!-- style="position: absolute; top: 0;visibility:hidden; left: 0;opacity: 0;" -->
                        <ng-container *ngIf="foto_tomada; else elseFoto">
                          <img [src]="foto_tomada"  alt="" class="img-thumbnail">
                        </ng-container>
                        <ng-template #elseFoto>
                          <div class="row">
                            <div class="col text-center">
                              <video  style="position:relative;" muted #videoContainer [width]="sizeScreen.w" [height]="sizeScreen.h"></video>
                            </div>
                          </div>
                        </ng-template>
                        <canvas style="position: absolute; top: 0;visibility:hidden; left: 0;opacity: 0;"  width="640" height="480"  class="js-canvas" #myCanvas></canvas>
                      </div>
            <ngx-dropzone (change)="onSelect($event)" class="well drop-zone" [multiple]="true"
                        accept="image/jpeg,image/jpg,image/png">
                        <ngx-dropzone-label>Arrastra o click aqui las fotografias!</ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"
                          [removable]="true" (removed)="onRemove(f)">
                          <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-image-preview>
                      </ngx-dropzone>
          </mat-tab>
      </mat-tab-group>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
        <button class="btn btn-sm btn-danger m-1"  [ngStyle]="{'min-width':(miniColumnas)*1.5+'px'}" matStepperPrevious>Anterior</button>
        <button class="btn btn-sm btn-primary m-1" [ngStyle]="{'min-width':(miniColumnas)*1.5+'px'}" matStepperNext>Siguiente</button>
      </div>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>ChekList elementos de vehiculo</ng-template>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
        <div class="row m-3">
          <div class="col-auto">
            <label for="kilometraje">Kilometraje: </label>
          </div>
          <div class="col-auto">
            <!-- onkeypress="valideKey(event);" -->
            <!-- (change)="revisarAvance()" -->
            <input type="number" id="kilometraje" onkeypress="soloNumeros(event)"
             [ngClass]="{'is-invalid': kilometraje<=0}" [(ngModel)]="kilometraje"
              class="form-control form-control-sm" min="0">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-12" [ngClass]="{'NoChecado':!item.status}"
          *ngFor="let item of infoConfirmar.checkList; let index = index">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-start" [ngClass]="{'col-lg-12 col-md-12': item.valor === 'nivel_gasolina'}"><strong>{{item.show | capitalizarUno}}</strong>:</div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-start" [ngClass]="{'col-lg-12 col-md-12': item.valor === 'nivel_gasolina'}">
              <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <ng-container *ngFor="let ite of item['opciones']">
                  <input type="radio" class="btn-check" [checked]="item.status === ite" [name]="item.valor+ite" [id]="ite" autocomplete="off" checked>
                  <!-- (click)="cambiarSattus(index,ite)"  -->
                  <label class="btn btn-sm" (click)="cambiarStatusCheckList(index,ite)" [ngStyle]="{'min-width':(miniColumnas)*.6+'px'}"
                  [ngClass]="
                  {'btn-outline-danger': ite==='no' || ite ==='dañado' || ite==='vacio', 'btn-outline-warning': ite!=='lleno' && ite!=='vacio' && ite!=='si',
                  'btn-outline-success': ite==='si' || ite==='lleno'}
                  " 
                  [for]="item.valor+ite">{{ite}}</label>
                </ng-container>
              </div>
              </div>

          </div>
        </div>
      </div>
      
      
      
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
        <button class="btn btn-sm btn-danger m-1"  [ngStyle]="{'min-width':(miniColumnas)*1.5+'px'}" matStepperPrevious>Anterior</button>
        <button class="btn btn-sm btn-primary m-1" [ngStyle]="{'min-width':(miniColumnas)*1.5+'px'}" matStepperNext>Siguiente</button>
      </div>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Fecha de entrega</ng-template>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
        
          <div class="input-group mb-3">
            <input class="form-control" readonly [matDatepickerFilter]="myFilter" [matDatepicker]="picker" (dateChange)="addEvent('change', $event)">
            <mat-datepicker #picker></mat-datepicker>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary"  (click)="picker.open()" type="button" id="button-addon2"><i class="fa fa-calendar-alt"></i></button>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
          <label for="" class="text-success fs-4" [ngClass]="{'text-danger':infoConfirmar.diasEntrega > 3}">
            Dias para entrega: <strong>
              {{infoConfirmar.diasEntrega}}
            </strong>
          </label>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12" *ngIf="infoConfirmar.sucursal">
          <app-lista-tecnicos [sucursal]="infoConfirmar.sucursal['id']"  (dataTecnico)="infoTecnico ( $event )"></app-lista-tecnicos>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
          <button class="btn btn-sm btn-danger m-1"   [ngStyle]="{'min-width':(miniColumnas)*1.5+'px'}" matStepperPrevious>Anterior</button>
          <button class="btn btn-sm btn-primary m-1"  [ngStyle]="{'min-width':(miniColumnas)*1.5+'px'}"  matStepperNext>Siguiente</button>
        </div>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Firma de cliente</ng-template>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
        <canvas #firmaDigital class="fluid" style="touch-action:none"></canvas>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
        <button class="btn btn-sm btn-danger m-1 " [ngStyle]="{'min-width':(miniColumnas)*1.5+'px'}" matStepperPrevious >Anterior</button>
        <button class="btn btn-sm btn-danger m-1 " [ngStyle]="{'min-width':(miniColumnas)*1.5+'px'}" (click)="limpiarFirma()"   *ngIf="infoConfirmar.firma_cliente">Limpiar Firma</button>
        <button class="btn btn-sm btn-success m-1 " [ngStyle]="{'min-width':(miniColumnas)*1.5+'px'}" (click)="firmar()"  *ngIf="!infoConfirmar.firma_cliente">Firmar recepción</button>
      </div>
    </div>
  </mat-step>
  
</mat-vertical-stepper>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
    <button (click)="continuar()" class="btn btn-sm btn-primary">Realizar recepcion</button>
  </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center " *ngIf="faltante_s">
  Falta la siguiente informacion: <strong class="text-danger">{{faltante_s}}</strong> 
</div>



<div class="row mb-3 mt-3">
  <div class="col"></div>
</div>


<div class="modal fade" id="modalPaquetes" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="exampleModalLabel" aria-hidden="true">
<div
  class="modal-dialog modal-fullscreen modal-fullscreen-sm-down modal-fullscreen-md-down modal-fullscreen-lg-down modal-fullscreen-xl-down modal-fullscreen-xxl-down">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="staticBackdropLabel">Agregar paquete</h1>
      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" id="cerrar-modal">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <div class="modal-body m-2">
      <app-paquetes [modelo]="modeloVehiculo" (infoPaquete)="agrega_principal( $event)" ></app-paquetes>
    </div>
  </div>
</div>
</div>
<div class="modal fade" id="modalElemento" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="exampleModalLabel" aria-hidden="true">
<div
  class="modal-dialog modal-fullscreen modal-fullscreen-sm-down modal-fullscreen-md-down modal-fullscreen-lg-down modal-fullscreen-xl-down modal-fullscreen-xxl-down">
  <div class="modal-content">
    <div class="modal-header ml-3">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body m-2">
      <app-mo-refacciones [registro]="true" (dataElemento)="agrega_principal( $event )"></app-mo-refacciones>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="modalNewUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div
    class="modal-dialog modal-xl modal-fullscreen modal-fullscreen-sm-down modal-fullscreen-md-down modal-fullscreen-lg-down modal-fullscreen-xl-down modal-fullscreen-xxl-down">
    <div class="modal-content">
      <div class="modal-body">
        <!-- <ng-container *ngIf="datCliente; else elseNewCliente">
          <app-cliente [data]="datCliente" [id]="datCliente.id" (heroeSlec)="infoCliente( $event )" [sucursal]="SUCURSAL"></app-cliente>
        </ng-container>
        <ng-template #elseNewCliente>
          <div class="row">
            <div class="col text-center">
              <app-cliente (heroeSlec)="infoCliente( $event )" [sucursal]="SUCURSAL"></app-cliente>
            </div>
          </div>
        </ng-template> -->
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalNewVehiculo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div
    class="modal-dialog modal-xl modal-fullscreen modal-fullscreen-sm-down modal-fullscreen-md-down modal-fullscreen-lg-down modal-fullscreen-xl-down modal-fullscreen-xxl-down">
    <div class="modal-content">
      <div class="modal-body m-2">

        <app-vehiculo [data_cliente]="infoConfirmar.data_cliente" (dataVehiculo)="vehiculo_registrado( $event )" ></app-vehiculo>
        
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalFacturacion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div
    class="modal-dialog modal-xl modal-fullscreen modal-fullscreen-sm-down modal-fullscreen-md-down modal-fullscreen-lg-down modal-fullscreen-xl-down modal-fullscreen-xxl-down">
    <div class="modal-content">
      <div class="modal-body m-2">
        <!-- <app-data-facturacion-cliente [clienteID]="clienteId"></app-data-facturacion-cliente> -->
      </div>
    </div>
  </div>
</div>
