
<div class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a class="breadcrumb-item" [routerLink]="['/cotizacion']">Regresar</a></li>
          <li class="breadcrumb-item active">Nueva cotización</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="card border-dark" >
  <div class="card-body">
    <h1>Informacion de cliente 

      <ng-container *ngIf="infoConfirmar.cliente['id']">
        <i class="fa fa-edit text-primary m-1 pointer" #tooltip="matTooltip" matTooltip="Editar informacion" 
        ></i>
        <!-- (click)="cargaDataCliente(infoConfirmar.cliente)" data-bs-toggle="modal" data-bs-target="#modalNewUser" -->
      </ng-container>
    </h1>

    
    <div class="row">
      <ng-container *ngFor="let item of camposCliente">
        <div class="col-lg-4 col-md-4 col-sm-6 col-12" *ngIf="infoConfirmar.cliente[item.valor]">
          <strong class="text-uppercase">{{item.show}} </strong>: {{infoConfirmar.cliente[item.valor]}}
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div class="card border-dark">
  <div class="card-body">
    <ng-container *ngIf="infoConfirmar.cliente['id']">
      <label for="exampleInputEmail1">Placas de vehiculos disponibles</label>
      <i class="fa fa-sync pointer btn btn-sm btn-outline-primary"></i>
      <!-- (click)="verificarInfoVehiculos()" de arriba -->
      <div class="input-group mb-3">
        <!-- abajo  [ngModel]="extra" #valV (change)="vehiculo( valV.value )"-->
        <select class=" form-select  form-select-sm text-uppercase" >
          <option [value]="v.id" *ngFor="let v of infoConfirmar.vehiculos">{{v.placas}}</option>
        </select>
        <button class="btn btn-sm btn-warning" >
          <!-- data-bs-toggle="modal" data-bs-target="#modalNewVehiculo" (click)="cargaDataVehiculo(infoConfirmar.cliente,'vehiculo')" #tooltip="matTooltip" matTooltip="Registra nuevo vehiculo" -->
          <i class="fa fa-car"></i>
        </button>
      </div>
    </ng-container>
    <h1>Informacion de vehiculo</h1>
    <div class="row" *ngIf="infoConfirmar.vehiculo">
      <ng-container *ngFor="let item of camposVehiculo">
        <div class="col-lg-4 col-md-4 col-sm-6 col-12 text-uppercase" *ngIf="infoConfirmar.vehiculo[item.valor]">
          <strong class="text-uppercase">{{item.show}} </strong>: {{infoConfirmar.vehiculo[item.valor]}}
        </div>
      </ng-container>
    </div>
  </div>
</div>

<mat-vertical-stepper [linear]="false" #stepper >
  <mat-step class="border-1">
    <ng-template matStepLabel>Servicios a realizar</ng-template>
    <section class="example-section">
      <mat-checkbox 
      class="example-margin"
      (click)="cambiaAprobado(item.index, !item.aprobado)"
      [checked]="item.aprobado" 
      *ngFor="let item of infoConfirmar.servicios"
      [ngClass]="{'tipo-mo': item.tipo === mo,'tipo-refaccion': item.tipo === refaccion,'tipo-paquete': item.tipo === paquete}">
      {{item.nombre | capitalizarUno}} {{item.precio | monedas}}
    </mat-checkbox>
    </section>
    <br>
    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
      <div class="card border-success mb-3">
        <div class="card-header text-center">Flotilla</div>
        <div class="card-body text-success ">
          <h5 class="card-title"></h5>
          <div class="row">
            <ng-container *ngFor="let campo of camposDesgloce">
              <ng-container *ngIf="infoConfirmar.reporte[campo['valor']] > 0">
                <div class="col-lg-8 col-md-8 col-sm-6 col-6">{{campo['show']}}</div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-6 text-end"><strong>{{infoConfirmar.reporte[campo.valor]  | monedas}}</strong></div>
              </ng-container>
              
            </ng-container>
            <ng-container *ngIf="infoConfirmar.reporte['meses'] > 0">
              <!-- <div class="col-lg-8 col-md-8 col-sm-6 col-6">Total a {{meses}} meses</div> -->
              <div class="col-lg-4 col-md-4 col-sm-6 col-6 text-end"><strong>{{infoConfirmar.reporte['meses'] | monedas}}</strong></div>
            </ng-container>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center"><strong>{{infoConfirmar.reporte['total']  | numerosLetras}}</strong></div>
          </div>
        </div>
      </div>
    </div>

    <!-- <button mat-button matStepperPrevious>Anterior</button> -->
    <br>
    <button class="btn btn-sm btn-primary" matStepperNext>Siguiente</button>
  </mat-step>
  
  <mat-step>
    <ng-template matStepLabel>Rayar detalles de vehiculo</ng-template>
    <div class="row">
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="Check detalles">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-end">
              <mat-checkbox type="checkbox" class="example-margin" (click)="cambiaTodosCheckA(sinDetalles)" [(ngModel)]="sinDetalles">Sin detalles</mat-checkbox>
            </div>
            <div class="card col-lg-3 col-md-3 col-sm-6 col-xs-6 col-4" *ngFor="let item of infoConfirmar.checkList; let i = index">
              <img [src]="'../../../assets/imagenes_detalles/'+item.valor+'.jpg'" class="card-img-top  rayar" [alt]="item.show" width="150px" height="150px">
              <div class="card-body">
                <ng-container class="card-text">
                  <mat-checkbox type="checkbox" [checked]="item.status" class="example-margin" [id]="item.valor" (click)=" cambiarCheck( i, !item.status )">
                    <!-- (change)="revisarDeatlles(index,val)" -->
                    {{item.show}}
                  </mat-checkbox>
                </ng-container>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Personalizado">
          <br>
        </mat-tab>
        <mat-tab label="Fotografias o imagenes">
          br
        </mat-tab>
      </mat-tab-group>
      
    </div>
    <br>
    <button class="btn btn-sm btn-danger" matStepperPrevious>Anterior</button>
    <button class="btn btn-sm btn-primary" matStepperNext>Siguiente</button>
  </mat-step>
  
  <mat-step>
    <ng-template matStepLabel>ChekList elementos de vehiculo</ng-template>
    aqui opcion 1
    <br>
    <button class="btn btn-sm btn-danger" matStepperPrevious>Anterior</button>
        <button class="btn btn-sm btn-primary" matStepperNext>Siguiente</button>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Fecha de entrega</ng-template>
    aqui opcion 1
    <br>
    <button class="btn btn-sm btn-danger" matStepperPrevious>Anterior</button>
        <button class="btn btn-sm btn-primary" matStepperNext>Siguiente</button>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Firma de cliente</ng-template>
    aqui opcion 1
    <br>
    <button class="btn btn-sm btn-primary" matStepperPrevious>Anterior</button>
  </mat-step>
  
</mat-vertical-stepper>