<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0"></h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <!-- <li class="breadcrumb-item"><a class="breadcrumb-item" [routerLink]="['/inicio']">Inicio</a></li> -->
          <li class="breadcrumb-item active"><a class="breadcrumb-item" [routerLink]="['/cotizacion']">Órdenes y
              Cotizaciones</a></li>
          <li class="breadcrumb-item active">Firma </li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="con-flot">
  <input type="checkbox" id="btn-mas">
  <div class="redes">
    <a  class="mat-elevation-z8" [routerLink]="['/inicio']" ><i class="fad fa-arrow-alt-left"></i></a>
    <a class="mat-elevation-z8" ><i class="fad fa-arrow-alt-up"></i></a>
    <a class="mat-elevation-z8" ><i class="fad fa-arrow-alt-down"></i></a>
  </div>
  <div class="btn-mas">
    <label for="btn-mas" class="btn-ma"><strong><i class="fad fa-plus-circle"></i></strong></label>
  </div>
</div>
<div class="row ">
  <div class="card">
    <div class="card-body">
      <div class="card-text">
        <div class="row">
        <p>
          Contrato de Adhesión de servicio
        </p>
        <p>EL PRESTADOR DE SERVICIO: <strong>Speed Pro</strong></p>
        <p>EL CONSUMIDOR: <strong class="text-uppercase">{{dataCliente.fullname}}</strong> </p>
        <p class="texto-justificado">
          <strong>PRIMERA</strong>: EL PRESTADOR DEL SERVICIO realizará todas las operaciones y composturas, solicitadas por EL <strong>CONSUMIDOR</strong> que suscribe el presente
        contrato, a las que se someterá el vehículo para obtener con condiciones de funcionamiento de acuerdo al estado de éste y las cuales serán
        realizadas a cargo y por cuenta de EL <strong>CONSUMIDOR</strong>. Asimismo <strong>EL PRESTADOR DEL SERVICIO</strong> no condicionará la prestación 
        de los servicios dereparación y mantenimiento de vehículos a la adquisición o renta de otros productos o servicios en el establecimiento o en otro taller o agencia
        predeterminada.
        </p> <br>
        <p class="texto-justificado">
          <strong>SEGUNDA</strong>: Ambas partes están de acuerdo en que el precio de la presente operación estará cubierto por el consumidor.</p>
          <!-- en la siguiente forma: -->
          <p class="texto-justificado">
        <strong>TERCERA</strong>: EL <strong>CONSUMIDOR</strong> el acepta haber tenido a su disposición los precios de los servicios, mano de obra, refacciones 
        y materiales a usar enlas reparaciones ofrecidas por <strong>EL PRESTADOR DEL SERVICIO</strong>. Los incrementos que resulten durante la reparación por costos no previsibles
        incrementos resultantes al momento de la ejecución de la reparación ordenada, deberán ser autorizados por <strong>EL CONSUMIDOR</strong>, en forma escrita
        siempre y cuando estos excedan al 20% del presupuesto, si el incremento citado es inferior lo podrán autorizar telefónicamente y si el
        incremento es menor al 5% no se requerirá la autorización del CONSUMIDOR, el tiempo que en su caso transcurra para autorizar el incremento,
        esta condición modificará la fecha de entrega, en la misma proporción.
        </p> <br>
        <p class="texto-justificado">
          <strong>CUARTA</strong>: La entrega de el vehículo será en la fecha contemplada en el anverso del presente contrato. Para el caso de que <strong>EL CONSUMIDOR</strong>, sea el
        que proporcione las refacciones la fecha de entrega será cuando:
        </p> <br>
        <p class="texto-justificado">
        <strong>QUINTA</strong>: <strong>EL PRESTADOR DEL SERVICIO</strong> exclusivamente utilizará para los servicios, objeto de este contrato, partes, refacciones otros materiales
        nuevos y apropiados para el vehículo, salvo que el consumidor autorice expresamente que se utilicen partes o refacciones usadas o
        reconstruidas, de conformidad con lo establecido en el artículo 60 de la Ley Federal de Consumidor. Las partes, refacciones u otros materiales
        necesarios para la reparación y/o mantenimiento de el vehículo pueden ser suministrados por el consumidor.
       </p> <br>
       <p class="texto-justificado">
          <strong>SEXTA</strong>: <strong>EL PRESTADOR DEL SERVICIO</strong> hará entrega de las refacciones partes o piezas sustituidas en la reparación o servicio de el vehículo
        momento de entrega de éste salvo en los siguientes casos: a) cuando <strong>EL CONSUMIDOR</strong>, exprese lo contrario; b) las partes, refacciones o piezas
        sean cambiadas en el uso de garantía; c) se trate de residuos considerados peligrosos de acuerdo con las disposiciones legales aplicables.
        </p>
        <p class="texto-justificado">
          <strong>SÉPTIMA</strong>: las reparaciones a qué se refiere el presupuesto aceptado por <strong>EL CONSUMIDOR</strong>, tienen una garantía de 60 días contados a partir de la
        fecha de entrega de el vehículo ya reparada en mano de obra y en refacciones la especificada por el fabricante, siempre y cuando no se
        manifieste mal uso, negligencia o descuido; lo anterior de conformidad con lo establecido con el artículo 77 de la Ley Federal de Protección al
        Consumidor. Si el vehículo es intervenida por un tercero, "<strong>EL PRESTADOR DEL SERVICIO</strong>" no será responsable y la garantía quedará sin efecto.
        Las reclamaciones por garantía se harán en el taller del prestador del servicio, para lo cual <strong>EL CONSUMIDOR</strong>, deberá presentar su unidad en
        dicho taller. Las reparaciones efectuadas por <strong>EL PRESTADOR DEL SERVICIO</strong> en cumplimiento a la garantía del servicio, serán sin cargo alguno
        para <strong>EL CONSUMIDOR</strong>, salvo aquellos trabajos que no deriven de las reparaciones aceptadas en el presupuesto. No se computará dentro del
        plazo de garantía, el tiempo que lleve la reparación y/o mantenimiento de el vehículo para el cumplimiento de la misma.
        </p>
        <br>
        <p class="texto-justificado">
          <strong>OCTAVA</strong>: <strong>EL CONSUMIDOR</strong>, autoriza el uso de el vehículo en zonas aledañas con un radio de 5 km. el área del taller a efectos de pruebas o
        verificación de las reparaciones a efectuar o efectuadas. <strong>EL PRESTADOR DEL SERVICIO</strong> no podrá utilizar el vehículo para uso personal, fines
        propios o de terceros.
        </p> <br>
        <p class="texto-justificado">
          <strong>NOVENA</strong>: <strong>EL PRESTADOR DEL SERVICIO</strong> se hace responsable por los daños causados a el vehículo de <strong>EL CONSUMIDOR</strong>, consecuencia de los
        recorridos de pruebas por parte del personal de <strong>EL PRESTADOR DEL SERVICIO</strong>. El riesgo de un recorrido de prueba es por cuenta de EL
        CONSUMIDOR. Cuando él mismo solicite que será él un representante soy yo quien el vehículo. Asimismo, <strong>EL PRESTADOR DEL SERVICIO</strong> se hace
        responsable de los daños, descomposturas, pérdidas totales, imputables a él, que sufra el vehículos, el equipo y aditamentos que EL
        CONSUMIDOR haya notificado al momento de la recepción de el vehículo, mientras se encuentren bajo su resguardo y durante el tiempo de la
        reparación. para tal efecto el prestador del servicio cuenta con un seguro suficiente para cubrir dichas eventualidades cuyo número de póliza es
        ___________________ con la compañía ____________________ <strong>EL PRESTADOR DEL SERVICIO</strong> no se hace responsable por la pérdida de objetos
        en el vehículo, salvo que éstos hayan sido notificados o puestos bajo su resguardo al momento de la recepción de el vehículo.
        </p>
        <p class="texto-justificado">
          <strong>DÉCIMA</strong>: <strong>EL PRESTADOR DEL SERVICIO</strong> se obliga a expedir la factura o comprobante de pago por los trabajos efectuados, en la que se
        especificará los precios por mano de obra, refacciones, materiales y accesorios empleados, conforme al artículo 62 de la Ley Federal de
        Protección al Consumidor.
        </p>  <br>
        <p class="texto-justificado">
          <strong>DÉCIMA PRIMERA</strong>: se establece como pena convencional por el incumplimiento de cualquiera de las partes a la presente orden de servicio, el
        15% del valor total de la operación.
        </p> <br>
        <p class="texto-justificado">
          <strong>DÉCIMA SEGUNDA</strong>: en caso de que el vehículo no sea recogida por el consumidor en un término de 48 horas posteriores a que se haya notificado,
        pagará por concepto de depósito un salario mínimo vigente en el D.F; por cada 24 horas que transcurran.
        </p>
        <p class="texto-justificado">
        <strong> DÉCIMA TERCERA</strong>: <strong>EL CONSUMIDOR</strong> puede desistir en cualquier momento de la contratación del servicio de reparación y/o mantenimiento de el
        vehículo, en cuyo caso deberá cubrir, en el lugar del precio contratado el importe de los trabajos realizados hasta el retiro de el vehículo,
        incluidas las partes, refacciones u otros materiales utilizados.
       </p>
       <p class="texto-justificado">
        <strong>DÉCIMA CUARTA</strong>: para garantizar el cumplimiento de pagos por los trabajos efectuados, <strong>EL CONSUMIDOR</strong> suscribe a favor de EL PRESTADOR DEL
        SERVICIO el pagare que se encuentra inserto en el presente contrato, el cual no es negociable.
       </p>
        <p class="texto-justificado">
          <strong>DÉCIMA QUINTA</strong>: <strong>EL PRESTADOR DEL SERVICIO</strong> es responsable ante el CONSUMIDOR por el incumplimiento de los servicios contratados, aun
        cuando subcontrate con terceros dicha prestación. 
        </p>
        <p class="texto-justificado">
          <strong>DÉCIMA SEXTA</strong>: cuando se preste el servicio a domicilio, el personal de <strong>EL PRESTADOR DEL SERVICIO</strong> debe identificarse plenamente ante EL
        CONSUMIDOR, mediante la presentación del documento que lo acredite para este propósito. 
        </p>
        <p class="texto-justificado">
          <strong>DÉCIMA SÉPTIMA</strong>: <strong>EL CONSUMIDOR</strong> libera AL PRESTADOR DEL SERVICIO de cualquier responsabilidad que hubiese surgido o pudiese surgir con
        relación al origen, propiedad, posesión o cualquier otro derecho inherente a el vehículo o partes o componentes del mismo obligándose
        asimismo a responder por el EVICCION.
        </p>
        <p class="texto-justificado">
          <strong>DÉCIMA OCTAVA</strong>: <strong>EL PRESTADOR DEL SERVICIO</strong> se obliga a observar en lo relativo a información y publicidad, promociones y ofertas a lo
        dispuesto en los capítulos III y IV de la Ley Federal de Protección al Consumidor. 
        </p>
        <p class="texto-justificado">
          <strong>DÉCIMA NOVENA</strong>: para la interpretación y cumplimiento del presente contrato las partes se someten a la competencia de La PROCURADURIA
        FEDERAL DEL CONSUMIDOR y se sujetarán en otras instancias, a las leyes y a la jurisdicción de los tribunales competentes del fuero común.
        </p>
        
        </div>
        <!-- <pre>
          {{dataRecepcion | json}}
        </pre> -->
        <div class="row"  [ngClass]="{'muestra': !dataRecepcion.firmaConsentimiento,'oculta': dataRecepcion.firmaConsentimiento}">
          <div class="col-12 text-center" style="font-size: 11;">
            <canvas #firmaDigital width="450" height="300" style="touch-action:none"></canvas>
            <br>
            <h3 class="fw-bolder">Firma de cliente</h3>
          </div>
        </div>
        <div class="row" *ngIf="dataRecepcion.firmaConsentimiento && dataRecepcion.imgConsentimiento!==''">
          <div class="col-12 text-center" style="font-size: 11;">
              <img [src]="dataRecepcion.imgConsentimiento" alt="" width="450" height="300">
            <br>
                <h3 class="fw-bolder">Firma de cliente</h3>
          </div>
        </div>
        
        <div class="row text-end">
          <div class="col-12" *ngIf="!dataRecepcion.firmaConsentimiento">
            <button class="btn btn-danger m-1 " (click)="limpiarFirma()">Limpiar firma</button>
            <button class="btn btn-primary m-1 " (click)="guardarDocumento()">Guardar firma</button>
            <!-- <button class="btn btn-primary m-1" (click)="guardarPNG()">PNG</button> -->
            <!-- <button class="btn btn-primary m-1" (click)="downloadPDF()">Download PDF</button> -->
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>


<!-- Button trigger modal -->
<div class="row mb-5 text-center">
  <div class="col">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#preguntarIVAyPago">
      pagar
    </button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="preguntarIVAyPago" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-lg modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-danger" id="exampleModalLabel"><strong>Metodo de pago</strong></h3>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col text-end">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="incluyeIVA" checked>
              <label class="form-check-label" for="incluyeIVA"><strong>IVA</strong> </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="card">
              <img src="/assets/img/efectivo.jpg"  style="height:150px" class="card-img-top img-thumbnail col-lg-4 col-md-4 col-sm-4 col-4" alt="...">
              <div class="card-body text-center">
                <button class="btn btn-primary" (click)="metodoPago('efectivo')" [disabled]="(metodoPagoSeleccionado===dataConse.metodoPago) ? 'disabled': null">Efectivo</button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="/assets/img/t1.png"  style="height:150px" class="card-img-top img-thumbnail col-lg-4 col-md-4 col-sm-4 col-4" alt="...">
              <div class="card-body text-center">
                <button class="btn btn-primary" (click)="metodoPago('tarjeta')" [disabled]="(metodoPagoSeleccionado===dataConse.metodoPago) ? 'disabled': null">Tarjeta</button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="/assets/img/tranferencia.png"  style="height:150px" class="card-img-top img-thumbnail col-lg-4 col-md-4 col-sm-4 col-4" alt="...">
              <div class="card-body text-center">
                <button class="btn btn-primary" (click)="metodoPago('credito')" [disabled]="(metodoPagoSeleccionado===dataConse.metodoPago) ? 'disabled': null">Credito</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>