<div class="row m-5"><br>aqui <br></div>
<div class="row m-5"><br>aqui <br></div>
<div style="margin-top: 20px; box-shadow: 0px 10px 10px black;">
  <div style="width: 100%; height:50%; margin: auto 0;padding:1.5em 1.5em">

    <div class="" style="margin: auto 0;padding:1em 0.5em">
      <div style="width: 100%; height:8%;display:flex; justify-content: center;align-items: center;text-align: center; background-color: white;">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/speedpro-3a4e1.appspot.com/o/logos%2FlogoSpeedBig.png?alt=media&token=bebffe87-3000-4317-b322-67adef4a971b"
          alt="" class=" img-thumbnail">
      </div>
    </div>
    <br><br>
    <div style="text-align:start">
      <h2 style="text-transform: uppercase; font-size: 2.3em; background-color: #0B70AE; color:white; font-family: Verdana;margin: 0;padding: 1em 0.5em;">bienvenido <strong>Luis alberto</strong>, a nuestra familia
        <strong>SpeedPro</strong></h2>
    </div>
    <div style=" text-align: justify">
        <p style="font-size: 2em; background-color: #962F91; color:white; font-family: Verdana;margin: 0;padding: 1em 0.5em;">¡Nos alegra que estés aquí!</p>
      <!-- <p>SpeedPro tiene una comunidad que se alegra de tenerte con nosotros!!</p> -->

      <p style="font-size: 1.5em; background-color: lavender; color:black;margin: 0;padding: 1em 0.5em;"> Ahora estas registrado en nuestra familia por lo cual, podrás consultar información acerca de nuestros,
        servicios y promociones en nuestras sucursales, además del estado de tu vehículo puedes visitar nuestra página.</p>
    </div>

    <div style="text-align: center">
        <a href="https://www.google.com/" style="background-color: #0d6efd; color:white; font-size:2em; border:2px; border-color:black; border-radius: 8px;margin: 0;padding: .5em 0.5em;" class="btn btn-primary">SpeedPro</a>
    </div>

  </div>
</div>
