<div class="card border-success mb-3">
    <div class="card-header text-center">{{title}}</div>
    <div class="card-body text-success ">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-6 col-6 text-start" [ngClass]="reporte['ub'] >= 55 ? 'text-success': 'text-danger'">
            U.B
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-6 text-end" [ngClass]="reporte['ub'] >= 55 ? 'text-success': 'text-danger'">
            <strong>{{reporte['ub'] | monedas:'%'}}</strong>
          </div>
          <ng-container *ngFor="let campo of camposDesgloce">
            <ng-container *ngIf="reporte[campo['valor']] > 0">
              <div class="col-lg-8 col-md-8 col-sm-6 col-6 text-start text-uppercase">{{campo['show']}}</div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-6 text-end"><strong>{{reporte[campo.valor]  | monedas}}</strong></div>
            </ng-container>
          </ng-container>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center"><strong>{{reporte.total | numerosLetras}}</strong></div>
      </div>
    </div>
</div>