<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0"></h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <!-- <li class="breadcrumb-item"><a class="breadcrumb-item" [routerLink]="['/inicio']">Inicio</a></li> -->
          <li class="breadcrumb-item active"><a class="breadcrumb-item"  [routerLink]="['/cotizacion']">Órdenes y Cotizaciones</a></li>
          <li class="breadcrumb-item active">Firma </li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- <pre>
  {{dataRealizadas | json}}
</pre> -->
<div class="con-flot">
  <input type="checkbox" id="btn-mas">
  <div class="redes">
    <a  class="mat-elevation-z8" [routerLink]="['/inicio']" ><i class="fad fa-arrow-alt-left"></i></a>
    <a class="mat-elevation-z8" ><i class="fad fa-arrow-alt-up"></i></a>
    <a class="mat-elevation-z8" ><i class="fad fa-arrow-alt-down"></i></a>
  </div>
  <div class="btn-mas">
    <label for="btn-mas" class="btn-ma"><strong><i class="fad fa-plus-circle"></i></strong></label>
  </div>
</div>
<div class="row" *ngIf="!muestraInformacion">
  <div class="col">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">ERROR! </h1>
        <p class="lead">No se encontro información, La información solicitada no se encuentra...</p>
      </div>
    </div>
  </div>
</div>
<div class="row mb-3">
  <!-- *ngIf="muestraInformacion" -->
  <div class="card">
    <div class="card-body">
      <!-- {{dataRecepcion.factura}} -->
      <div class="row " *ngIf="!dataRecepcion.firmaEntrega">
        <div class="col text-end">
          <mat-slide-toggle [ngModel]="isChecked" (ngModelChange)="facturaBoolean(!isChecked)">Requiere factura</mat-slide-toggle>
        </div>
      </div>
      
      <!-- <button class="btn btn-sm btn-danger" (click)="ocupadaFactura()"></button> -->
      <div id="htmlData" >
        <div class="row">
          <div class="col-6 fw-bolder logo">
            Operadora de Servicios Automotrices integrales del Centro del
              pais Speed Service GAFEAG SA De CV
          </div>
          <div class="col-6 logo">
            <img src="../assets/logoSpeedPro/Logo-Speedpro.png"class="img-fluid" >
          </div>
        </div>
        <div class="row m-2" style="font-size: 10;">
          {{dataSucursal.sucursal}},
           {{dataSucursal.direccion}}, 
          Tel: {{dataSucursal.telefono}}, 
           {{dataSucursal.correo}} 
          <!-- Av. Tlahuac # 4160 Col. Sta. Ma. Tomatlan Izapalapa, DFTel: (55) 5695 1051 atencion_clientes@speed-service.com.mx -->
        </div>
        <div class="row ">
          

             <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-6 col-6"><strong> Fecha: </strong> {{dataCotizacion.fecha}} </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-6"><strong> Tipo: </strong> {{dataCliente.tipo}}</div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-6"><strong> Email: </strong> {{dataCliente.correo}}</div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-6"><strong> Telefono: </strong> {{dataCliente.telefono_movil}}</div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-6"><strong> Cliente: </strong> {{dataCliente.nombre}} {{dataCliente.apellidos}}</div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-6"><strong> Tipo auto: </strong>  {{dataVehiculo.categoria}} </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-6"><strong> Empresa: </strong> {{dataCliente.empresa}}</div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-6"><strong> Cilindros: </strong> {{dataVehiculo.cilindros}}</div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-6"><strong> Marca: </strong> {{dataVehiculo.placas}}</div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-6"><strong> Placas: </strong> {{dataVehiculo.modelo}}</div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-6"><strong> Color: </strong> {{dataVehiculo.color}}</div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-6"><strong> Motor: </strong> {{dataVehiculo.no_motor}}</div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-6"><strong> Año: </strong> {{dataVehiculo.anio}}</div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-6"><strong> Transmision: </strong> {{dataVehiculo.transmision}}</div>
             </div>
          <br>
         
          <br>
          <div class="row text-center">
            <h3 scope="col-12" class="fw-bold text-uppercase">{{dataVehiculo.marca}} {{dataVehiculo.categoria}} {{dataVehiculo.modelo}} </h3>
            <!-- <h3 scope="col-12" class="fw-bold">NISSAN NP300 2017</h3> -->
          </div>
          <table class="" #tablePDF>
            <thead>
              <tr>
                <th>Servicios</th>
                <th>Tipo</th>
                <th>cantidad</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor=" let elemento of dataElementos">
                <td class="texto-justificado">{{elemento.nombre}} </td>
                <td class="texto-justificado">{{elemento.tipo}} </td>
                <!-- <td class="texto-justificado">{{elemento.descripcion}} </td> -->
                <td class="text-end">{{elemento.precio | monedas}} </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="3" class="text-end"><strong>Total : {{totalCobrar | monedas}}</strong></td>
              </tr>
            </tfoot>
          </table>
          <div class="row text-center">
            <h3 scope="col-12" class="fw-bold">Detalles de servicios</h3>
          </div>
          <div class="row" >
          
            <ng-container *ngIf="elementosOnlyPaquetes.length <= 1">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12 card" *ngFor="let det of elementosOnlyPaquetes" >
                <div class="card-body">
                  <h3 class="fw-2">{{det.nombre}} incluye</h3>
                  <ol class="list-group list-group-numbered">
                    <li class="list-group-item" *ngFor="let com of det.data;let i= index">
                      <strong>{{com.nombre}}</strong>
                      <p  >Cantidad: {{com.cantidad}} </p>
                      <p  >Precio: {{com.precio | monedas}} </p>
                      <p  >Subtotal: {{com.subtotal | monedas}} </p>
                    </li>
                  </ol>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="elementosOnlyPaquetes.length > 1">
              <div class="col-lg-4 col-md-4 col-sm-4 col-6 card" *ngFor="let det of elementosOnlyPaquetes" >
                <div class="card-body">
                  <h3 class="fw-2">{{det.nombre}} incluye</h3>
                  <ol class="list-group list-group-numbered">
                    <li class="list-group-item" *ngFor="let com of det.data;let i= index">
                      <strong>{{com.nombre}}</strong>
                      <p  >Cantidad: {{com.cantidad}} </p>
                      <p  >Precio: {{com.precio | monedas}} </p>
                      <p  >Subtotal: {{com.subtotal | monedas}} </p>
                    </li>
                  </ol>
                </div>
              </div>
            </ng-container>
            <!-- {{dataElementos | json}} -->
              
          </div>
          <div class="row mt-3" >
            <div class="col-lg-8 col-md-8 col-sm-6 col-12">
              <label for="">Importe con letra:</label>
              <ng-container *ngIf="!isChecked">
                <p>{{ totalCobrar | numerosLetras}}</p>
              </ng-container>
              <ng-container *ngIf="isChecked">
                <p>{{totalCobrar +  iva| numerosLetras}}</p>
              </ng-container>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-6" >
              <ng-container *ngIf="!isChecked">
                Total: <br>
              </ng-container>
              <ng-container *ngIf="isChecked">
                Subtotal: <br>
                Iva: <br>
                Total: <br>
              </ng-container>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-6 text-end" >
              {{totalCobrar | monedas}} <br>
              <ng-container *ngIf="isChecked">
                {{(iva)  | monedas}} <br>
                {{totalCobrar +  iva| monedas}} <br>
              </ng-container> 
                
              </div>
          </div>
          <div class="row mt-3">
            <div class="col-12 text-center text-wrap fw-bold" style="font-size: 10px;">
              Precios en MN mas IVA en caso de requerir factura. Este documento es una cotización y no representa
              ninguna orden de trabajo.<br>
              Cotización Valida por 20 días Naturales y no aplica con otras Promociones. Costo de Recoleccion y entrega
              de Auto es de $150.00 Pesos MN <br>Precios sujetos a cambio sin previo aviso. Precios de Promoción no aplican a 6 meses sin intereses
            </div>
          </div>

        </div>
        <!--  -->
        <div class="row"  [ngClass]="{'muestra': !dataRecepcion.firmaEntrega,'oculta': dataRecepcion.firmaEntrega}" >
            <div class="col-12 text-center" style="font-size: 11;">
                <canvas #firmaDigital class="fluid" style="touch-action:none"></canvas>
                <br>
                <h3 class="fw-bolder">Firma de cliente</h3>
            </div>
        </div>
        <div class="row" *ngIf="dataRecepcion.firmaEntrega && dataRecepcion.imgEntrega!==''">
          <div class="col-12 text-center m-1" style="font-size: 11;">
              <img [src]="dataRecepcion.imgEntrega" alt="" id="imgEntrega" width="450" height="300">
            <br>
                <h3 class="fw-bolder">Firma de cliente</h3>
          </div>
        </div>
        
        <!-- <div class="card mt-4 text-center">
          <div class="card-body">

            <div class="card-text">
              <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12 text-center">
                  <canvas #firmaDigital width="500" height="300" style="touch-action:none"></canvas>
                  <br>
                  <h3 class="fw-bolder">Firma de cliente</h3>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12">
                  <button class="btn btn-primary m-1 col-lg-12 col-md-12 col-sm-12" (click)="cambiarColor(!color)">Color
                    {{nombreColor}}</button><br>
                  <button class="btn btn-danger m-1 col-lg-12 col-md-12 col-sm-12"
                    (click)="limpiarFirma()">Limpiar</button>
                  <button class="btn btn-warning m-1 col-lg-12 col-md-12 col-sm-12"
                    (click)="revertir()">Deshacer</button>
                </div>

                <button class="btn btn-primary m-1" (click)="guardarPNG()">PNG</button>
                <button class="btn btn-primary m-1" (click)="guardarJPG()">JPG</button>
              </div>
            </div>
            <div class="card-foter">

            </div>
          </div>
        </div> -->
      </div>
      <div class="card-text">

        
      </div>

    </div>
  </div>
  <div class="row text-end">
    <div class="col-12">
        <button class="btn btn-danger m-1 " *ngIf="!dataRecepcion.firmaEntrega" (click)="limpiarFirma()">Limpiar</button>
        <button class="btn btn-primary m-1 " *ngIf="!dataRecepcion.firmaEntrega" (click)="guardarDocumento()">Guardar</button>
        <!-- <button class="btn btn-primary m-1" (click)="guardarPNG()">PNG</button> -->
        <button class="btn btn-primary m-1" (click)="downloadPDF()">PDF</button>
    </div>
</div>
</div>



