<div class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a class="breadcrumb-item" [routerLink]="['/inicio']">Inicio</a></li>
            <li class="breadcrumb-item active">Administración</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-end">
        <div class="input-group mb-3 ">
            <mat-date-range-picker #picker></mat-date-range-picker>
            <mat-date-range-input (click)="picker.open()"  class="pointer form-control" [formGroup]="rangeAdministracion" [rangePicker]="picker">
              <input matStartDate class="mr-2" formControlName="start" readonly placeholder="Inicio" id="Inicio">
              <input matEndDate formControlName="end" readonly placeholder="Final" id="Final">
            </mat-date-range-input>
            <div class="input-group-append">
              <button class="btn btn-sm btn-outline-secondary" type="button" (click)="picker.open()">
                <i class="fa fa-calendar-alt"></i>
              </button>
            </div>
          </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-end">
        <ng-container *ngIf="SUCURSAL === 'Todas'">
            <button class="btn btn-sm btn-success m-1" [matMenuTriggerFor]="filtroSucursal" #tooltip="matTooltip"
            matTooltip="Filtro sucursal"><i class="fa fa-filter"></i></button>
            <mat-menu #filtroSucursal="matMenu">
                <button mat-menu-item (click)="sucursalFiltroReporte = sucursal.id; filtra_informacion()" *ngFor="let sucursal of sucursales_array">{{sucursal.sucursal | capitalizarUno}}</button>
            </mat-menu>
        </ng-container>
        
        <button class="btn btn-sm btn-primary m-1" [matMenuTriggerFor]="filtroTipo" #tooltip="matTooltip"
        matTooltip="Filtro fecha"><i class="fa fa-filter"></i></button>
        <mat-menu #filtroTipo="matMenu">
            <button mat-menu-item (click)="filtro_entregado_recibido = tipo.valor; filtra_informacion()" *ngFor="let tipo of filtros_entregado_recibido">{{tipo.show | capitalizarUno}}</button>
        </mat-menu>
    </div>
    <div class="col-lg-6 col-md-8 col-sm-12 col-12">
          <div class="card border-success mb-3">
            <div class="card-header text-center">Reporte de administrración</div>
            <div class="card-body text-success ">
              <h5 class="card-title"></h5>
              <div class="row ">
                <ng-container *ngFor="let campo of camposReporteAdministracion; let i = index">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12" *ngIf="campo.valor !== 'cantidad' && campo.valor !== 'por_margen' ">
                  <div class="row">
                    <div class="col text-start">{{campo.show}}</div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-12 text-end"><strong>{{reporteAdministracion[campo.valor]  | monedas}}</strong></div>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-12" *ngIf="campo.valor === 'cantidad'">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6 text-start">{{campo.show}}</div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6 text-end"><strong>{{reporteAdministracion[campo.valor]}}</strong></div>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-12" *ngIf="campo.valor === 'por_margen'">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6 text-start">{{campo.show}}</div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6 text-end"><strong>{{reporteAdministracion[campo.valor] | monedas:'%'}}</strong></div>
                  </div>
                </div>
              </ng-container>
              </div>
            </div>
          </div>
      </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-end">
        <div class="mat-elevation-z8 table-responsive">
        <table #Administracion="matSort" mat-table [dataSource]="dataSourceAdministracion" matSort multiTemplateDataRows>
            <ng-container matColumnDef="sucursalShow">
              <th mat-header-cell *matHeaderCellDef class="text-center pointer" > Sucursal
              </th>
              <td mat-cell *matCellDef="let row" class="text-center" [ngStyle]="{'min-width':(miniColumnas)*1+'px'}"> {{row.sucursalShow}} </td>
            </ng-container>
            <ng-container matColumnDef="no_os">
              <th mat-header-cell *matHeaderCellDef class="text-center pointer" > # O.S
              </th>
              <td mat-cell *matCellDef="let row" class="text-center" [ngStyle]="{'min-width':(miniColumnas)*1.5+'px'}"> {{row.no_os | uppercase}} </td>
            </ng-container>
            <ng-container matColumnDef="fecha_recibido">
              <th mat-header-cell *matHeaderCellDef class="text-center pointer" > Fecha recibido
              </th>
              <td mat-cell *matCellDef="let row" class="text-center" [ngStyle]="{'min-width':(miniColumnas)*1.5+'px'}"> {{ row.fecha_recibido | formateHora:true}} </td>
            </ng-container>
            <ng-container matColumnDef="fecha_entregado">
              <th mat-header-cell *matHeaderCellDef class="text-center pointer" > Fecha entregado
              </th>
              <td mat-cell *matCellDef="let row" class="text-center" [ngStyle]="{'min-width':(miniColumnas)*1.5+'px'}"> {{ row.fecha_entregado | formateHora:true}} </td>
            </ng-container>
            <ng-container matColumnDef="subtotal">
              <th mat-header-cell *matHeaderCellDef class="text-center pointer" > Subtotal
              </th>
              <td mat-cell *matCellDef="let row" class="text-center" [ngStyle]="{'min-width':(miniColumnas)*1+'px'}"> {{ row.subtotal | monedas }} </td>
            </ng-container>
            <ng-container matColumnDef="clienteShow">
              <th mat-header-cell *matHeaderCellDef class="text-center pointer " >Cliente
              </th>
              <td mat-cell *matCellDef="let row" class="text-center text-capitalize" [ngStyle]="{'min-width':(miniColumnas)*2+'px'}"> {{ row.clienteShow }} </td>
            </ng-container>
            <ng-container matColumnDef="opciones">
              <th mat-header-cell *matHeaderCellDef class="text-center pointer" > &nbsp;
              </th>
              <td mat-cell *matCellDef="let row" class="text-center" [ngStyle]="{'min-width':(miniColumnas)*.5+'px'}">

              </td>
            </ng-container>
            <ng-container matColumnDef="expand" stickyEnd>
                <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                <td mat-cell *matCellDef="let element" >
                    <button mat-icon-button aria-label="expand row" 
                    (click)="
                    (expandedElement = expandedElement === element ? null : element); 
                    $event.stopPropagation();"
                    >
                      <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                      <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                    </button>
                </td>
              </ng-container>
              <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let row" [attr.colspan]="columnsToDisplayWithExpandAdministracion.length - 1">
                  <div class="example-element-detail row" [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'">

                    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" animationDuration="0ms">
                        <mat-tab label="Servicios">
                          <div class="col-lg-6 col-md-6 col-sm-6 col-12 mb-1 mt-1" *ngIf="row.reporte">
                            <app-reporte-desgloce-tarjeta [reporte]="row.reporte" ></app-reporte-desgloce-tarjeta>
                          </div>
                          <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-start" *ngIf="row.servicios">
                            <h3>Elementos de O.S</h3>
                            <div class="table-responsive">
                              <table class="table table-sm">
                                <thead>
                                  <tr>
                                    <th scope="text-start">Nombre</th>
                                    <th scope="text-center">Cantidad</th>
                                    <th scope="text-end">Precio</th>
                                    <th scope="text-end">Costo</th>
                                    <th scope="text-end">Subtotal</th>
                                    <th scope="text-end">Total</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <ng-container *ngFor="let item of row.servicios">
                                    <tr [ngClass]="'tipo-'+item.tipo" >
                                      <td class="text-start">
                                        {{item.nombre}} &nbsp;
                                        <span class="badge m-1" [ngClass]="item.aprobado ? 'badge-success': 'badge-danger'">{{ (item.aprobado) ? 'SI': 'NO'}}</span>
                                        <span class="badge badge-info m-1">{{item.status}}</span>
                                      </td>
                                      <td class="text-center">{{item.cantidad}}</td>
                                      <!-- <td class="text-end">{{(item.tipo === 'paquete') ? item.reporte.precio : item.precio | monedas}}</td> -->
                                      <td class="text-end">{{ item.precio | monedas}}</td>
                                      <td class="text-end">{{item.costo | monedas}}</td>
                                      <td class="text-end">{{item.subtotal | monedas}}</td>
                                      <td class="text-end">{{item.total | monedas}}</td>
                                    </tr>
                                  </ng-container>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </mat-tab>
                        <mat-tab label="Cliente">
                          <app-cliente-tarjeta [cliente]="row.data_cliente"></app-cliente-tarjeta>
                        </mat-tab>
                        <mat-tab label="vehiculo">
                          <app-vehiculo-tarjeta [vehiculo]="row.data_vehiculo"></app-vehiculo-tarjeta>
                        </mat-tab>
                      </mat-tab-group>
                  </div>
                </td>
              </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpandAdministracion" ></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplayWithExpandAdministracion;"
                class="example-element-row"
                [class.example-expanded-row]="expandedElement === row">
                <!-- (click)="expandedElement = expandedElement === element ? null : element" -->
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row" ></tr>
      </table>
      <mat-paginator #AdministracionPaginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
    </div>
  </div>