<app-template-navegacion></app-template-navegacion>

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-end">
      <div class="input-group mb-3 ">
          <mat-date-range-picker #picker></mat-date-range-picker>
          <mat-date-range-input (click)="picker.open()"  class="pointer form-control" [formGroup]="fechas_filtro" [rangePicker]="picker">
            <input matStartDate class="mr-2" formControlName="start" readonly placeholder="Inicio" id="Inicio">
            <input matEndDate formControlName="end" readonly placeholder="Final" id="Final">
          </mat-date-range-input>
          <div class="input-group-append">
            <button aria-label="boton de calendario" class="btn btn-sm btn-outline-secondary" type="button" (click)="picker.open()">
              <i class="fa fa-calendar-alt"></i>
            </button>
          </div>
        </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-end">
    <ng-container *ngIf="SUCURSAL === 'Todas'">
        <button aria-label="boton filtro de sucursales" class="btn btn-sm btn-success m-1" [matMenuTriggerFor]="filtroSucursal" #tooltip="matTooltip"
        matTooltip="Filtro sucursal"><i class="fa fa-university"></i></button>
        <mat-menu #filtroSucursal="matMenu">
            <button mat-menu-item (click)="filtro_sucursal = 'Todas'; filtra_informacion()" >{{'Todas' | capitalizarUno}}</button>
            <button mat-menu-item (click)="filtro_sucursal = sucursal.id; filtra_informacion()" *ngFor="let sucursal of sucursales_array">{{sucursal.sucursal | capitalizarUno}}</button>
        </mat-menu>
    </ng-container>
    
    <button aria-label="boton filtro tipo" class="btn btn-sm btn-primary m-1" [matMenuTriggerFor]="filtroTipo" #tooltip="matTooltip"
    matTooltip="Filtro tipo"><i class="fa fa-lightbulb"></i></button>
    <mat-menu #filtroTipo="matMenu">
        <button mat-menu-item (click)="filtro_tipo = 'Todos'; filtra_informacion()" >{{'Todos' | capitalizarUno}}</button>
        <button mat-menu-item (click)="filtro_tipo = tipo.valor; filtra_informacion()" *ngFor="let tipo of statusOS">{{tipo.show | capitalizarUno}}</button>
    </mat-menu>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-1 mb-1 mt-2">
    <app-template-tabla-recepciones [recepciones_arr]="recepciones_arr" [muestra_desgloce]="false" [muestra_cliente]="true"> </app-template-tabla-recepciones>
  </div>

</div>


