<app-template-navegacion></app-template-navegacion>

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-end">
      <div class="input-group mb-3 ">
          <mat-date-range-picker #picker></mat-date-range-picker>
          <mat-date-range-input (click)="picker.open()"  class="pointer form-control" [formGroup]="fechas_filtro" [rangePicker]="picker">
            <input matStartDate class="mr-2" formControlName="start" readonly placeholder="Inicio" id="Inicio">
            <input matEndDate formControlName="end" readonly placeholder="Final" id="Final">
          </mat-date-range-input>
          <div class="input-group-append">
            <button aria-label="boton de calendario" class="btn btn-sm btn-outline-secondary" type="button" (click)="picker.open()">
              <i class="fa fa-calendar-alt"></i>
            </button>
          </div>
        </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-end">
    <ng-container *ngIf="SUCURSAL === 'Todas'">
        <button aria-label="boton filtro de sucursales" class="btn btn-sm btn-success m-1" [matMenuTriggerFor]="filtroSucursal" #tooltip="matTooltip" [ngStyle]="{'min-width':(miniColumnas)*.3+'px'}"
        matTooltip="Filtro sucursal"><i class="fa fa-university"></i></button>
        <mat-menu #filtroSucursal="matMenu">
            <button mat-menu-item (click)="filtro_sucursal = 'Todas'; filtra_informacion()" >{{'Todas' | capitalizarUno}}</button>
            <button mat-menu-item (click)="filtro_sucursal = sucursal.id; filtra_informacion()" *ngFor="let sucursal of sucursales_array">{{sucursal.sucursal | capitalizarUno}}</button>
        </mat-menu>
    </ng-container>
    
    <button aria-label="boton filtro tipo" class="btn btn-sm btn-primary m-1" [matMenuTriggerFor]="filtroTipo" #tooltip="matTooltip"
    matTooltip="Filtro tipo" [ngStyle]="{'min-width':(miniColumnas)*.3+'px'}"><i class="fa fa-lightbulb"></i></button>
    <mat-menu #filtroTipo="matMenu">
        <button mat-menu-item (click)="filtro_tipo = 'Todos'; filtra_informacion()" >{{'Todos' | capitalizarUno}}</button>
        <button mat-menu-item (click)="filtro_tipo = tipo.valor; filtra_informacion()" *ngFor="let tipo of statusOS">{{tipo.show | capitalizarUno}}</button>
    </mat-menu>

    <button aria-label="Nuevo gasto" class="btn btn-sm btn-warning m-1" (click)="realizaGasto = 'gasto'" data-bs-toggle="modal"  data-bs-target="#modalGasto" #tooltip="matTooltip" matTooltip="Nuevo gasto" [ngStyle]="{'min-width':(miniColumnas)*.3+'px'}">
      <i class="fas fa-dollar-sign"></i>
    </button>


  </div>

  


  <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-1 mb-1 mt-2">
    <app-template-tabla-recepciones [recepciones_arr]="recepciones_arr" [muestra_desgloce]="false" [muestra_cliente]="true">
    </app-template-tabla-recepciones>
  </div>

</div>


<div class="modal fade" id="modalGasto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div
    class="modal-dialog modal-xl modal-fullscreen modal-fullscreen-sm-down modal-fullscreen-md-down modal-fullscreen-lg-down modal-fullscreen-xl-down modal-fullscreen-xxl-down">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body m-2">
        <ng-container *ngIf="realizaGasto === 'gasto'; else elseTemplate">
          <app-gasto ></app-gasto>
        </ng-container>
        <ng-template #elseTemplate>
          <app-pago></app-pago>
        </ng-template>
      </div>
    </div>
  </div>
</div>