<div class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a class="breadcrumb-item" [routerLink]="['/inicio']">Inicio</a></li>
          <li class="breadcrumb-item active">Servicios</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-end">
      <div class="input-group mb-3 ">
          <mat-date-range-picker #picker></mat-date-range-picker>
          <mat-date-range-input (click)="picker.open()"  class="pointer form-control" [formGroup]="fechas_filtro" [rangePicker]="picker">
            <input matStartDate class="mr-2" formControlName="start" readonly placeholder="Inicio">
            <input matEndDate formControlName="end" readonly placeholder="Final">
          </mat-date-range-input>
          <div class="input-group-append">
            <button class="btn btn-sm btn-outline-secondary" type="button" (click)="picker.open()">
              <i class="fa fa-calendar-alt"></i>
            </button>
          </div>
        </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-end">
    <ng-container *ngIf="SUCURSAL === 'Todas'">
        <button class="btn btn-sm btn-primary m-1" [matMenuTriggerFor]="filtroSucursal" #tooltip="matTooltip"
        matTooltip="Filtro sucursal"><i class="fa fa-filter"></i></button>
        <mat-menu #filtroSucursal="matMenu">
            <button mat-menu-item (click)="filtro_sucursal = 'Todas'; filtra_informacion()" >{{'Todas' | capitalizarUno}}</button>
            <button mat-menu-item (click)="filtro_sucursal = sucursal.id; filtra_informacion()" *ngFor="let sucursal of sucursales_array">{{sucursal.sucursal | capitalizarUno}}</button>
        </mat-menu>
    </ng-container>
    
    <button class="btn btn-sm btn-success m-1" [matMenuTriggerFor]="filtroTipo" #tooltip="matTooltip"
    matTooltip="Filtro tipo"><i class="fa fa-filter"></i></button>
    <mat-menu #filtroTipo="matMenu">
        <button mat-menu-item (click)="filtro_tipo = 'Todos'; filtra_informacion()" >{{'Todos' | capitalizarUno}}</button>
        <button mat-menu-item (click)="filtro_tipo = tipo.valor; filtra_informacion()" *ngFor="let tipo of statusOS">{{tipo.show | capitalizarUno}}</button>
    </mat-menu>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-1 mb-1 mt-2">
    <app-template-tabla-recepciones [recepciones_arr]="recepciones_arr" [muestra_desgloce]="false" [muestra_cliente]="true"> </app-template-tabla-recepciones>
  </div>

</div>



<div class="modal fade" id="modal-servicio-editar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen modal-fullscreen-sm-down modal-fullscreen-md-down modal-fullscreen-lg-down modal-fullscreen-xl-down modal-fullscreen-xxl-down">
    <div class="modal-content">

      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Informacion  O.S {{ servicio_editar.no_os}}</h1>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" id="cerrar-modal">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <!-- <pre>
          {{servicio_editar | json }}
        </pre> -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="row">
            
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-start mb-1">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                  <label for="listatecnicos text-capitalize">Status: {{ servicio_editar.status }}</label>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                  <select class="form-select form-select-sm mb-1" aria-label="Small select example" [formControl]="myControl_status">
                    <option selected value="">Seleccionar</option>
                    <option [selected]="item.valor === servicio_editar.status" [value]="item.valor" *ngFor="let item of statusOS">
                      {{item.show}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-start mb-1">
              <app-lista-tecnicos [sucursal]="servicio_editar.sucursal"  (dataTecnico)="tecnico_os ( $event )"></app-lista-tecnicos>
              <ng-container *ngIf="servicio_editar.tecnico">
                Tecnico actual: <strong>{{servicio_editar.showNameTecnico}}</strong>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-1 mb-1">
          <app-cliente-tarjeta [cliente]="servicio_editar.data_cliente"></app-cliente-tarjeta>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-1 mb-1">
          <app-vehiculo-tarjeta [vehiculo]="servicio_editar.data_vehiculo"></app-vehiculo-tarjeta>
        </div>

      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <form [formGroup]="my_control_1">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-1">
              <div class="row  align-items-center">
                <div class="col-auto">
                  <label for="servicio" class="col-form-label">Servicio</label>
                </div>
                <div class="col-6">
                  <select id="servicio" formControlName="servicio" class="form-select form-select-sm text-capitalize">
                    <option [selected]="item.valor === servicio_editar.servicio" [value]="item.valor" *ngFor="let item of servicios">{{item.nombre}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-1">
              <div class="row g-3 align-items-center">
                <div class="col-auto">
                  <label for="formaPago" class="col-form-label">Metodo de pago</label>
                </div>
                <div class="col-auto">
                  <select id="formaPago" formControlName="formaPago" class="form-select form-select-sm text-capitalize">
                    <option [selected]="item.id === servicio_editar.formaPago" [value]="item.id" *ngFor="let item of formasPago" >{{item.pago}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-1">
              <div class="row g-3 align-items-center">
                <div class="col-auto">
                  <label for="margen" class="col-form-label">margen</label>
                </div>
                <div class="col-auto">
                  <input [value]="servicio_editar.margen" onkeypress="soloNumeros(event)" class="form-control form-control-sm"  type="number" formControlName="margen" min="25" max="100">
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-1">
              <div class="row g-3 align-items-center">
                <div class="col-auto">
                  <label for="margen" class="col-form-label">Descuento</label>
                </div>
                <div class="col-auto">
                  <input [value]="servicio_editar.descuento" onkeypress="soloNumeros(event)" class="form-control form-control-sm"  type="number" formControlName="descuento" min="0" max="3000">
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-1">
              <div class="form-check">
                <input class="form-check-input" id="iva" type="checkbox" [value]="servicio_editar.iva" formControlName="iva" >
                <label class="form-check-label" for="iva">
                  IVA
                </label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-12 mb-1 mt-1" *ngIf="servicio_editar.reporte">
        <app-reporte-desgloce-tarjeta [reporte]="servicio_editar.reporte" ></app-reporte-desgloce-tarjeta>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-start" *ngIf="servicio_editar.elementos">
        <!-- <button (click)="variable_modal = 'paquete'" class="btn btn-primary btn-sm m-1" data-bs-target="#modal-paquetes" data-bs-toggle="modal">Agregar paquete</button> -->
        <button  class="btn btn-primary btn-sm m-1" data-bs-target="#modal-paquetes" data-bs-toggle="modal">Agregar paquete</button>
        <button  class="btn btn-primary btn-sm m-1" data-bs-target="#modal-elementos" data-bs-toggle="modal">Agregar elemento</button>
        <button  class="btn btn-primary btn-sm m-1" data-bs-target="#modal-gastos" data-bs-toggle="modal">Nuevo gasto</button>
        <button  class="btn btn-primary btn-sm m-1" data-bs-target="#modal-pagos" data-bs-toggle="modal">Nuevo pago</button>
        
        
        <h3>Elementos de O.S</h3>
        <div class="table-responsive">
          <table class="table table-sm">
            <thead>
              <tr>
                <th scope="text-start">Nombre</th>
                <th scope="text-center">Cantidad</th>
                <th scope="text-end">Precio</th>
                <th scope="text-end">Costo</th>
                <th scope="text-end">Subtotal</th>
                <th scope="text-end">Total</th>
                <th scope="text-end">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of servicio_editar.elementos">
                <tr [ngClass]="'tipo-'+item.tipo" >
                  <td class="text-start">
                    {{item.nombre}} &nbsp;
                    <span class="badge m-1" [ngClass]="item.aprobado ? 'badge-success': 'badge-danger'">{{ (item.aprobado) ? 'SI': 'NO'}}</span>
                    <span class="badge badge-info m-1">{{item.status}}</span>
                  </td>
                  <td class="text-center">{{item.cantidad}}</td>
                  <td class="text-end">{{item.precio | monedas}}</td>
                  <td class="text-end">{{item.costo | monedas}}</td>
                  <td class="text-end">{{item.subtotal | monedas}}</td>
                  <td class="text-end">{{item.total | monedas}}</td>
                  <td class="text-end">
                    <ng-container *ngIf="servicio_editar.status !== 'cancelado' && servicio_editar.status !== 'entregado'">
                      <i class="fa fa-check-double text-primary pointer m-1"  *ngIf="!item.aprobado" (click)="actualiza_servicio_unico({servicio: item, aprobado: true})"></i>
                      <i class="fa fa-trash text-danger pointer m-1"  *ngIf="item.aprobado" (click)="actualiza_servicio_unico({servicio: item, aprobado: false, status:'eliminado'})"></i>
                      <i class="fa fa-pause text-danger pointer m-1"  *ngIf="item.aprobado" (click)="actualiza_servicio_unico({servicio: item, status: 'espera'})"></i>
                      <i class="fa fa-check-square text-danger pointer m-1"  *ngIf="item.aprobado" (click)="actualiza_servicio_unico({servicio: item, status: 'terminado'})"></i>
                      <i class="fa fa-ban text-danger pointer m-1"  *ngIf="item.aprobado" (click)="actualiza_servicio_unico({servicio: item, status: 'cancelado', aprobado: false})"></i>
                    </ng-container>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
        <mat-tab label="Historial gastos">
          <app-tarjeta-historial-gastos [historial_gastos]="servicio_editar.historial_gastos"></app-tarjeta-historial-gastos>
        </mat-tab>
        <mat-tab label="Historial pagos">
          <app-tarjeta-historial-pagos [historial_pagos]="servicio_editar.historial_pagos"></app-tarjeta-historial-pagos>
        </mat-tab>
      </mat-tab-group>
      
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cerrar_modal_servicio_editar()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="Actualiza_data_os()">
          <i class="fa fa-save"></i> Actualizar
        </button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modal-elementos" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
  <div class="modal-dialog modal-fullscreen modal-fullscreen-sm-down modal-fullscreen-md-down modal-fullscreen-lg-down modal-fullscreen-xl-down modal-fullscreen-xxl-down">
    <div class="modal-content">
      <div class="modal-body">
        <app-mo-refacciones [registro]="true" (dataElemento)="agregar_servicio( $event )"></app-mo-refacciones>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" id="regresa-primero-editar" data-bs-target="#modal-servicio-editar" data-bs-toggle="modal">Regresar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-paquetes" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen modal-fullscreen-sm-down modal-fullscreen-md-down modal-fullscreen-lg-down modal-fullscreen-xl-down modal-fullscreen-xxl-down">
    <div class="modal-content">
      <div class="modal-body m-2">
        <app-paquetes  (infoPaquete)="agregar_paquete( $event)" ></app-paquetes>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" id="regresa-primero-editar" data-bs-target="#modal-servicio-editar" data-bs-toggle="modal">Regresar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal-gastos" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen modal-fullscreen-sm-down modal-fullscreen-md-down modal-fullscreen-lg-down modal-fullscreen-xl-down modal-fullscreen-xxl-down">
    <div class="modal-content">
      <div class="modal-body m-2">
        <app-gasto [id_os]="servicio_editar"></app-gasto>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" id="regresa-primero-editar" data-bs-target="#modal-servicio-editar" data-bs-toggle="modal">Regresar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal-pagos" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen modal-fullscreen-sm-down modal-fullscreen-md-down modal-fullscreen-lg-down modal-fullscreen-xl-down modal-fullscreen-xxl-down">
    <div class="modal-content">
      <div class="modal-body m-2">
        <app-pago [id_os]="servicio_editar"></app-pago>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" id="regresa-primero-editar" data-bs-target="#modal-servicio-editar" data-bs-toggle="modal">Regresar</button>
      </div>
    </div>
  </div>
</div>
