<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <input type="text" class="form-control form-control-sm" [formControl]="myControl" [matAutocomplete]="auto" placeholder="Buscar tecnico">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="tecnicoSeleccionado(option)">
          {{option['usuario']}}
        </mat-option>
      </mat-autocomplete>
    </div>
</div>