<!-- <pre>{{sucursal | json}}</pre> -->
<div class="row">
  <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-end">
    <button type="button" class="btn-close m-1" data-bs-dismiss="modal" aria-label="Close"></button>
  </div> -->
  <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
    <label for="listatecnicos">Seleccionar tecnico de la O.S</label>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
    <input name="listatecnicos" type="text" class="form-control form-control-sm" [formControl]="myControl" [matAutocomplete]="auto" placeholder="Buscar tecnico">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="tecnicoSeleccionado(option)">
          {{option['usuario']}}
        </mat-option>
      </mat-autocomplete>
  </div>
</div>