<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
    <button type="button" class="close" aria-label="Close" data-bs-dismiss="modal">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<!-- <strong>{{sucursal}}</strong> -->
<div class="card text-left">
    <div class="card-body">
      
      <div class="col text-center">
        <h2 class="text-primary"><strong>Registro de Gasto</strong></h2>
        <!-- data-bs-dismiss="modal" -->
        
      </div>
      
      <form (ngSubmit)="registroGasto()" [formGroup]="formGasto" class="m-2">
        <div class="row">
          <div class=" col-lg-12 col-md-12col-sm-12 col-12 text-start" >
            <div class="row">
              
              <ng-container *ngIf="dataRecepcion; else elseData">
                <!-- existe data -->
              </ng-container>
              <ng-template #elseData>
                <!-- no hay data de recepcion -->
                <ng-container *ngIf="!id_os">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="mb-1 row">
                      <label [ngClass]="{'text-danger': validaCampo('tipo'),'text-success': !validaCampo('tipo')}" for="tipo"
                        class="col-sm-4 col-md-6 col-lg-6 col-12 col-form-label">Tipo</label>
                      <div class="col-sm-8 col-md-6 col-lg-6 col-12">
                        <select id="sucursal" class="form-select form-select-sm" formControlName="tipo" #tipoGasto >
                          <option value="operacion">Gasto de operación</option>
                          <option value="orden">Gatos de O.S</option>
                        </select>
                      </div>
                    </div>
                  </div>
              </ng-container>
              <ng-container *ngIf="!id_os && SUCURSAL ==='Todas'">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-start">
                  <div class="mb-1 row">
                    <label [ngClass]="{'text-danger': validaCampo('sucursal'),'text-success': !validaCampo('sucursal')}"
                      for="sucursal" class="col-sm-4 col-md-6 col-lg-6 col-12 col-form-label">Sucursal</label>
                    <div class="col-sm-8 col-md-6 col-lg-6 col-12">
                      <select id="sucursal" class="form-select form-select-sm" formControlName="sucursal">
                        <option value="">Selecciona</option>
                        <option [value]="s.id" *ngFor="let s of sucursales_array">
                          {{s.sucursal}}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </ng-container>
          
                  <ng-container *ngIf="muestraLista && !id_os">
                    <div class="col-lg-6 col-md-6  col-sm-12 col-12 text-start" >
                      <div class="mb-1 row">
                        <label [ngClass]="{'text-danger': validaCampo('numero_os'),'text-success': !validaCampo('numero_os')}" for="numero_os"
                          class="col-sm-4 col-md-6 col-lg-6 col-12 col-form-label"># O.S  [ ordenes: {{ claves_ordenes.length }} ]</label>
                        <div class="col-sm-8 col-md-6 col-lg-6 col-12">
                          <select id="sucursal" class="form-select form-select-sm" formControlName="numero_os" >
                            <option value="">Selecciona</option>
                            <option [value]="s.key" *ngFor="let s of claves_ordenes">
                              {{s.no_os}}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                  
                  

                
              </ng-template>
              <ng-container *ngIf="muestraLista">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-start" *ngIf="dataRecepcion || muestraLista">
                  <div class="mb-1 row">
                    <label [ngClass]="{'text-danger': validaCampo('gasto_tipo'),'text-success': !validaCampo('gasto_tipo')}" for="gasto_tipo"
                      class="col-sm-4 col-md-6 col-lg-6 col-12 col-form-label">Tipo de gasto</label>
                    <div class="col-sm-8 col-md-6 col-lg-6 col-12">
                      <select id="gasto_tipo" [ngModel]="''" class="form-select form-select-sm" formControlName="gasto_tipo" >
                        <option value="">Selecciona</option>
                        <option value="refaccion" class="text-capitalize">refacción</option>
                        <option value="mo" class="text-uppercase">MO</option>
                      </select>
                    </div>
                  </div>
                </div>
            </ng-container>
              <div class="col-lg-6 col-md-6  col-sm-12 col-12 text-start" >
                <div class="mb-1 row">
                  <label [ngClass]="{'text-danger': validaCampo('facturaRemision'),'text-success': !validaCampo('facturaRemision')}" for="facturaRemision"
                    class="col-sm-4 col-md-6 col-lg-6 col-12 col-form-label">Factura / Nota</label>
                  <div class="col-sm-8 col-md-6 col-lg-6 col-12">
                    <select id="facturaRemision" [ngModel]="''" class="form-select form-select-sm" formControlName="facturaRemision" >
                      <!-- <option value="">Selecciona</option> -->
                      <option value="nota" class="text-capitalize">Nota</option>
                      <option value="factura" class="text-capitalize">Factura</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6  col-sm-12 col-12 text-start">
                <div class="mb-1 row">
                  <label [ngClass]="{'text-danger': validaCampo('monto'),'text-success': !validaCampo('monto')}" for="monto"
                    class="col-sm-4 col-md-6 col-lg-6 col-12 col-form-label">Monto de gasto</label>
                  <div class="col-sm-8 col-md-6 col-lg-6 col-12">
                    <input id="monto" type="number" onkeypress="validarDecimal(event)" min="0" max="10000000" class="form-control form-control-sm"
                      formControlName="monto">
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6  col-sm-12 col-12 text-start">
                <div class="mb-1 row">
                  <label [ngClass]="{'text-danger': validaCampo('metodo'),'text-success': !validaCampo('metodo')}"
                    for="metodo" class="col-sm-4 col-md-6 col-lg-6 col-12 col-form-label">Método de gasto </label>
                  <div class="col-sm-8 col-md-6 col-lg-6 col-12">
                    <select id="metodo" class="form-select form-select-sm" formControlName="metodo">
                      <option value="">Selecciona</option>
                      <option [value]="pago.metodo" *ngFor="let pago of metodospago">
                        {{pago.show}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              
              <div class="col-lg-6 col-md-6  col-sm-12 col-12 text-start">
                <div class="mb-1 row">
                  <label [ngClass]="{'text-danger': validaCampo('concepto'),'text-success': !validaCampo('concepto')}"
                    for="concepto" class="col-sm-4 col-md-4 col-lg-3 col-form-label">Concepto </label>
                  <div class="col-sm-8 col-md-8 col-lg-9">
                    <textarea style="width: 100%" formControlName="concepto" id="concepto"></textarea>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6  col-sm-12 col-12 text-start">
                <div class="mb-1 row">
                  <label [ngClass]="{'text-danger': validaCampo('referencia'),'text-success': !validaCampo('referencia')}"
                    for="referencia" class="col-sm-4 col-md-4 col-lg-3 col-form-label">Proveedor / Referencia </label>
                  <div class="col-sm-8 col-md-8 col-lg-9">
                    <textarea style="width: 100%" formControlName="referencia" id="referencia"></textarea>
                  </div>
                </div>
              </div>
              </div>
          </div>
          <ng-container *ngIf="SUCURSAL === 'Todas'">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center" >
              <div class="input-group mb-3 ">
                <input (click)="pickerBarrido.open()"  [min]="minDate" [max]="maxDate" [matDatepickerFilter]="myFilter" 
                class="form-control" [matDatepicker]="pickerBarrido" (dateChange)="addEvent('change', $event)">
                <mat-datepicker #pickerBarrido class="mat-datepicker-overlay" ></mat-datepicker>
                <div class="input-group-append">
                  <button class="btn btn-sm btn-outline-secondary" type="button" (click)="pickerBarrido.open()">
                    <i class="fa fa-calendar-alt"></i>
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
          
          
          
          
          <!-- {{ formGasto.controls['fecha'].value | json }} -->
          <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center" *ngIf="SUCURSAL === 'Todas'">
            <div class="row text-start">
                  <label [ngClass]="{'text-danger': validaCampo('fecha'),'text-success': !validaCampo('fecha')}"
                    class=" col-12 col-sm-3 col-md-3 col-lg-3 col-form-label">Fecha </label>
                  <div class=" col-12 col-sm-9 col-md-9 col-lg-9">
                    
                          <mat-card class="demo-inline-calendar-card">
                            <mat-calendar [(selected)]="selected" [dateClass]="dateClass"></mat-calendar>
                          </mat-card>
                  </div> 
            </div>sd
            {{selected}}
          </div> -->

          <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
            <button type="submit" [ngStyle]="{'min-width':(miniColumnas)*1.5+'px'}"
              class="btn btn-sm btn-primary m-1">Registrar gasto</button>
            <button type="button" [ngStyle]="{'min-width':(miniColumnas)*1.5+'px'}"
              class="btn btn-sm btn-danger m-1" (click)="cancela()" data-bs-dismiss="modal">Cancelar</button>
            <!-- <button type="button" 
              class="btn btn-sm btn-danger m-1" (click)="resetea()" >resetea</button> -->
          </div>
        </div>
      </form>

      <!-- <pre>{{formGasto.value |json}}</pre> -->
      <ng-container *ngIf="faltante_s">
        <app-tarjeta-faltantes [faltante_s]="faltante_s"></app-tarjeta-faltantes>
      </ng-container>
    </div>


    