
.confirmada{
    color: #17a2b8;
}

.cancelada{
    color: #dc3545;
}
.noConfirmada{
    color: #ffc107;
}
.sinConfirmarDomicilio{
    color: #28a745;
}
.concretada{
    color: #007bff;
}
.comentario{
    font-size: 12;
    color: #dc3545;
}
.direccion{
    color: blue;
    cursor: pointer;
}
.list-group-item{
    border-width: 1px;
    border-color: lavender;
}
.btn-usm{
    --bs-btn-padding-y: .05rem; --bs-btn-padding-x: .25rem; --bs-btn-font-size: .55rem;
}