
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-12 m-1 text-end">
    
    <button type="button" aria-label="Status cita" [matMenuTriggerFor]="menuCita" class="btn btn-sm btn-light">
      <i class="fas fa-exchange-alt"></i> <strong [ngClass]="data_cita['status']"> {{ data_cita['show'] | uppercase}}</strong>
    </button>
    <mat-menu #menuCita="matMenu">
      <button mat-menu-item *ngFor="let status of status_cita" (click)="change_statusCita(status)">{{status.show | capitalizarUno}}</button>
    </mat-menu>
  </div>

  <div class="col m-1">
  <div class="list-group">
    <div class="row ">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group-item">
        <div class="row">
          <div class="col-lg-4 col-md-5 col-sm-6 col-12 justify-content-between">
            <h4 class="mb-1 text-capitalize">Fecha agendado</h4>
          </div>
          <div class="col-lg-8 col-md-7 col-sm-6 col-12 justify-content-start">
            <h4 class="mb-1">{{data_cita['fecha_recibido'] | formateHora:true}}</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group-item">
        <div class="row">
          <div class="col-lg-4 col-md-5 col-sm-6 col-12 justify-content-between ">
            <h4 class="mb-1 text-capitalize">servicio</h4>
          </div>
          <div class="col-lg-8 col-md-7 col-sm-6 col-12 justify-content-start">
            <h4 class="mb-1 ">{{data_cita['servicio_show'] | uppercase}}</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group-item ">
        <div class="row">
          <div class="col-lg-4 col-md-5 col-sm-6 col-12 justify-content-between ">
            <h4 class="mb-1 text-capitalize">comentario</h4>
          </div>
          <div class="col-lg-8 col-md-7 col-sm-6 col-12 justify-content-start">
            <h4 class="mb-1">{{data_cita['comentario'] | capitalizarUno}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<app-cliente-tarjeta [cliente]="data_cita.data_cliente" [editar]="false" [title]="'Información cliente'"></app-cliente-tarjeta>

<app-vehiculo-tarjeta [vehiculo]="data_cita.data_vehiculo" [title]="'Información vehículo'"></app-vehiculo-tarjeta>

<app-sucursal-tarjeta [sucursal]="data_cita.data_sucursal" [title]="'Información sucursal'"></app-sucursal-tarjeta>

<div class="row mb-5">
  &nbsp;
</div>