

<ng-container *ngIf="editar; else elseEditar">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-end">
        <button class="btn btn-sm btn-danger m-1" (click)="editar = false">
            <i class="fa fa-calendar-exclamation"></i> Cancelar cita
        </button>
      </div>
    editar la informacion de la cita
    <app-registra-cita [id_cita]="info.id" [info_cita]="info" [nuevaCita]="false"></app-registra-cita>
</ng-container>
<ng-template #elseEditar>
    <ng-container *ngIf="info; else elseTemplate">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-end">
          <h1>Cita {{ info.title }}</h1>
        </div>
        <ng-container>
              <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-end">
                <button class="btn btn-sm btn-danger m-1" (click)="eliminar()">
                    <i class="fa fa-ban"></i> Cancelar
                </button>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-12">Cliente: <strong> {{info.fullname}} </strong></div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-12">Correo: <strong> {{info.correo}} </strong></div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-12">Placas: <strong> {{info.placas}} </strong></div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-12">Dia: <strong> {{info.dia}} </strong></div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-12">Horario: <strong> {{info.horario}} </strong></div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-12">Sucursal: <strong> {{info.sucursalShow}} </strong></div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-12">Asistio: <strong> {{info.asistenciaShow}} </strong></div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-12">Recordatorio: <strong> {{info.recordatorioShow}} </strong></div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-12">Confirmada: <strong> {{info.confirmadaShow}} </strong></div>
        </ng-container>
    </div>
    </ng-container>
    <ng-template #elseTemplate>
        <div class="alert alert-info col-lg-12 col-md-12 col-sm-12 col-12">
            <p>Se elimino cita</p>
        </div>
    </ng-template>
</ng-template>
<div class="row mb-5 mt-5">
  <div class="col">

  </div>
</div>

