<!-- <pre>
    {{ paquete | json}}
</pre> -->

<div class="row m-1" >
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center text-uppercase text-danger">
        <h3>Paquete <strong>{{paquete.nombre}}</strong></h3>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <ng-container *ngIf="paquete.vehiculos_compatibles">
          <h4><strong>Vehículos  compatibles</strong> </h4>
          <ng-container *ngFor="let item of paquete.vehiculos_compatibles; let i = index">
              <span class="etiqueta">{{item.marca}} - {{item.modelo}}, {{item.anio_inicial}} a {{item.anio_final}} 
                  <i class="fas fa-times pointer"  ></i>
              </span>
          </ng-container>
      </ng-container>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card border-success mb-3">
          <div class="card-header text-center"></div>
          <div class="card-body text-success ">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center text-uppercase">
                  con margen inicial de 25 % para las refacciones
                </div>
                
                <!-- <div class="col-lg-8 col-md-8 col-sm-6 col-6 text-start text-uppercase">U.B</div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-6 text-end" [ngClass]="paquete.reporte.ub >= 55 ? 'text-success': 'text-danger'">
                  <strong>{{paquete.reporte.ub  | monedas:'%'}}</strong>
                </div> -->

                <div class="col-lg-4 col-md-4 col-sm-6 col-6 text-end"><strong>{{paquete.reporte.mo  | monedas}}</strong></div>
                <div class="col-lg-8 col-md-8 col-sm-6 col-6 text-start text-uppercase">MO</div>
                
                <div class="col-lg-4 col-md-4 col-sm-6 col-6 text-end"><strong>{{paquete.reporte.refaccionVenta  | monedas}}</strong></div>
                <div class="col-lg-8 col-md-8 col-sm-6 col-6 text-start text-uppercase">Refacciones</div>
                
                <div class="col-lg-4 col-md-4 col-sm-6 col-6 text-end"><strong>{{paquete.reporte.subtotal  | monedas}}</strong></div>
                <div class="col-lg-8 col-md-8 col-sm-6 col-6 text-start text-uppercase">Subtotal sin margen</div>
                
                <div class="col-lg-4 col-md-4 col-sm-6 col-6 text-end"><strong>{{paquete.reporte.total  | monedas}}</strong></div>
                <div class="col-lg-8 col-md-8 col-sm-6 col-6 text-start text-uppercase">Total con margen</div>
                
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center text-uppercase">
                  {{paquete.reporte.total  | numerosLetras}} 
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <!-- <th colspan="8" class="col text-center fs-5">U.B {{element.reporte_interno['ub'] | monedas:'%'}}</th> -->
            </tr>
            <tr>
              <th scope="col" class="text-capitalize">#</th>
              <th scope="col" class="text-capitalize">nombre</th>
              <th scope="col" class="text-capitalize">cantidad</th>
              <!-- <th scope="col" class="text-capitalize">costo</th> -->
              <th scope="col" class="text-capitalize">precio</th>
              <th scope="col" class="text-capitalize">total</th>
              <!-- <th scope="col" class="text-capitalize">eliminar</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of paquete.elementos; let indexHijo = index" class="anima">
              <th scope="row" class="text-center">{{indexHijo +1}}</th>
              <td>
                  
                  <strong
                  [ngClass]="{'tipo-mo':item.tipo === 'mo','tipo-refaccion':item.tipo === 'refaccion','tipo-paquete':item.tipo === 'paquete'}">
                  {{item.nombre | capitalizarUno}}</strong>
              </td>
              <td class="text-center"> {{item.cantidad }} </td>
              <!-- <td> {{item.costo | monedas}} </td> -->
              <td class="text-end"> {{item.precio | monedas}} </td>
              <td class="text-end">
               {{item.total | monedas}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>