<app-template-navegacion></app-template-navegacion>

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-end">
    <div class="input-group mb-3 ">
        <mat-date-range-picker #picker></mat-date-range-picker>
        <mat-date-range-input (click)="picker.open()"  class="pointer form-control" [formGroup]="fechas_filtro" [rangePicker]="picker">
          <input matStartDate class="mr-2" formControlName="start" readonly placeholder="Inicio" id="Inicio">
          <input matEndDate formControlName="end" readonly placeholder="Final" id="Final">
        </mat-date-range-input>
        <div class="input-group-append">
          <button aria-label="boton de calendario" class="btn btn-sm btn-outline-secondary" type="button" (click)="picker.open()">
            <i class="fa fa-calendar-alt"></i>
          </button>
        </div>
      </div>
  </div>
  <ng-container *ngIf="_sucursal === 'Todas'">
    <div class="col-lg-1 col-md-2 col-sm-2 col-12 mb-1">
    <button aria-label="MenuSucursal" class="btn btn-sm btn-success" [matMenuTriggerFor]="filtroSucursal"><i class="fa fa-university"></i></button>
    <mat-menu #filtroSucursal="matMenu">
      <button mat-menu-item (click)="filtro_sucursal = 'Todas'; resetea_horas_admin()" >{{'Todas' | capitalizarUno}}</button>
      <button mat-menu-item (click)="filtro_sucursal = sucursal.id; resetea_horas_admin()" *ngFor="let sucursal of sucursales_array">{{sucursal.sucursal | capitalizarUno}}</button>
    </mat-menu>
  </div>
</ng-container>
  <div class="col-lg-6 col-md-8 col-sm-12 col-12">
    <div class="card border-success mb-3">
      <div class="card-header text-center">Corte de ingresos</div>
      <div class="card-body text-success ">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-start">Total ordenes </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-end"><strong>{{reporte.total_ordenes}}</strong></div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="row">
              <ng-container *ngFor="let item of camposReporte">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-start">{{item.show}}</div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-end"><strong>{{reporte[item.valor] | monedas}}</strong></div>
            </ng-container>
            </div>
          </div>
          
          <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-start">% GM </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-end"><strong>{{reporte.porcentajeGM | monedas:'%'}}</strong></div>
    
          <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-start">% Cumplido </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-end"><strong>{{reporte.porcentaje | monedas:'%'}}</strong></div>
        </div>
      </div>
    </div>
  </div>
  
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-1 mb-1 mt-2">
  <!-- <app-template-tabla-recepciones [recepciones_arr]="recepciones_arr" [muestra_desgloce]="false" [muestra_cliente]="true"></app-template-tabla-recepciones> -->
  <app-template-tabla-recepciones [recepciones_arr]="recepciones_arr" [reales]="true" [muestra_desgloce]="false" [muestra_cliente]="true"> </app-template-tabla-recepciones>
</div>

