<app-template-navegacion></app-template-navegacion>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
    <ng-container *ngIf="_sucursal === 'Todas'">
      <button  class="btn btn-sm btn-success m-1" [ngStyle]="{'min-width':(miniColumnas)*1+'px'}"
      data-bs-toggle="modal"  data-bs-target="#modalDeposito" (click)="realizaGasto = 'pago'"
      >Nuevo deposito</button>
    </ng-container>
    <button class="btn btn-sm btn-success m-1" [ngStyle]="{'min-width':(miniColumnas)*1+'px'}"  (click)="realizaGasto = 'gasto'" data-bs-toggle="modal"  data-bs-target="#modalGasto">Nuevo gasto</button>
    <button class="btn btn-sm btn-success m-1" (click)="realizaGasto = 'pago'" [ngStyle]="{'min-width':(miniColumnas)*1+'px'}" data-bs-toggle="modal"  data-bs-target="#modalGasto"
        >Registra pago</button>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-end">
    <div class="input-group mb-3 ">
        <mat-date-range-picker #picker></mat-date-range-picker>
        <mat-date-range-input (click)="picker.open()"  class="pointer form-control" [formGroup]="fechas_filtro" [rangePicker]="picker">
          <input matStartDate class="mr-2" formControlName="start" readonly placeholder="Inicio" id="Inicio">
          <input matEndDate formControlName="end" readonly placeholder="Final" id="Final">
        </mat-date-range-input>
        <div class="input-group-append">
          <button aria-label="boton de calendario" class="btn btn-sm btn-outline-secondary" type="button" (click)="picker.open()">
            <i class="fa fa-calendar-alt"></i>
          </button>
        </div>
      </div>
  </div>
  <ng-container *ngIf="_sucursal === 'Todas'">
    <div class="col-lg-1 col-md-2 col-sm-2 col-12 mb-1">
    <button aria-label="MenuSucursal" class="btn btn-sm btn-success" [matMenuTriggerFor]="filtroSucursal"><i class="fa fa-university"></i></button>
    <mat-menu #filtroSucursal="matMenu">
      <button mat-menu-item (click)="filtro_sucursal = 'Todas'; resetea_horas_admin()" >{{'Todas' | capitalizarUno}}</button>
      <button mat-menu-item (click)="filtro_sucursal = sucursal.id; resetea_horas_admin()" *ngFor="let sucursal of sucursales_array">{{sucursal.sucursal | capitalizarUno}}</button>
    </mat-menu>
  </div>
</ng-container>
  <div class="col-lg-6 col-md-8 col-sm-12 col-12">
    <div class="card border-success mb-3">
      <div class="card-header text-center">Corte de ingresos</div>
      <div class="card-body text-success ">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-start">Total ordenes </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-end"><strong>{{reporte.total_ordenes}}</strong></div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="row">
              <ng-container *ngFor="let item of camposReporte">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-start">{{item.show}}</div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-end"><strong>{{reporte[item.valor] | monedas}}</strong></div>
            </ng-container>
            </div>
          </div>
          
          <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-start">% GM </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-end"><strong>{{reporte.porcentajeGM | monedas:'%'}}</strong></div>
    
          <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-start">% Cumplido </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-end"><strong>{{reporte.porcentaje | monedas:'%'}}</strong></div>
        </div>
      </div>
    </div>
  </div>
  
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-1 mb-1 mt-2">
  <!-- <app-template-tabla-recepciones [recepciones_arr]="recepciones_arr" [muestra_desgloce]="false" [muestra_cliente]="true"></app-template-tabla-recepciones> -->
  <button class="btn btn-sm btn-success m-1" (click)="generaExcel_corte_ingresos()"> generaExcel_corte_ingresos()</button>
  <app-template-tabla-recepciones [recepciones_arr]="recepciones_arr" [reales]="true" [muestra_desgloce]="false" [muestra_cliente]="true"> </app-template-tabla-recepciones>
</div>

<div class="modal fade" id="modalGasto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="exampleModalLabel" aria-hidden="true">
<div
  class="modal-dialog modal-xl modal-fullscreen modal-fullscreen-sm-down modal-fullscreen-md-down modal-fullscreen-lg-down modal-fullscreen-xl-down modal-fullscreen-xxl-down">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <div class="modal-body m-2">
      <ng-container *ngIf="realizaGasto === 'gasto'; else elseTemplate">
        <app-gasto ></app-gasto>
      </ng-container>
      <ng-template #elseTemplate>
        <app-pago></app-pago>
      </ng-template>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="modalDeposito" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="exampleModalLabel" aria-hidden="true">
<div
  class="modal-dialog modal-xl modal-fullscreen modal-fullscreen-sm-down modal-fullscreen-md-down modal-fullscreen-lg-down modal-fullscreen-xl-down modal-fullscreen-xxl-down">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" id="cerrar-modal">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <div class="modal-body m-2">
      <app-realiza-deposito (data_deposito)="data_deposito( $event )"></app-realiza-deposito>
    </div>
  </div>
</div>
</div>
