<!-- <button
    class="btn btn-sm btn-outline-primary m-5"
    (click)="generaPdfRemision()">Genera</button> -->

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <h2 class="text-primary">
                    <strong>informacion de recepcion # {{data['no_os']}}</strong>
                </h2>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-1" *ngIf="data['infoCliente']">
                <div class="row border">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                        <h1>Informacion de cliente</h1>
                    </div>
                    <ng-container *ngFor="let campo of camposCliente">
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12 text-start" *ngIf="data['infoCliente'][campo['valor']]">
                            <p class="text-uppercase">{{campo['show']}} : <strong class="text-uppercase">{{data['infoCliente'][campo['valor']]}}</strong></p>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-1" *ngIf="data['infoVehiculo']">
                <div class="row border">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                        <h1>Informacion de vehiculo</h1>
                    </div>
                    <ng-container *ngFor="let campo of camposVehiculo">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 text-start" *ngIf="data['infoVehiculo'][campo['valor']]">
                            <p class="text-uppercase">{{campo['show']}} : <strong class="text-uppercase">{{data['infoVehiculo'][campo['valor']]}}</strong></p>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-1" *ngIf="data['infoTecnico']">
                <div class="row border">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                        <h1>Informacion de Tecnico</h1>
                    </div>
                    <ng-container *ngFor="let campo of camposTecnico">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 text-start" *ngIf="data['infoTecnico'][campo['valor']]">
                            <p class="text-uppercase">{{campo['show']}} : <strong class="text-uppercase">{{data['infoTecnico'][campo['valor']]}}</strong></p>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-1" *ngIf="data['ckeckList']">
                <div class="row border">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                        <h1>Check list</h1>
                    </div>
                    <ng-container *ngFor="let campo of data['ckeckList']">
                        <!-- {{campo | json}} -->
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 text-start" *ngIf="data['ckeckList']">
                            <p class="text-uppercase">{{campo['mostrar']}} : <strong class="text-uppercase">{{campo['status']}}</strong></p>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-1" *ngIf="data['servicios']">
                <div class="row border">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                        <h1>Servicios</h1>
                    </div>
                    <div class="table-responsive">

                    
                    <table class="table table-sm table-hover">
                        <thead>
                          <tr>
                            <th class="text-center" [ngStyle]="{'min-width':(miniColumnas)*.5+'px'}">#</th>
                            <th class="text-start" [ngStyle]="{'min-width':(miniColumnas)*2+'px'}" >Nombre</th>
                            <th class="text-start" [ngStyle]="{'min-width':(miniColumnas)*1+'px'}" >Tipo</th>
                            <th class="text-center" [ngStyle]="{'min-width':(miniColumnas)*1+'px'}" >Cantidad</th>
                            <th class="text-end" [ngStyle]="{'min-width':(miniColumnas)*1+'px'}" >Costo</th>
                            <th class="text-end" [ngStyle]="{'min-width':(miniColumnas)*1+'px'}" >Precio sobrescrito</th>
                            <th class="text-end" [ngStyle]="{'min-width':(miniColumnas)*1+'px'}" >Flotilla</th>
                            <th class="text-end" [ngStyle]="{'min-width':(miniColumnas)*1+'px'}" >Opciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let campo of data['servicios']; let i = index" [ngClass]="{'eliminado': !campo['aprobado']}">
                            <th class="text-center" scope="row">{{i + 1}}</th>
                            <td class="text-start" >{{campo['nombre']}}</td>
                            <td class="text-start" >{{campo['tipo']}}</td>
                            <td class="text-center" >{{campo['cantidad']}}</td>
                            <td class="text-end" >{{campo['precio'] | monedas}}</td>
                            <td class="text-end" >{{campo['costo'] | monedas}}</td>
                            <td class="text-end" *ngIf="campo['costo'] > 0">{{campo['costo'] * campo['cantidad']| monedas}}</td>
                            <td class="text-end" *ngIf="campo['costo'] <= 0">{{campo['precio'] * campo['cantidad']| monedas}}</td>
                            <td class="text-end" >
                                menu aqui 
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-1" *ngIf="data['ckeckList']">
                <div class="row border">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                        <h1>Desgloce</h1>
                    </div>
                    <ng-container *ngFor="let campo of data['ckeckList']">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 text-start" *ngIf="data['ckeckList']">
                            <p class="text-uppercase">{{campo['mostrar']}} : <strong class="text-uppercase">{{campo['status']}}</strong></p>
                        </div>
                    </ng-container>
                </div>
            </div> -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                <h1>Formulario de complementos <strong class="text-danger text-uppercase">{{FormComplementos.controls['facturaRemision'].value }}</strong></h1>
                <form  [formGroup]="FormComplementos" class="m-2">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-12 text-start">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-start">
                                    <div class="mb-1 row">
                                        <label
                                            [ngClass]="{'text-danger': validaCampo('kilometraje'),'text-success': !validaCampo('kilometraje')}"
                                            for="kilometraje"
                                            class="col-sm-4 col-md-6 col-lg-6 col-12 col-form-label">Kilometraje
                                        </label>
                                        <div class="col-sm-8 col-md-6 col-lg-6 col-12">
                                            <input
                                                id="kilometraje"
                                                type="number"
                                                onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
                                                min="0"
                                                max="10000000"
                                                class="form-control form-control-sm"
                                                formControlName="kilometraje"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12 text-start">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-start">
                                        <div class="mb-1 row">
                                            <!-- <label
                                                [ngClass]="{'text-danger': validaCampo('facturaRemision'),'text-success': !validaCampo('facturaRemision')}"
                                                for="facturaRemision"
                                                class="col-sm-4 col-md-6 col-lg-6 col-12 col-form-label">Factura / remision
                                            </label> -->
                                            <div class="col-sm-12 col-md-12 col-lg-12 col-12">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" formControlName="facturaRemision"  id="inlineRadio1" value="remision" (click)="realizaOperaciones()">
                                                    <label class="form-check-label" for="inlineRadio1" >Remison</label>
                                                  </div>
                                                  <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" formControlName="facturaRemision"  id="inlineRadio2" value="factura" (click)="realizaOperaciones()">
                                                    <label class="form-check-label" for="inlineRadio2" >Factura</label>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-start">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-start">
                                        <div class="mb-1 row">
                                            <label
                                                [ngClass]="{'text-danger': validaCampo('formaPago'),'text-success': !validaCampo('formaPago')}"
                                                for="formaPago"
                                                class="col-sm-4 col-md-6 col-lg-6 col-12 col-form-label">Forma de pago
                                            </label>
                                            <div class="col-sm-8 col-md-6 col-lg-6 col-12">
                                                <select class="form-select form-select-sm" formControlName="formaPago">
                                                    <option [value]="metodo['metodo']" *ngFor="let metodo of metodospago">{{metodo['show']}}</option>
                                                </select>
                                            </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-start">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-start">
                                        <div class="mb-1 row">
                                            <label
                                                [ngClass]="{'text-danger': validaCampo('observaciones'),'text-success': !validaCampo('observaciones')}"
                                                for="observaciones"
                                                class="col-sm-12 col-md-3 col-lg-2 col-12 col-form-label">Observaciones
                                            </label>
                                            <div class="col-sm-12 col-md-9 col-lg-8 col-12">
                                                <textarea style="width: 100%;" rows="4" formControlName="observaciones"></textarea>
                                            </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                </form>
                <div class="col-12 text-center" style="font-size: 11;" >
                    <canvas #firmaDigital id="main-canvas" class="fluid" style="touch-action:none;" ></canvas>
                    <br>
                    <h3 class="fw-bolder">Firma de cliente</h3>
                  </div>
                  <ng-container *ngIf="!existe_data_facturacion">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                            <h4 class="text-danger">El cliente no cuenta con datos de facturacion para editar su informacion presiona 
                                <a href="#" data-bs-toggle="modal" data-bs-target="#modalFacturacion"> AQUI</a>    
                            </h4>
                            <!-- <button class="btb btn-primary btn-sm" >Editar</button> -->
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-1">
                <div class="row border">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                        <h1>Desgloce</h1>
                    </div>
                    <ng-container *ngFor="let campo of camposDesgloce">
                        <!-- {{campo | json}} -->
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 text-start" *ngIf="reporte[campo['valor']]">
                            <p class="text-uppercase">{{campo['show']}} : <strong class="text-uppercase">{{reporte[campo['valor']] | monedas}}</strong></p>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="col text-center">
                <button class="btn btn-sm btn-primary" (click)="validarTipo()">Entregar vehiculo</button>
            </div>
        </div>
        </div>
        <div>
        </div>


  <div class="modal fade" id="modalFacturacion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div
    class="modal-dialog modal-fullscreen modal-fullscreen-sm-down modal-fullscreen-md-down modal-fullscreen-lg-down modal-fullscreen-xl-down modal-fullscreen-xxl-down">
    <div class="modal-content">
      <div class="modal-body m-2">
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            <ng-container *ngIf="cliente; else elseCliente">
                <app-data-facturacion-cliente [clienteID]="dataRecepcion['cliente']" (dataEmit)="mirespuesta( $event )"></app-data-facturacion-cliente>
            </ng-container>
            <ng-template #elseCliente>
                loading
            </ng-template>
      </div>
    </div>
  </div>
</div>