<div class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a class="breadcrumb-item" [routerLink]="['/inicio']">Inicio</a></li>
          <li class="breadcrumb-item active">Clientes y Vehículos</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<app-template-clientes-tabla [clientes_arr]="clientes_arr"></app-template-clientes-tabla>



<div class="row m-2">
  <div class="col"></div>
</div>