a {
  text-decoration: none;
  cursor: pointer;
}
.pointer{
  cursor: pointer;
}
.tipo-paquete {
  color: #5ca04a !important;
}

.tipo-refaccion {
  color: #FF8623 !important;
}

.tipo-mo {
  color: #3574FA;
}
table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
  width: 100%;
}

.example-element-description-attribution {
  opacity: 0.5;
}

tr.anima:hover{
  background-color: lavender;
}
tr.anima{
  height: 35px;
}  

.full-width-bottom-sheet {
  width: 100%;
}




/* Estilo para el span */
span.etiqueta {
  font-size: 12px;
  background-color: rgb(50, 146, 202);
  color: white; /* Cambia el color del texto según tus preferencias */
  padding: 4px 8px; /* Ajusta el espaciado según tus preferencias */
  border-radius: 4px; /* Agrega esquinas redondeadas */
  margin-right: 8px; /* Agrega un margen derecho para separar etiquetas */
  margin-top: 4px; /* Agrega un margen arriba */
  margin-bottom: 4px; /* Agrega un margen abajo */
  display: inline-block; /* Hace que las etiquetas ocupen solo el ancho necesario */
}
.pointer{
  cursor: pointer;
}