table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .pointer{
    cursor: pointer;
  }

  tr.anima:hover{
    background-color: lavender;
  }
  tr.anima{
    height: 35px;
  }
  .eliminado{
    background-color: rgb(245, 128, 128);
  }