<app-template-navegacion></app-template-navegacion>

<ng-container *ngIf="_sucursal === 'Todas'">
  <button  class="btn btn-sm btn-success m-1" [ngStyle]="{'min-width':(miniColumnas)*1+'px'}"
  data-bs-toggle="modal"  data-bs-target="#modalDeposito" (click)="realizaGasto = 'pago'"
  >Nuevo deposito</button>
</ng-container>
<button class="btn btn-sm btn-success m-1" [ngStyle]="{'min-width':(miniColumnas)*1+'px'}"  (click)="realizaGasto = 'gasto'" data-bs-toggle="modal"  data-bs-target="#modalGasto">Nuevo gasto</button>
<button class="btn btn-sm btn-success m-1" (click)="realizaGasto = 'pago'" [ngStyle]="{'min-width':(miniColumnas)*1+'px'}" data-bs-toggle="modal"  data-bs-target="#modalGasto"
    >Registra pago</button>

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-end">
    <div class="input-group mb-3 ">
      <mat-date-range-picker #picker></mat-date-range-picker>
      <mat-date-range-input (click)="picker.open()"  class="pointer form-control" [formGroup]="fechas_filtro" [rangePicker]="picker">
        <input matStartDate class="mr-2" formControlName="start" readonly placeholder="Inicio" id="Inicio">
        <input matEndDate formControlName="end" readonly placeholder="Final" id="Final">
      </mat-date-range-input>
      <div class="input-group-append">
        <button aria-label="boton de calendario" class="btn btn-sm btn-outline-secondary" type="button" (click)="picker.open()">
          <i class="fa fa-calendar-alt"></i>
        </button>
      </div>
    </div>
  </div>
  <ng-container *ngIf="_sucursal === 'Todas'">
    <div class="col-lg-1 col-md-2 col-sm-2 col-12 mb-1">
    <button aria-label="MenuSucursal" class="btn btn-sm btn-success" [matMenuTriggerFor]="filtroSucursal"><i class="fa fa-university"></i></button>
    <mat-menu #filtroSucursal="matMenu">
      <button mat-menu-item (click)="filtro_sucursal = 'Todas'; resetea_horas_admin()" >{{'Todas' | capitalizarUno}}</button>
      <button mat-menu-item (click)="filtro_sucursal = sucursal.id; resetea_horas_admin()" *ngFor="let sucursal of sucursales_array">{{sucursal.sucursal | capitalizarUno}}</button>
    </mat-menu>
  </div>
</ng-container>
  <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-end">
    <div class="card">
      <div class="card-body text-success ">
        <div class="row">
          <ng-container *ngFor="let item of camposReporte">
              <div class="col-lg-6 col-md-6 col-sm-6 col-6 text-start">{{item.show}}</div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-6 text-end"><strong>{{reporte[item.valor] | monedas}}</strong></div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-end mb-2">
      <button class="btn btn-sm btn-success" (click)="genera_excel()">Genera excel reporte de gastos</button>
    </div>
  <div class="mat-elevation-z8 table-responsive">
    <table #elements="matSort" mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="text-center " mat-sort-header [ngStyle]="{'min-width':(miniColumnas)*.6+'px'}"> # 
        </th>
        <td mat-cell *matCellDef="let row" class="text-center" >
          {{row.index + 1 }}
      </td>
      </ng-container>
      <ng-container matColumnDef="sucursalShow">
        <th mat-header-cell *matHeaderCellDef class="text-start " mat-sort-header >
          Sucursal &nbsp;
        </th>
        <td mat-cell *matCellDef="let row" [ngStyle]="{'min-width':(miniColumnas)*1+'px'}"   class="text-start pointer"  >
          {{row.sucursalShow | capitalizarUno}}
        </td>
      </ng-container>
      <ng-container matColumnDef="no_os">
        <th mat-header-cell *matHeaderCellDef class="text-start" mat-sort-header>&nbsp; # O.S &nbsp;
        </th>
        <td mat-cell *matCellDef="let row" [ngStyle]="{'min-width':(miniColumnas)*1.4+'px'}"  class="text-uppercase text-start">
          {{ row.no_os }} 
        </td>
      </ng-container>
      <ng-container matColumnDef="metodoShow">
        <th mat-header-cell *matHeaderCellDef class="text-center" mat-sort-header>&nbsp; Metodo &nbsp;
        </th>
        <td mat-cell *matCellDef="let row" [ngStyle]="{'min-width':(miniColumnas)*1+'px'}"  class="text-left"> 
          {{row.metodoShow | capitalizarUno}}
        </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="text-start" mat-sort-header> &nbsp; Status &nbsp;
        </th>
        <td mat-cell *matCellDef="let row" [ngStyle]="{'min-width':(miniColumnas)*.8+'px'}"  class="text-start">
          <strong class="text-success" [ngClass]="{'text-danger': !row.status}">
            {{(row.status)? 'Aprobado':'No Aprobado'}}
          </strong>
        </td>
      </ng-container>
      
      <ng-container matColumnDef="monto">
        <th mat-header-cell *matHeaderCellDef class="text-end" mat-sort-header>&nbsp; Monto &nbsp; 
        </th>
        <td mat-cell *matCellDef="let row" class="text-end" [ngStyle]="{'min-width':(miniColumnas)*1+'px'}"  class="text-end"> 
          {{row.monto | monedas}} &nbsp; &nbsp;
        </td>
      </ng-container>
      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef class="text-start" mat-sort-header> &nbsp; Tipo &nbsp; 
        </th>
        <td mat-cell *matCellDef="let row" [ngStyle]="{'min-width':(miniColumnas)*1+'px'}"  class="text-start"> 
            {{row.tipo  | capitalizarUno}}
        </td>
      </ng-container>
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef class="text-start" mat-sort-header>&nbsp; Fecha recibido &nbsp;
        </th>
        <td mat-cell *matCellDef="let row" [ngStyle]="{'min-width':(miniColumnas)*1.7+'px'}"  class="text-start"> 
            {{row.fecha_recibido | formateHora:true}}
        </td>
      </ng-container>
      <ng-container matColumnDef="opciones">
        <th mat-header-cell *matHeaderCellDef> &nbsp; </th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="_sucursal === 'Todas'; else elseDisabled">
            <i class="fa fa-cogs text-info pointer" [matMenuTriggerFor]="Opciones"></i>
            <mat-menu #Opciones="matMenu">
              <button mat-menu-item *ngIf="row.status" (click)="accion({accion:'eliminar', data: row})"> Inhabilitar <i class="fa fa-ban text-danger ml-1"></i></button>
              <button mat-menu-item *ngIf="!row.status" (click)="accion({accion:'activar', data: row})"> Habilitar <i class="fa fa-check-double text-success ml-1"></i></button>
            </mat-menu>
          </ng-container>
          <ng-template #elseDisabled>
            <ng-container *ngIf="row.status">
              <i class="fa fa-cogs text-info pointer" [matMenuTriggerFor]="Opciones"></i>
            </ng-container>
            <mat-menu #Opciones="matMenu">
              <button mat-menu-item *ngIf="row.status" (click)="accion({accion:'eliminar', data: row})"> Inhabilitar <i class="fa fa-ban text-danger ml-1"></i></button>
            </mat-menu>
          </ng-template>
        </td>
      </ng-container>
      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let element" >
            <button mat-icon-button aria-label="expand row" 
            (click)="
            (expandedElement = expandedElement === element ? null : element); 
            $event.stopPropagation();">
              <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
              <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
            </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let row" [attr.colspan]="columnsToDisplayWithExpand.length">
          <div class="example-element-detail row"
               [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'">
               <div class="row alert alert-info">
                <div class="col-lg-6 col-md-6 col-12 col-12">
                  Concepto: {{row.concepto  | capitalizarUno}}
                </div>
                <div class="col-lg-6 col-md-6 col-12 col-12">
                  Referencia: {{row.referencia  | capitalizarUno}}
                </div>
                <div class="col-lg-6 col-md-6 col-12 col-12">
                  <ng-container *ngIf="_sucursal !== 'Todas'; else elseTemplate">
                    Monto: {{row.monto | monedas}} &nbsp; &nbsp;
                  </ng-container>
                  <ng-template #elseTemplate>
                    <p>Modificar su cantidad </p>
                    <span>para modificar es necesario presionar enter para guardar cambios</span>
                    <input aria-label="caja de texto modifica cantidad" type="number" [value]="row.monto" [name]="row.id" [id]="row.id" #miCaja (keyup.enter)="accion({accion:'modificar', data: row, monto_caja: miCaja.value })" class="form-control form-control-sm mr-1"> &nbsp; &nbsp;
                  </ng-template>
                </div>
               </div>
               <ng-container *ngIf="row.modificado">
                <div class="row alert alert-warning">
                  <div class="col-lg-12 col-md-12 col-12 col-12">
                    modificado: {{row.modificado  | formateHora:true}}
                  </div>
                  <div class="col-lg-6 col-md-6 col-12 col-12">
                    habilitado_por_usuario: {{row.habilitado_por_usuario  | capitalizarUno}}
                  </div>
                  <div class="col-lg-6 col-md-6 col-12 col-12">
                    habilitado_por_rol: {{row.habilitado_por_rol  | capitalizarUno}}
                  </div>
                  <div class="col-lg-6 col-md-6 col-12 col-12">
                    inhabilitado_por_usuario: {{row.inhabilitado_por_usuario  | capitalizarUno}}
                  </div>
                  <div class="col-lg-6 col-md-6 col-12 col-12">
                    inhabilitado_por_rol: {{row.inhabilitado_por_rol  | capitalizarUno}}
                  </div>
                  <div class="col-lg-6 col-md-6 col-12 col-12">
                    modificado_por_usuario: {{row.modificado_por_usuario  | capitalizarUno}}
                  </div>
                  <div class="col-lg-6 col-md-6 col-12 col-12">
                    modificado_por_rol: {{row.modificado_por_rol  | capitalizarUno}}
                  </div>
                </div>
               </ng-container>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand" ></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplayWithExpand;"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === row"                >
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row" ></tr>
    </table>
    <mat-paginator #elementsPaginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-3"></div>
</div>


<div class="modal fade" id="modalGasto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div
    class="modal-dialog modal-xl modal-fullscreen modal-fullscreen-sm-down modal-fullscreen-md-down modal-fullscreen-lg-down modal-fullscreen-xl-down modal-fullscreen-xxl-down">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body m-2">
        <ng-container *ngIf="realizaGasto === 'gasto'; else elseTemplate">
          <app-gasto ></app-gasto>
        </ng-container>
        <ng-template #elseTemplate>
          <app-pago></app-pago>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalDeposito" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div
    class="modal-dialog modal-xl modal-fullscreen modal-fullscreen-sm-down modal-fullscreen-md-down modal-fullscreen-lg-down modal-fullscreen-xl-down modal-fullscreen-xxl-down">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" id="cerrar-modal">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body m-2">
        <app-realiza-deposito (data_deposito)="data_deposito( $event )"></app-realiza-deposito>
      </div>
    </div>
  </div>
</div>

