<div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-4 mt-1 text-center">
            <p>Aqui el historial de gastos sucursal 
              <ng-container *ngIf="SUCURSAL === 'Todas'">
                <button mat-button [matMenuTriggerFor]="menuSucursales" class="text-capitalize">( {{SearchSucursal['sucu']}} )</button> 
              </ng-container>
              
              del dia 
              <button mat-button [matMenuTriggerFor]="menuDia" class="text-capitalize">( {{SearchDia}} )</button>
            </p>
            
            <mat-menu #menuDia="matMenu" >
              <button mat-menu-item (click)="SearchDia = 'hoy'; filtraPorSucursal()">hoy</button>
              <button mat-menu-item (click)="SearchDia = 'ayer'; filtraPorSucursal()">Ayer</button>
              <button mat-menu-item (click)="SearchDia = 'personalizado'; filtraPorSucursal(); picker.open() ">
                personalizado
              </button>
            </mat-menu>
            <mat-menu #menuSucursales="matMenu" >
              <button mat-menu-item (click)="SearchSucursal = {id:'Todas',sucu:'Todas'}; filtraPorSucursal()">Todas</button>
              <button mat-menu-item (click)="SearchSucursal = {id:sucu['id'],sucu: sucu['sucursal']}; filtraPorSucursal()" *ngFor="let sucu of sucursales">{{sucu['sucursal']}}</button>
            </mat-menu>
            <div class="row justify-content-end mb-3">
              <div class="col-lg-4 col-md-6 col-sm-8 col-12 text-end">
                <button class="btn btn-primary btn-sm m-1" type="button" data-bs-toggle="modal" data-bs-target="#RegistroGasto">
                  Nuevo gasto
                </button>
              </div>
              <div class="col-auto text-end">
                <div class="input-group">
                  <input readonly class="form-control form-control-sm"  [matDatepicker]="picker" (dateChange)="selected('change', $event)">
                  <!-- <mat-datepicker-toggle  matIconSuffix [for]="picker"></mat-datepicker-toggle> -->
                  <button class="btn btn-outline-secondary btn-sm" (click)="SearchDia = 'personalizado'; filtraPorSucursal(); picker.open()" type="button" id="button-addon2">
                    <i class="fa fa-calendar"></i>
                  </button> 
                  <mat-datepicker #picker></mat-datepicker>
                  
                </div>
                
              </div>
            </div>
            <div class="mat-elevation-z8 table-responsive ">
                <table #GastosDia="matSort" matSort mat-table [dataSource]="dataSourceGastosDia">
                  <ng-container matColumnDef="sucursal">
                    <th mat-header-cell *matHeaderCellDef class="text-capitalize" [ngStyle]="{'min-width':(miniColumnas)*1+'px'}"
                    (click)="ordenamiento = !ordenamiento; ordenarElementos('Sucursal')"> 
                        <span class="pointer" style="width: 100%;">Sucursal &nbsp;
                            <ng-container *ngIf="ordenamiento; else elseOrdenamiento">
                              <i class="fa fa-arrow-down" aria-hidden="true"></i>
                            </ng-container>
                            <ng-template #elseOrdenamiento>
                              <i class="fa fa-arrow-up" aria-hidden="true"></i>
                            </ng-template>
                          </span>
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-start"> {{element['sucursalShow'] }} </td>
                  </ng-container>
                  <ng-container matColumnDef="concepto">
                    <th mat-header-cell *matHeaderCellDef class="text-capitalize" [ngStyle]="{'min-width':(miniColumnas)*1+'px'}"
                    (click)="ordenamiento = !ordenamiento; ordenarElementos('concepto')"> 
                        <span class="pointer" style="width: 100%;">Concepto &nbsp;
                            <ng-container *ngIf="ordenamiento; else elseOrdenamiento">
                              <i class="fa fa-arrow-down" aria-hidden="true"></i>
                            </ng-container>
                            <ng-template #elseOrdenamiento>
                              <i class="fa fa-arrow-up" aria-hidden="true"></i>
                            </ng-template>
                          </span>
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-start"> {{element['concepto'] | capitalizarUno}} </td>
                  </ng-container>
                  <ng-container matColumnDef="metodo">
                    <th mat-header-cell *matHeaderCellDef class="text-capitalize text-center" [ngStyle]="{'min-width':(miniColumnas)*1+'px'}" (click)="ordenamiento = !ordenamiento; ordenarElementos('metodo')"> 
                        <span class="pointer" style="width: 100%;">metodo &nbsp;
                            <ng-container *ngIf="ordenamiento; else elseOrdenamiento">
                              <i class="fa fa-arrow-down" aria-hidden="true"></i>
                            </ng-container>
                            <ng-template #elseOrdenamiento>
                              <i class="fa fa-arrow-up" aria-hidden="true"></i>
                            </ng-template>
                          </span>
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{element['metodoShow'] }}  </td>
                  </ng-container>
                  <ng-container matColumnDef="monto">
                    <th mat-header-cell *matHeaderCellDef class="text-capitalize text-center" [ngStyle]="{'min-width':(miniColumnas)*1+'px'}" (click)="ordenamiento = !ordenamiento; ordenarElementos('monto')"> 
                        <span class="pointer" style="width: 100%;">monto &nbsp;
                            <ng-container *ngIf="ordenamiento; else elseOrdenamiento">
                              <i class="fa fa-arrow-down" aria-hidden="true"></i>
                            </ng-container>
                            <ng-template #elseOrdenamiento>
                              <i class="fa fa-arrow-up" aria-hidden="true"></i>
                            </ng-template>
                          </span>
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center">{{element['monto'] | monedas}}  </td>
                  </ng-container>
                  <ng-container matColumnDef="tipo">
                    <th mat-header-cell *matHeaderCellDef class="text-capitalize text-center" [ngStyle]="{'min-width':(miniColumnas)*1+'px'}"
                    (click)="ordenamiento = !ordenamiento; ordenarElementos('tipo')"> 
                        <span class="pointer" style="width: 100%;">tipo &nbsp;
                            <ng-container *ngIf="ordenamiento; else elseOrdenamiento">
                              <i class="fa fa-arrow-down" aria-hidden="true"></i>
                            </ng-container>
                            <ng-template #elseOrdenamiento>
                              <i class="fa fa-arrow-up" aria-hidden="true"></i>
                            </ng-template>
                          </span>
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center text-capitalize"> {{element['tipo'] }}  </td>
                  </ng-container>
                  <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef class="text-capitalize text-center" [ngStyle]="{'min-width':(miniColumnas)*1+'px'}"
                    (click)="ordenamiento = !ordenamiento; ordenarElementos('fecha')"> 
                        <span class="pointer" style="width: 100%;">fecha &nbsp;
                            <ng-container *ngIf="ordenamiento; else elseOrdenamiento">
                              <i class="fa fa-arrow-down" aria-hidden="true"></i>
                            </ng-container>
                            <ng-template #elseOrdenamiento>
                              <i class="fa fa-arrow-up" aria-hidden="true"></i>
                            </ng-template>
                          </span>
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center text-capitalize"> {{element['fecha'] }}  </td>
                  </ng-container>
                  <ng-container matColumnDef="opciones">
                    <th mat-header-cell *matHeaderCellDef class="text-capitalize text-center" [ngStyle]="{'min-width':(miniColumnas)*1+'px'}"> opciones </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                      <ng-container *ngIf="SearchDia === 'hoy'; else elseTemplate">
                        <i class="fa fa-edit text-primary fa-1x m-1 pointer" (click)="editarGasto(element);" data-bs-toggle="modal" data-bs-target="#RegistroGasto" ></i>
                        <i class="fa fa-trash text-danger fa-1x m-1 pointer" (click)="editarStatus(element, false)" *ngIf="element['status']"></i>
                        <i class="fa fa-check-double text-success fa-1x m-1 pointer" (click)="editarStatus(element, true)" *ngIf="!element['status']"></i>
                      </ng-container>
                      <ng-template #elseTemplate>
                         <i class="fa fa-check-double text-success fa-1x m-1" ></i>
                      </ng-template>
                      
                      
                    </td>
                  </ng-container>
        
                  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                  
                  <tr mat-header-row *matHeaderRowDef="columnasGastosDia"></tr>
                  <tr mat-row *matRowDef="let row; columns: columnasGastosDia;" class="anima"></tr>
                  <!-- <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr> -->
                </table>
                <mat-paginator #GastosDiaPaginator role="group" [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
              </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-4 mt-1 text-center">
          <div class="row grid gap-0">
            <div class="col-lg-4 col-md-4 col-sm-6 col-6 border text-center pointer" (click)="agregar('General')" >
              <h4 class="m-1"><strong>General</strong></h4>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-6 border text-center pointer" (click)="agregar(metodo['ocupa'])" *ngFor="let metodo of metodospago">
              <h4 class="m-1"><strong>{{metodo['show']}}</strong></h4>
            </div>
          </div>
        </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <h2>Sobrante del dia {{Sobrante | monedas}}</h2>
              <ng-container *ngIf="reporteShow ==='General'; else elseTemplate">
                <h4>Resultados Generales</h4>
                <div class="row card-group grid gap-0">
                  <ng-container *ngFor="let item of metodospago">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12 col-xs-12">
                      <div class="card ">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-start">{{item['ocupa']}}: </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-end">
                              <strong>{{reporteFinal[item['ocupa']] | monedas}}</strong>
                            </div>
                          </div> 
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </ng-container>
              <ng-template #elseTemplate>
                <h4>Resultados de metodo especifico <strong>{{reporteShow}}</strong></h4>
                <div class="table-responsive">
                  <table class="table table-sm">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col" [ngStyle]="{'min-width':(miniColumnas)*1.5+'px'}" >Concepto</th>
                        <th scope="col" [ngStyle]="{'min-width':(miniColumnas)*1.5+'px'}" >Fecha / Hora</th>
                        <th scope="col" [ngStyle]="{'min-width':(miniColumnas)*1+'px'}" >Metodo</th>
                        <th scope="col" [ngStyle]="{'min-width':(miniColumnas)*1+'px'}" >Monto</th>
                        <th scope="col" [ngStyle]="{'min-width':(miniColumnas)*1+'px'}"  *ngIf="SUCURSAL === 'Todas'">Sucursal</th>
                        <th scope="col" [ngStyle]="{'min-width':(miniColumnas)*1+'px'}" >Tipo</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of resultados_; let i = index" class="anima" [ngClass]="{'eliminado': !item['status']}">
                        <th scope="row" >{{ i + 1}}</th>
                        <td class="text-start">{{item['concepto'] | capitalizarUno}}</td>
                        <td class="text-start">{{item['fecha'] }} {{item['hora'] }}</td>
                        <td class="text-center text-capitalize">{{item['metodoShow']}}</td>
                        <td class="text-end">{{item['monto'] | monedas}}</td>
                        <td class="text-start text-capitalize" *ngIf="SUCURSAL === 'Todas'">{{item['sucursalShow']}}</td>
                        <td class="text-start text-capitalize">{{item['tipo']}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </ng-template>
              
          </div>
      </div>
    </div>
  </div>
<!-- modal para registro de gasto -->
  <div class="modal fade" id="RegistroGasto" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen modal-fullscreen-sm-down modal-fullscreen-md-down modal-fullscreen-lg-down modal-fullscreen-xl-down modal-fullscreen-xxl-down">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            <ng-container *ngIf="Editar; else elseEditar">
              Editar información
            </ng-container>
            <ng-template #elseEditar>
              Nuevo Gasto
            </ng-template>
            
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <form (ngSubmit)="registraGasto()" [formGroup]="formGasto" class="m-2">
                  <mat-radio-group *ngIf="!Editar"
                  aria-labelledby="example-radio-group-label"
                  class="example-radio-group"
                  formControlName="tipo">
                      <mat-radio-button class="m-1 text-capitalize" *ngFor="let gasto of gastos" [value]="gasto['valor']">
                          {{gasto['show']}}
                      </mat-radio-button>
                  </mat-radio-group>
                  <ng-container *ngIf="SUCURSAL === 'Todas'">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                          <div class="mb-1 row text-start">
                            <label [ngClass]="{'text-danger': validaCampo('sucursal'),'text-success': !validaCampo('sucursal')}" for="sucursal"
                              class="col-sm-6 col-md-6 col-lg-6 col-12 col-form-label">Sucursal </label>
                            <div class="col-sm-6 col-md-6 col-lg-6 col-12">
                              <select class="form-select form-select-sm" formControlName="sucursal">
                                  <option value="">Selecciona</option>
                                  <option [value]="sucu['id']" *ngFor="let sucu of sucursales">{{sucu['sucursal']}}</option>
                              </select>
                            </div>
                          </div>
                      </div>
                  </ng-container>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                      <div class="mb-1 row text-start">
                        <label [ngClass]="{'text-danger': validaCampo('monto'),'text-success': !validaCampo('monto')}" for="monto"
                          class="col-sm-6 col-md-6 col-lg-6 col-12 col-form-label">Monto de gasto </label>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-12">
                          <input id="monto" type="number" min="0" max="10000000" class="form-control form-control-sm"
                            formControlName="monto">
                        </div>
                      </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                      <div class="mb-1 row text-start">
                        <label [ngClass]="{'text-danger': validaCampo('metodo'),'text-success': !validaCampo('metodo')}" for="metodo"
                          class="col-sm-6 col-md-6 col-lg-6 col-12 col-form-label">Metodo de gasto </label>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-12">
                          <select class="form-select form-select-sm" formControlName="metodo">
                              <option value="">Selecciona</option>
                              <option [value]="sucu['valor']" *ngFor="let sucu of metodospago">{{sucu['show']}}</option>
                          </select>
                        </div>
                      </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                      <div class="mb-1 row text-start">
                        <label [ngClass]="{'text-danger': validaCampo('concepto'),'text-success': !validaCampo('concepto')}" for="concepto"
                          class="col-12 col-sm-4 col-md-4 col-lg-4 col-form-label">Metodo de gasto </label>
                        <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                          <textarea cols="30" rows="3" formControlName="concepto" style="width: 100%;"></textarea>
                        </div>
                      </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                      <button type="submit" [ngStyle]="{'min-width':(miniColumnas)*1.5+'px'}"
                        class="btn btn-sm btn-primary m-1">
                        <ng-container *ngIf="formGasto.controls['tipo'].value === 'nuevo'; else elseTipo">
                          Registrar Gasto
                        </ng-container>
                        <ng-template #elseTipo>
                          Registrar Deposito
                        </ng-template>
                      </button>
                      <button type="button" [ngStyle]="{'min-width':(miniColumnas)*1.5+'px'}"
                        class="btn btn-sm btn-danger m-1" (click)="limpiaForm()">Limpiar inf.</button>
                        <button class="btn btn-danger btn-sm m-1" [ngStyle]="{'min-width':(miniColumnas)*1.5+'px'}" type="button" data-bs-dismiss="modal"
                        (click)="limpiaForm()">
                          Cancelar
                        </button>
                    </div>
              </form>
          </div>
          <ng-container *ngIf="formGasto.invalid">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center text-justify">
                  <span class="text-danger">LLenar datos de gasto</span>
              </div>
          </ng-container>
          </div>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>