<app-template-navegacion></app-template-navegacion>

<app-cliente-tarjeta [cliente]="infoCotizacion.data_cliente" ></app-cliente-tarjeta>

<div class="card border-dark">
    <div class="card-body">
      <!-- <pre>{{ infoCotizacion.vehiculos | json}}</pre> -->
      <ng-container *ngIf="infoCotizacion.cliente">
        <label for="vehiculos-lista">Placas de vehiculos disponibles</label>
        <div class="input-group mb-3">
          <select id="vehiculos-lista" class=" form-select  form-select-sm text-uppercase"  [ngModel]="extra" #valV (change)="vehiculo_ghange( valV.value )">
            <option  value="">Selecciona placas</option>
            <option [value]="v.id" *ngFor="let v of infoCotizacion.vehiculos">{{v.placas}}</option>
          </select>
          <button  class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#modalNewVehiculo" #tooltip="matTooltip" matTooltip="Registra nuevo vehiculo">
            <i class="fa fa-car "></i> 
          </button>
        </div>
      </ng-container>
      
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-1 mb-1" *ngIf="infoCotizacion.vehiculo">
        <h1>Informacion de vehiculo</h1>
        <app-vehiculo-tarjeta [vehiculo]="infoCotizacion.data_vehiculo"></app-vehiculo-tarjeta>
      </div>
    </div>
  </div>

  <div class="alert alert-info text-center">Precio de promoción solo aplica pagando de contado</div>
<form [formGroup]="formPlus">
  <div class="row text-start">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="mb-1 row">
        <label for="servicio" class="col-sm-3 col-md-4 col-lg-3 col-form-label">Servicio</label>
        <div class="col-sm-9 col-md-8 col-lg-9 ">
          <select class=" form-select  form-select-sm" formControlName="servicio" 
            [class.is-invalid]="validaCampo('servicio')" id="servicio">
            <option [selected]="servicio.valor  === infoCotizacion.servicio" *ngFor="let servicio of servicios" [value]="servicio.valor">{{servicio.nombre}}</option>
          </select>
          <small *ngIf="validaCampo('servicio')" class="text-danger">Seleccionar servicio</small>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="mb-1 row">
        <label for="margen" class="col-sm-3 col-md-4 col-lg-3 col-form-label">Margen</label>
        <div class="col-sm-9 col-md-8 col-lg-9 ">
          <input type="number" min="25" onkeypress="soloNumeros(event)" class="form-control form-control-sm" formControlName="margen" [class.is-invalid]="validaCampo('margen')" id="margen" >
          <small *ngIf="validaCampo('margen')" class="text-danger">Seleccionar margen menor a 100 y mayor a 24</small>
          <span>
            Margen aplicado: {{infoCotizacion.margen}}
          </span>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="mb-1 row">
        <label for="formaPago" class="col-sm-3 col-md-4 col-lg-3 col-form-label" >Método pago</label>
        <div class="col-sm-9 col-md-8 col-lg-9 ">
          <select class=" form-select  form-select-sm" formControlName="formaPago" (ngModelChange)="realizaOperaciones()"
            [class.is-invalid]="validaCampo('formaPago')" id="formaPago">
            <option *ngFor="let val of formasPago" [value]="val.id" class="text-capitalize" >
              {{val.pago | capitalizarUno}}</option>
          </select>
          <small *ngIf="validaCampo('formaPago')" class="text-danger">Seleccionar tipo de cliente</small>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="mb-1 row">
        <label for="promocion" class="col-sm-3 col-md-4 col-lg-3 col-form-label">Promoción</label>
        <div class="col-sm-9 col-md-8 col-lg-9 ">
          <select class=" form-select  form-select-sm" formControlName="promocion" 
            [class.is-invalid]="validaCampo('promocion')" id="promocion">
            <option *ngFor="let promo of promociones" [value]="promo">{{promo | capitalizarUno}}</option>
          </select>
          <small *ngIf="validaCampo('promocion')" class="text-danger">Seleccionar tipo de cliente</small>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="mb-1 row">
        <label for="descuento" class="col-sm-3 col-md-4 col-lg-3 col-form-label">Descuento</label>
        <div class="col-sm-9 col-md-8 col-lg-9 ">
          <input type="number" min="0" onkeypress="validarDecimal(event)" class="form-control form-control-sm" formControlName="descuento"   id="descuento" class="smallInput">
          <small *ngIf="validaCampo('descuento')" class="text-danger">Introduce descuento valido</small>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="mb-1 row">
        <label for="nota" class="col-sm-3 col-md-4 col-lg-3 col-form-label">Nota</label>
        <div class="col-sm-9 col-md-8 col-lg-9 ">
          <textarea cols="3" rows="3" style="width: 100%;" [value]="infoCotizacion.nota" id="nota" formControlName="nota" ></textarea>
          <!-- <small *ngIf="validaCampo('nota')" class="text-danger">Seleccionar tipo de cliente</small> -->
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 alert alert-info text-center">La nota se muestra en el PDF</div>
  </div>
</form>

<div class="card border-dark">
    <div class="card-body text-end">
      <button  data-bs-toggle="modal" data-bs-target="#modalPaquetes" class="btn btn-sm btn-primary m-1" [ngStyle]="{'min-width':(miniColumnas)*1+'px'}" (click)="idPaqueteEditar = -1">Agregar paquete</button>
      <!-- <button  data-bs-toggle="modal" data-bs-target="#modalElemento" class="btn btn-sm btn-primary m-1" [ngStyle]="{'min-width':(miniColumnas)*1+'px'}" (click)="idPaqueteEditar = -1; ">Agregar elemento</button> -->
      <!-- <button   class="btn btn-sm btn-success m-1" [ngStyle]="{'min-width':(miniColumnas)*1+'px'}" (click)="mensajePaquete()">Nuevo paquete</button> -->
      <!-- <button  data-bs-toggle="modal" data-bs-target="#modalElemento" class="btn btn-sm btn-primary">Elemento</button> -->
    </div>
  </div>
  <div class="row">
    <div class="col text-end">
      <section class="example-section " [formGroup]="checksBox" id="checks" >
        <mat-checkbox class="m-1" formControlName="iva" checked="true" name="iva" >IVA</mat-checkbox>
        <!-- <mat-checkbox class="m-1" formControlName="detalles"  name="detalles">Detalles PDF</mat-checkbox> -->
      </section>
    </div>
  </div>

  <div class="mat-elevation-z8 table-responsive">
    <table #elements="matSort" mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
  
      <!-- ID Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let row" 
        [ngClass]="{'tipo-mo': row.tipo === mo,'tipo-refaccion': row.tipo === refaccion,'tipo-paquete': row.tipo === paquete}">
          <strong>{{row.nombre | capitalizarUno}}</strong>  
      </td>
      </ng-container>
  
      <!-- Progress Column -->
      <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
        <td mat-cell *matCellDef="let row"> 
        <input type="number" min="1"  maxlength="5" onkeypress="soloNumeros(event)" [value]="row.cantidad" 
        (change)="editar('cantidad',row, cantidadEle.value)" #cantidadEle class="smallInput">
        </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="sobrescrito">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'min-width':(miniColumnas)*1+'px'}"> Costo sobrescrito </th>
        <td mat-cell *matCellDef="let row" > 
  
          <!-- <input  type="number" min="0" [value]="row.costo" maxlength="5" onkeypress="validarDecimal(event)" 
        (change)="editar('costo',row, costoSobre.value)" #costoSobre class="smallInput"> -->
        <!-- {{row.sobrescrito | monedas}} -->
           </td>
      </ng-container>
    <!-- Fruit Column -->
    <ng-container matColumnDef="precio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'min-width':(miniColumnas)*1+'px'}"> Costo </th>
      <td mat-cell *matCellDef="let row" [ngStyle]="{'min-width':(miniColumnas)*1.1+'px'}">
        {{row.precio | monedas}}
      </td>
    </ng-container>
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'min-width':(miniColumnas)*1+'px'}"> Total </th>
      <td mat-cell *matCellDef="let row" [ngStyle]="{'min-width':(miniColumnas)*1.1+'px'}">
        {{row.total | monedas}}
      </td>
    </ng-container>
      <!-- Fruit Column -->
      <ng-container matColumnDef="opciones" stickyEnd>
        <th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp; </th>
        <td mat-cell *matCellDef="let row" [ngStyle]="{'min-width':(miniColumnas)*.5+'px'}"> 
        <!-- aqui el btn para eliminar -->
        <i class="fa fa-trash pointer text-danger" (click)="eliminaElemento(row)"></i>
        <!-- <button  data-bs-toggle="modal" data-bs-target="#modalElemento" class=" text-primary m-1" 
                (click)="idPaqueteEditar = row.index; " *ngIf="row.tipo === paquete"></button> -->
        <!-- <i class="far fa-plus-square text-primary m-1 pointer" data-bs-toggle="modal" data-bs-target="#modalElemento" *ngIf="row.tipo === paquete" (click)="idPaqueteEditar = row.index;"></i> -->
        </td>
      </ng-container>
     
  
      <ng-container matColumnDef="expand" stickyEnd>
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.tipo === paquete">
            <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
              <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
              <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
            </button>
          </ng-container>
        </td>
      </ng-container>
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let row" [attr.colspan]="columnsToDisplayWithExpand.length">
          <div class="example-element-detail"
               [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th class="text-start" [ngStyle]="{'min-width':(miniColumnas)*1+'px'}">Nombre</th>
                    <th class="text-start" [ngStyle]="{'min-width':(miniColumnas)*1+'px'}">Descripcion</th>
                    <th class="text-start" [ngStyle]="{'min-width':(miniColumnas)*1+'px'}">Cantidad</th>
                    <th class="text-end" [ngStyle]="{'min-width':(miniColumnas)*1+'px'}">Costo sobrescrito</th>
                    <th class="text-end" [ngStyle]="{'min-width':(miniColumnas)*1+'px'}">Costo</th>
                    <th class="text-end" [ngStyle]="{'min-width':(miniColumnas)*1+'px'}">Total</th>
                    <!-- <th >&nbsp;</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of row.elementos; let i = index">
                    <th scope="row">{{i +  1 }}</th>
                    <td class="text-start" [ngClass]="{'tipo-mo': item.tipo === mo,'tipo-refaccion': item.tipo === refaccion}">
                      {{item.nombre | capitalizarUno}}
                    </td>
                    <td>
                      {{item.descripcion}}
                    </td>
                    <td class="text-center">
                      <input  type="number"  min="1" [value]="item.cantidad" maxlength="5" onkeypress="soloNumeros(event)" class="smallInput"
                              (change)="editar_subelemento_paquete('cantidad',row,item, cantidadSub.value)" #cantidadSub>
                    </td>
                    <td class="text-end">
                      <!-- <input  type="number"  min="0" [value]="item.costo" maxlength="5" onkeypress="validarDecimal(event)" class="smallInput"
                              (change)="editar_subelemento_paquete('costo',row,item, cantidadCosto.value)" #cantidadCosto> -->
                    </td>
                    <td class="text-end">{{item.precio | monedas}}</td>
                    <td class="text-end">{{item.total | monedas}}</td>
                    <!-- <td class="text-end">
                      <i class="fa fa-trash pointer btn btn-sm btn-danger" (click)="eliminar_subelemento_paquete(row,item)" ></i>
                    </td> -->
                  </tr>
                </tbody>
              </table>
            </div>
            
          </div>
        </td>
      </ng-container>
    
  
      <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          >
          <!-- (click)="expandedElement = expandedElement === element ? null : element" -->
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
  
    <mat-paginator aria-describedby="paginador elementos cotizacion" #elementsPaginator [pageSizeOptions]="[10, 25, 100]" ></mat-paginator>
  </div>

  <div class="row mt-2">

    <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-1 mt-1" *ngIf="infoCotizacion.reporte">
      <app-reporte-desgloce-tarjeta [reporte]="infoCotizacion.reporte" [title]="'Desgloce'" [muestra_normal]="false"></app-reporte-desgloce-tarjeta>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-1 mt-1 text-center">
        <!-- button save -->
      <button class="btn btn-sm btn-primary" (click)="continuarCotizacion()"  [disabled]="salvando">
        {{salvando ? 'Validando ...' : 'Realizar cotización'}}
        <i class="fa" [class.fa-sync]="salvando" [class.fa-spin]="salvando" [class.fa-save]="!salvando"></i>
      </button>
    </div>
  </div>

  <app-tarjeta-faltantes [faltante_s]="faltante_s"></app-tarjeta-faltantes>

  <div class="modal fade" id="modalPaquetes" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="exampleModalLabel" aria-hidden="true">
<div
  class="modal-dialog modal-fullscreen modal-fullscreen-sm-down modal-fullscreen-md-down modal-fullscreen-lg-down modal-fullscreen-xl-down modal-fullscreen-xxl-down">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="staticBackdropLabel">Agregar paquete</h1>
      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" id="cerrar-modal">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <div class="modal-body m-2">
      <app-paquetes [modelo]="modelo" (infoPaquete)="agrega_principal( $event)" [btnfiltro]="true" ></app-paquetes>
    </div>
  </div>
</div>
</div>
<div class="modal fade" id="modalElemento" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="exampleModalLabel" aria-hidden="true">
<div
  class="modal-dialog modal-fullscreen modal-fullscreen-sm-down modal-fullscreen-md-down modal-fullscreen-lg-down modal-fullscreen-xl-down modal-fullscreen-xxl-down">
  <div class="modal-content">
    <div class="modal-header ml-3">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body m-2">
      <app-mo-refacciones [registro]="true" (dataElemento)="agrega_principal( $event )"></app-mo-refacciones>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="modalNewVehiculo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div
    class="modal-dialog modal-xl modal-fullscreen modal-fullscreen-sm-down modal-fullscreen-md-down modal-fullscreen-lg-down modal-fullscreen-xl-down modal-fullscreen-xxl-down">
    <div class="modal-content">
      <div class="modal-body m-2">

        <app-vehiculo [data_cliente]="infoCotizacion.data_cliente" (dataVehiculo)="vehiculo_registrado( $event )" ></app-vehiculo>
        
      </div>
    </div>
  </div>
</div>