/* You can add global styles to this file, and also import other style files */

/* @import '~@angular/material/prebuilt-themes/indigo-pink.css';  */
/* @import '~@angular/material/prebuilt-themes/pink-bluegrey.css'; */
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
/* @import '~@angular/material/prebuilt-themes/purple-green.css'; */

/* Tema oscuro */

/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */


/* Tema claro */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.tipo-paquete {
    color: #5ca04a !important;
}
  
.tipo-refaccion {
    color: #FF8623 !important;
    font-weight: bold;
}
  
.tipo-mo {
    color: #3574FA;
    font-weight: bold;
}
.pointer{
    cursor: pointer;
    font-weight: bold;
}