// Custom colors
$primary: #051d83;
$secondary: #747474;
// $success: #083f20;
$success: #1F7832;
$danger: #e4040c;
$warning: #f5a605;
$info: #17A2B8;


// #F54609
// Font family
$font-family-base: "Segoe UI";



// ... otras variables

// Include Bootstrap SCSS
@import "~bootstrap/scss/bootstrap";
