// Custom colors
$primary: #FF5733;
$secondary: #6C757D;
$success: #065D2C;
$danger: #e4040c;
$warning: #f5a605;
$info: #17A2B8;


// #F54609
// Font family
$font-family-base: 'Roboto', sans-serif;

// ... otras variables

// Include Bootstrap SCSS
@import "~bootstrap/scss/bootstrap";
