.calendar {
  width: vw(100%);
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: lavender;
}

.header {
  text-align: center;
  margin-bottom: 10px;
}

.weekdays {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.weekday {
  flex: 1;
  text-align: center;
  font-weight: bold;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  
}

.day {
  text-align: left;
  padding: 5px;
  background-color: #f2f2f2;
  cursor: pointer;
  height: 100px;
}
.noValido{
  background-color: rgba(208, 208, 219, 0.749);
  color: white;
}
.Valido{
  background-color: #ffffff;
  color: #050905;
}
.nulo{
  background-color: lavender;
  color: white;
}

.day:hover {
  background-color: rgb(85, 85, 129);
  color: white;
}


.pointer{
  text-decoration: none;
  cursor: pointer;
}

/* #miDiv.disabled {
  pointer-events: none;
  opacity: 0.5; 
}

.elemento {
  background-color: #ccc;
  padding: 10px;
  cursor: pointer;
} */

/* .elemento:hover {
  background-color: #f00;
  color: #fff;
} */


/* Cambiar el color del fondo del calendario */
.fc {
  background-color: #ffffff;
}

/* Cambiar el color del texto del título del evento */
.fc-event-title {
  color: #e71b1b;
}

/* Cambiar el color de fondo de los días del calendario */
.fc-day {
  background-color: #2015f4;
}

/* Cambiar el color del texto de los días del calendario */
.fc-day-number {
  color: #1ab66b;
}

/* Cambiar el color de fondo del encabezado del calendario */
.fc-toolbar {
  background-color: #720404;
}
.p-infocita{
  margin-top: 5px;
  margin-bottom: 5px;
}