<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-end text-uppercase fs-5 text-body">
      <button class="btn btn-sm btn-primary m-1" data-bs-toggle="modal" data-bs-target="#modalCita" (click)="nuevaCita = true; info_cita= null; id_cita = null">
          <i class="fas fa-calendar-edit"></i> Agendar cita
      </button>
  </div>
</div>
<!-- <full-calendar [plugins]="calendarPlugins" [events]="calendarEvents"></full-calendar> -->


<ng-container *ngIf="SUCURSAL === 'Todas'">
  <div class="row m-1">
    <div class="col-auto">
      <label for="">Filtrar por sucursal</label>
    </div>
    <div class="col-6">
      <select [(ngModel)]="sucursalCalendario" class="form-control form-control-sm" (ngModelChange)="obtenerCitasMes(sucursalCalendario)">
        <option value="Todas" >Todas</option>
        <option [value]="s.id" *ngFor="let s of sucursales_arr">{{s.sucursal}}</option>
      </select>
    </div>
  </div>
  
</ng-container>


<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-12 center" >
      <full-calendar [options]="calendarOptions"></full-calendar>
  </div>
</div>
{{lista_citas_proximas}}
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
    <h1>Citas de hoy</h1>
    <ng-container >
      <ol class="list-group list-group-numbered">
        <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let cita of lista_citas_proximas">
          <div class="ms-2 me-auto">
            <div class="fw-bold">
              {{cita.placas}}
              <i class="fa fa-ban text-danger m-1 pointer" matTooltip="Cancelar cita" matTooltipPosition="above" (click)="eliminaCita(cita)"></i>
              <i class="fa fa-calendar-exclamation text-danger m-1 pointer" matTooltip="Reagendar cita" matTooltipPosition="above"
                data-bs-toggle="modal" data-bs-target="#modalCita" (click)="nuevaCita = false; info_cita= cita; id_cita = cita.id"></i>
            </div>
            
            <p class="p-infocita"> Cliente: <strong> {{cita.fullname | capitalizarUno}} </strong></p>
            <p class="p-infocita"> Correo: <strong> {{cita.correo}} </strong></p>
            <p class="p-infocita"> Fecha: <strong> {{cita.dia}} {{cita.horario}} </strong></p>
            <p class="p-infocita"> Servicio: <strong> X </strong></p>
            <p class="p-infocita"> Sucursal: <strong> {{cita.sucursalShow}} </strong></p>
          </div>
          <span class="badge bg-primary rounded-pill" [ngClass]="{'bg-danger': !cita.confirmada}">{{cita.confirmadaShow}} Confirmada </span>
        </li>
      </ol>
    </ng-container>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
    <h1>Citas de dia seleccionado</h1>
    <ng-container >
      <ol class="list-group list-group-numbered">
        <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let cita of filtro_citas_mes_all">
          <div class="ms-2 me-auto">
            <div class="fw-bold">
              {{cita.placas}}
              <i class="fa fa-ban text-danger m-1 pointer" matTooltip="Cancelar cita" matTooltipPosition="above" (click)="eliminaCita(cita)"></i>
              <i class="fa fa-calendar-exclamation text-danger m-1 pointer" matTooltip="Reagendar cita" matTooltipPosition="above"
                data-bs-toggle="modal" data-bs-target="#modalCita" (click)="nuevaCita = false; info_cita= cita; id_cita = cita.id"></i>
            </div>
            
            <p class="p-infocita"> Cliente: <strong> {{cita.fullname | capitalizarUno}} </strong></p>
            <p class="p-infocita"> Correo: <strong> {{cita.correo}} </strong></p>
            <p class="p-infocita"> Fecha: <strong> {{cita.dia}} {{cita.horario}} </strong></p>
            <p class="p-infocita"> Servicio: <strong> X </strong></p>
            <p class="p-infocita"> Sucursal: <strong> {{cita.sucursalShow}} </strong></p>
          </div>
          <span class="badge bg-primary rounded-pill" [ngClass]="{'bg-danger': !cita.confirmada}">{{cita.confirmadaShow}} Confirmada </span>
        </li>
      </ol>
    </ng-container>
  </div>
</div>


<div class="modal fade" id="modalCita" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="exampleModalLabel" aria-hidden="true">
<div
  class="modal-dialog modal-xl modal-fullscreen modal-fullscreen-sm-down modal-fullscreen-md-down modal-fullscreen-lg-down modal-fullscreen-xl-down modal-fullscreen-xxl-down ">
  <div class="modal-content">
    <div class="modal-body m-2">
      <app-registra-cita [id_cita]="id_cita" [info_cita]="info_cita" [nuevaCita]="nuevaCita"></app-registra-cita>
    </div>
  </div>
</div>
</div>


<div class="modal fade" id="modalCitaDetalles" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="exampleModalLabel" aria-hidden="true">
<div
  class="modal-dialog modal-xl modal-fullscreen modal-fullscreen-sm-down modal-fullscreen-md-down modal-fullscreen-lg-down modal-fullscreen-xl-down modal-fullscreen-xxl-down ">
  <div class="modal-content">
    <div class="modal-body m-2">
      <!-- fsjkfdgb -->
      <div class="modal-body m-2">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-end">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <h1>Citas del dia {{ formateada }}</h1>
          </div>
          <ng-container *ngIf="info_cita">
            <div class="card col-lg-4 col-md-4 col-sm-6 col-12">
              <div class="card-body">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">Cliente: <strong> {{info_cita.fullname}} </strong></div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">Correo: <strong> {{info_cita.correo}} </strong></div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">Vehiculo: <strong> {{info_cita.placas}} </strong></div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">Dia: <strong> {{info_cita.dia}} </strong></div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">Horario: <strong> {{info_cita.horario}} </strong></div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">Sucursal: <strong> {{info_cita.sucursalShow}} </strong></div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">Asistio: <strong> {{info_cita.asistenciaShow}} </strong></div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">Recordatorio: <strong> {{info_cita.recordatorioShow}} </strong></div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">Confirmada: <strong> {{info_cita.confirmadaShow}} </strong></div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <!-- fsjkfdgb -->
    </div>
  </div>
</div>
</div>


<div class="mb-5 mt-5">
  <div class="col">

  </div>
</div>