<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-end text-uppercase fs-5 text-body">
      <button class="btn btn-sm btn-primary m-1" data-bs-toggle="modal" data-bs-target="#modalCita" (click)="nuevaCita = true">
          <i class="fas fa-calendar-edit"></i> Agendar cita
      </button>
  </div>
</div>
<h2>Calendario de Citas</h2> 

<div class="calendar mt-2">
  <div class="header">
    <h2>Ver las citas registradas del mes {{mesMuestra | capitalizarUno}} {{numeroAnio}}</h2>
    <h2>
      <!-- <button [disabled]="isClicked" class="btn btn-sm btn-success">aqui</button> -->
      <i class="fas fa-chevron-double-left m-1 pointer btn btn-light" (click)="aumentaAnio('-')"></i>
      <i class="fas fa-chevron-left m-1 pointer btn btn-light" (click)="aumentaNumeroMes('-')"></i>
      <i class="fas fa-chevron-right m-1 pointer btn btn-light" (click)="aumentaNumeroMes('+')"></i>
      <i class="fas fa-chevron-double-right m-1 pointer btn btn-light"  (click)="aumentaAnio('+')"></i>
    </h2>
  </div>
  <div class="weekdays">
    <div class="weekday">Lun</div>
    <div class="weekday">Mar</div>
    <div class="weekday">Mié</div>
    <div class="weekday">Jue</div>
    <div class="weekday">Vie</div>
    <div class="weekday">Sáb</div>
    <div class="weekday">Dom</div>
  </div>
  <div class="days" id="miDiv"  [class.disabled]="isClicked">
      <div class="day"  [ngClass]="day.clase" *ngFor="let day of dias_mes_arr"
      (click)="obetnerCitasDelDia(day)">
        <div class="row">
          <div class="col">
              {{day.index}}
          </div>
        </div>
      </div>
  </div>
</div>




<div class="modal fade" id="modalCita" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div
    class="modal-dialog modal-xl modal-fullscreen modal-fullscreen-sm-down modal-fullscreen-md-down modal-fullscreen-lg-down modal-fullscreen-xl-down modal-fullscreen-xxl-down ">
    <div class="modal-content">
      <div class="modal-body m-2">
        <ng-container *ngIf="nuevaCita; else elseTemplate">
          <app-registra-cita [RegistraCita]="nuevaCita"></app-registra-cita>
        </ng-container>
        <ng-template #elseTemplate>
        </ng-template>
        
        
      </div>
    </div>
  </div>
</div>

<div class="mb-5 mt-5">
  <div class="col">

  </div>
</div>