a {
  text-decoration: none;
  cursor: pointer;
}
.pointer{
  cursor: pointer;
}
mat-paginator{
  width: 100%;
}
table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  

  .tipo-paquete {
    color: #5ca04a !important;
  }
  
  .tipo-refaccion {
    color: #FF8623 !important;
  }
  
  .tipo-mo {
    color: #3574FA;
  }

  input.smallInput {
    max-width: 80px;
  }

  .status-aprobado{
    color: #3574FA;
  }
  .card{
    border-radius: 15px;
    margin: 1px;
  }
  canvas {
    background-color: lavender;
    touch-action: none;
  }
  canvas#main-canvas{
    background-color: rgb(255, 255, 255,1);
    border:1px solid black
  }

  .ocultar{
    display: none;
  }
  .mostrar{
    display: block;
  }